$('#delete_wishlist_<%=@wishlist_line_item.id%>').remove();
$('#total_wishlist_items_badge').html("<%= @current_wishlist.wishlist_line_items.count %>");
$("#remove-success").html("<%= custom_flash_message%>");
