<header class="header">
  <a href="/">
    <img class="page-not-found" src="imgs/back.png" alt="back" />
  </a>
</header>

<main class="main">
  <div class="error">error</div>
  <img class="page-not-found" src="imgs/construction.png" />
  <h2>Our Page</h2>
  <h3 style="margin-top: 20px;">Is Under Construction Please go to home</h3>
  <a href="/" class="btn btn-success btn-lg" style="margin-top: 30px;">Go To Home</a>
  </div>
</main>

<style media="screen">
  header.panhara_tm_header{
    display: none;
  }
</style>
