<li class="wow fadeInUp record" data-wow-duration="1.2s"  data-id="<%=blog.id%>">
   <div class="inner_list">
      <%=link_to blog_path(blog.slug) do%>
      <div class="image_wrap">
         <img class="small" src="<%=blog.image%>" alt=""/>
         <img class="big" src="<%=blog.image%>" alt=""/>
         <div class="news_image" data-url="<%=blog.image%>"></div>
      </div>
      <%end%>
      <div class="definitions_wrap">
         <div class="date_wrap">
            <p><%=time_ago(blog.created_at)%>
               <a href="index.html"><%=blog.category.category_name%></a>
            </p>
         </div>
         <div class="title_holder_blog">
            <h3>
               <%=link_to blog.title.capitalize, blog_path(blog.slug)%>
            </h3>
         </div>
         <div class="full_def">
            <%=raw markdown(blog.description)%>
         </div>
         <div class="panhara_tm_popup_share_wrap">
            <%= social_share_button_tag(blog.title) %>
            <ul>
               <li>
                  <a href="#">Facebook</a>
               </li>
               <li>
                  <a href="#">Twitter</a>
               </li>
               <li>
                  <a href="#">Linkedin</a>
               </li>
               <li>
                  <a href="#">Behance</a>
               </li>
            </ul>
         </div>
         <div class="read_more">
            <a href="#">
            <span>Read More</span></a>
         </div>
      </div>
   </div>
</li>
