<% title "Blogs | panhara.work"%>
<style media="screen">
   .panhara_tm_header {
   display: none;
   }
</style>
<div id="block"></div>
<%=render "blog_nav"%>
<!-- NEWS -->
<div class="panhara_tm_section" id="news" style="margin-top: 60px;">
   <div class="panhara_tm_news_wrap">
      <div class="container">
         <%=render "shared/search_blog"%>
         <div class="panhara_tm_main_title_holder news" style="margin-top: 30px;">
            <h3>Latest News</h3>
            <span>Check out our latest news</span>
         </div>
         <div class="panhara_tm_list_wrap blog_list" data-column="2" data-space="40">
            <ul class="total blog_data">
               <%=render @blogs%>
            </ul>
            <div class="row">
               <div class="col-lg-12">
                  <div class="load-more-container">
                     <div class="btn-load">
                        <%= image_tag "ajax-loader.gif", style: "display:none;", class: "loading-gif" %>
                        <%= link_to "Load More", blogs_path, class: "load-more", id: "send_message" %>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- /NEWS -->
