<% title "#{@blog.title} | panhara.work"%>
<style media="screen">
   body {
   font-size: 20px;
   color: #212529;
   font-family: "Open Sans";
   }
   .panhara_tm_header {
   display: none;
   }
   .panhara_tm_news_wrap {
   background: #fff;
   }
   .mb-50 {
   margin-bottom: 30px;
   }

   div.article > h3{
     margin-top: 20px;
     margin-bottom: 20px;
     font-size: 16px;
   }
</style>
<div id="block"></div>
<%=render "blog_nav"%>
<!-- NEWS -->
<div class="panhara_tm_section" id="news" style="margin-top: 60px;">
   <div class="panhara_tm_news_wrap">
      <div class="container">
         <article>
            <div class="row">
               <div class="col-lg-9 col-md-9 col-sm-9">
                  <h2 class="section-heading mb-50"><%=@blog.title.capitalize%></h2>
                  <img src="<%=@blog.image%>" alt="" style="margin-bottom: 30px;">
                  <div  class="article">
                     <%=raw markdown(@blog.description)%>
                  </div>
               </div>
               <div class="col-lg-3 col-md-3 col-sm-3">
                  <div class="widget recent-posts">
                     <h3 class="widget-title h-title" style="margin-bottom: 20px;">Recent Posts</h3>
                     <div class="widget-body ptb-30">
                        <%@blogs.each do |blog|%>
                        <div class="recent-post media">
                           <div class="post-thumb media-left">
                              <a href="#">
                              <img class="media-object" src="<%=blog.image%>" alt="">
                              </a>
                           </div>
                           <div class="media-body">
                              <h5 class="font-15 mb-10">
                                 <%=link_to blog.title, blog_path(blog.slug), class: "blog-title"%>
                              </h5>
                              <ul class="post-meta list-inline">
                                 <li><%=time_ago(blog.created_at)%></li>
                              </ul>
                           </div>
                        </div>
                        <%end%>
                     </div>
                  </div>
               </div>
            </div>
         </article>
      </div>
   </div>
</div>
<!-- /NEWS -->
