<%= form_for(resource, as: resource_name, url: registration_path(resource_name),:class=>"login-form cf-style-1") do |f| %>
<%= devise_error_messages! %>

<%= f.text_field :username, autofocus: true,:class=>"form-control", :placeholder=>"Usernmae"%>

<%= f.email_field :email, autofocus: true,:class=>"form-control", :placeholder=>"Email"%>

<%= f.password_field :current_password, autocomplete: "off" ,:class=>"form-control", :placeholder=>"Current Password"%>

<%= f.password_field :password, autocomplete: "off",:class=>"form-control", :placeholder=>"Password"%>

<% if @minimum_password_length %>
  <em>(<%= @minimum_password_length %>
    characters minimum)</em>
<% end %>

<%= f.password_field :password_confirmation, autocomplete: "off",:class=>"form-control", :placeholder=>"Confirmation Password"%>

<%= f.submit "Create Free Account",:class=>"btn btn-success" do%>
<i class="fa fa-angle-right ml5"></i>
<%end%>

<%end%>

<%=link_to "Already Have Account? Sign In",new_user_registration_path, :class=>"btn btn-primary btn-block"%>
