<div class="jumbo-page">
   <main class="">
      <div class="container-fluid">
         <div class="row ">
            <div class="col-lg-4  bg-white">
               <div class="row align-items-center m-h-100">
                  <div class="mx-auto col-md-8">
                     <div class="p-b-20 text-center">
                        <a href="/">
                           <p>
                              <img src="/images/logo.png" width="80" alt="">
                           </p>
                           <p class="admin-brand-content">
                              Panhara.work
                           </p>
                        </a>
                     </div>
                     <h3 class="text-center p-b-20 fw-400">Sign Up</h3>
                     <div class="needs-validation">
                        <%= form_for(resource, as: resource_name, url: registration_path(resource_name),:class=>"login-form cf-style-1") do |f| %>
                        <%= devise_error_messages! %>
                        <div class="form-group floating-label col-md-12">
                           <label>Country</label>
                           <%= f.text_field :country_code, autofocus: true,:class=>"form-control", :placeholder=>"Phone", id: "authy-countries"%>
                        </div>
                        <div class="form-group floating-label col-md-12">
                           <label>Phone Number</label>
                           <%= f.text_field :phone_number, autofocus: true,:class=>"form-control", :placeholder=>"Example: 095477325"%>
                        </div>
                        <div class="form-group floating-label col-md-12">
                           <label>Email</label>
                           <%= f.email_field :email, autofocus: true,:class=>"form-control", :placeholder=>"Example: example@gmail.com"%>
                        </div>
                        <div class="form-group floating-label col-md-12">
                           <label>Password</label>
                           <%= f.password_field :password, autocomplete: "off",:class=>"form-control", :placeholder=>"Password"%>
                        </div>
                        <div class="form-group floating-label col-md-12">
                           <label>Confirmation Password</label>
                           <%= f.password_field :password_confirmation, autocomplete: "off",:class=>"form-control", :placeholder=>"Confirmation Password"%>
                        </div>
                        <div class="form-group floating-label col-md-12">
                           <button type="submit" class="btn btn-primary btn-block btn-lg">Sign Up</button>
                        </div>
                        <%end%>
                     </div>
                     <p class="text-right p-t-10">
                        <%=link_to "Already have an account", sign_in_path, class: "text-underline"%>
                     </p>
                  </div>
               </div>
            </div>
            <div class="col-lg-8 d-none d-md-block bg-cover" style="background-image: url('/images/login.svg');">
            </div>
         </div>
      </div>
   </main>
</div>
