  <%=simple_form_for([:admin, @account], remote: true) do |f|%>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Account Name</label>
        <%=f.text_field :account_name, class: "form-control"%>
      </div>
      <div class="form-group col-md-6">
        <label>Amount</label>
        <%=f.number_field :amount, class: "form-control", placeholder: "$", disabled: true%>
      </div>

      <div class="form-group col-md-12">
        <label>Currency</label>
        <%= f.select :currency, Account::SELECT_CURRENCY, {}, {:class=>"form-control"} %>
      </div>

      <div class="form-group col-md-12">
        <label>Description</label>
        <%=f.text_area :description, class: "form-control", rows: 10%>
      </div>

      <div class="col-md-6">
         <div class="form-group">
            <label class="cstm-switch">
            <%=f.check_box :status, class: "cstm-switch-input"%>
            <span class="cstm-switch-indicator "></span>
            <span class="cstm-switch-description"> Status</span>
            </label>
         </div>
      </div>
      <div class="form-group col-md-12">
        <%=f.submit "Save User", class: "btn btn-primary"%>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
   </div>
<%end%>
