<%=content_tag :div, class: "modal fade modal-slide-right", id: "edit_#{dom_id(@account, :modal)}" do%>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="row">
          <div class="col-md-12">
            <h5 class="m-b-0" id="edit_user">Edit Type</h5>
          </div>
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%=simple_form_for([:admin, @account], remote: true) do |f|%>
        <div class="modal-body overflow-auto">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label>Account Name</label>
              <%=f.text_field :account_name, class: "form-control"%>
            </div>
            <div class="form-group col-md-6">
              <label>Amount</label>
              <%=f.number_field :amount, class: "form-control", placeholder: "$", disabled: true%>
            </div>

            <div class="form-group col-md-12">
              <label>Currency</label>
              <%= f.select :currency, Account::SELECT_CURRENCY, {}, {:class=>"form-control"} %>
            </div>

            <div class="form-group col-md-12">
              <label>Description</label>
              <%=f.text_area :description, class: "form-control", rows: 10%>
            </div>

            <div class="col-md-6">
               <div class="form-group">
                  <label class="cstm-switch">
                  <%=f.check_box :status, class: "cstm-switch-input"%>
                  <span class="cstm-switch-indicator "></span>
                  <span class="cstm-switch-description"> Status</span>
                  </label>
               </div>
            </div>
            
          </div>
        </div>
        <div class="modal-footer justify-content-start">
          <%=f.submit "Update", class: "btn btn-primary"%>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      <%end%>
    </div>
  </div>
<%end%>
