<%=content_tag :div, class: "modal fade bd-example-modal-lg", id: "detail_#{dom_id(@account, :modal)}" do%>
  <div class="modal-dialog modal-dialog-centered modal-extra-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="myLargeModalLabel">Account: <%=@account.account_name.capitalize%></h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-4">
            <h3 class="text-center">Incomes</h3>
            <div class="timeline">
              <ul>
                <%@account.incomes.each do |income|%>
                <li>
                  <div class="content">
                    <h5><%=income.category%></h5>
                    <p>
                      <%=number_to_currency(income.amount)%>
                    </p>
                  </div>
                  <div class="time">
                    <h4>January 2018</h4>
                  </div>
                </li>
                <%end%>
                <div style="clear:both;"></div>
              </ul>
            </div>
          </div>
          <div class="col-lg-8">
            <div class="row">
              <div class="col-lg-6">
                <div class="card m-b-30">
                  <div class="card-body">
                    <div class="row">
                      <div class="col my-auto">
                        <div class="h6 text-muted ">Earned
                        </div>
                      </div>
                      <div class="col-auto my-auto">
                        <div class="avatar">
                          <div class="avatar-title rounded-circle badge-soft-danger">
                            <i class="mdi mdi-heart  "></i>
                          </div>
                        </div>
                      </div>
                    </div>
                    <h1 class="display-4 fw-600" id="total_amount"><%=number_to_currency(@account.incomes.sum(:amount) + @account.amount)%></h1>
                    <div class="h6">
                      <span class="text-success">
                        <i class="mdi mdi-arrow-top-right"></i>
                        +0.65%
                      </span>
                      More activity than usual.
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="card m-b-30">
                  <div class="card-body">
                    <div class="row">
                      <div class="col my-auto">
                        <div class="h6 text-muted ">Expense
                        </div>
                      </div>
                      <div class="col-auto my-auto">
                        <div class="avatar">
                          <div class="avatar-title rounded-circle badge-soft-danger">
                            <i class="mdi mdi-heart  "></i>
                          </div>
                        </div>
                      </div>
                    </div>
                    <h1 class="display-4 fw-600" id="total_amount"><%=number_to_currency(@account.expenses.sum(:amount))%></h1>
                    <div class="h6">
                      <span class="text-success">
                        <i class="mdi mdi-arrow-top-right"></i>
                        +0.65%
                      </span>
                      More activity than usual.
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
<%end%>
