$("input#account_amount").val(0);
$("input#account_account_name").val("");
$(".disabled").attr("disabled", false)
$("#account-errors").html(" ");
$("#account-success").html("<%= custom_flash_message%>");
$("#account-index").append("<%=escape_javascript render(@account)%>");
$("#total_amount").html("<%=number_to_currency(@account.account_total)%>");
$("#total_amount_plus_income").html("<%=number_to_currency(@account.account_total_plus_income)%>");
$(function() {
  $('.delete_account_<%=@account.id%>').submitOnCheck();
});

$('.delete_account_<%=@account.id%>').submitOnCheck();
