<%=render "admin/shared/aside"%>
<main class="admin-main">
  <!--site header begins-->
  <%=render "admin/shared/header"%>
  <!--site header ends -->
  <section class="admin-content">
    <div class="container">
      <div class="row m-t-30">
        <div class="col-md-12 col">
          <div class="kanban-item" style="margin-bottom: 0px;">
            <a class="kanban-item-title btn btn-primary" style="color: #fff;">
              <i class="mdi mdi-plus-circle-outline"></i>
              Add Account
            </a>
          </div>
        </div>
      </div>
      <!-- Content -->
        <div class="row m-t-30" id="account-index">
          <% if @accounts.any? %>
            <%= render @accounts%>
          <% end %>
        </div>
    </main>
    <div class="modal fade modal-slide-right" id="kanbanItemModal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <div class="row">
              <div class="col-md-12">
                <h5 class="m-b-0">Create Account</h5>
              </div>
            </div>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body overflow-auto">
            <div id="accounts">
              <div id="account-errors"></div>
              <div id="account-success"></div>
              <%=render partial: "account_form", locals: {income: @account}%>
            </div>
          </div>
        </div>
      </div>
    </div>
