$("#account-success").html("<br><%= j render partial: 'layouts/flash_success', locals: {flash: :flash}%>");
$("#edit_account_name_<%=@account.id%>").html("<i class='fa fa-circle' style='color: green;''></i> <%=@account.account_name%>");
$("#edit_account_amount_<%=@account.id%>").html("<%=number_to_currency(@account.amount)%>");
$("#total_amount").html("<%=number_to_currency(@account.account_total)%>");
$("#total_amount_plus_income").html("<%=number_to_currency(@account.account_total_plus_income)%>");
