<tr class="delete_product_type_<%=product_type.id%>">
  <td id="data_<%=product_type.id%>">
    <%=product_type.id%>
  </td>
  <td>
    <%=product_type.type_name%>
  </td>
  <td>
    <%=time_ago(product_type.created_at)%>
  </td>
  <td class="text-center">
    <%=form_for([:admin, product_type], remote: true) do |f|%>
      <%=link_to admin_product_type_path(product_type), remote: true,class: "btn btn-primary", "data-target" => "bd-example-modal-lg-panhara" do %>
        View
      <%end%>
      <%=link_to edit_admin_product_type_path(product_type),id: "link_#{product_type.id}",class: "btn btn-primary", remote: true do %>
        Edit
      <% end %>
    <%end%>
  </td>
</tr>
