$('body').append('<%= j render partial: "admin/product_types/edit"%>');
$('#edit_<%= dom_id @product_type, :modal%>').modal('toggle');

$('tr').find('td:nth-child(2)').each(function(){
  if ($(this).text().trim() == "<%=@product_type.type_name%>") {
    $(this).parent().addClass("edit_row_<%=@product_type.id%>")
  }
});
