<!-- HEADER -->
<header class="panhara_tm_header">
   <div class="panhara_tm_navigation_wrap">
      <div class="container">
         <div class="navigation_inner">
            <div class="logo">
               <a class="light_logo" href="/"><img src="/img/logo/logo.png" alt=""/></a>
            </div>
            <div class="nav_list_wrap">
               <div class="menu">
                  <ul class="anchor_nav">
                     <li>
                        <a href="#home">Home</a>
                     </li>
                     <li>
                        <a href="#about">About</a>
                     </li>
                     <li>
                        <a href="#services">Services</a>
                     </li>
                     <li>
                        <a href="#portfolio">Portfolio</a>
                     </li>
                     <li>
                        <a href="#news">News</a>
                     </li>
                     <li>
                        <%=link_to "Products", products_path%>
                     </li>
                     <li>
                        <a href="#contact">Contact</a>
                     </li>
                     <%if user_signed_in?%>
                     <li id="fat-menu" class="dropdown">
                        <a href="#" class="dropdown-toggle" id="drop3" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        Profile
                        <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="drop3">
                           <li>
                              <%=link_to "Your Account", profile_path%>
                           </li>
                           <li role="separator" class="divider"></li>
                           <li>
                              <%=link_to "Logout", destroy_user_session_path, method: :delete%>
                           </li>
                        </ul>
                     </li>
                     <%else%>
                     <li id="fat-menu" class="dropdown">
                        <a href="#" class="dropdown-toggle" id="drop3" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        Account
                        <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="drop3">
                           <li>
                              <%=link_to "Sign In", sign_in_path%>
                           </li>
                           <li>
                              <%=link_to "Sign Up", sign_up_path%>
                           </li>
                        </ul>
                     </li>
                     <%end%>
                  </ul>
               </div>
            </div>
            <div class="panhara_tm_trigger">
               <div class="hamburger hamburger--collapse-r">
                  <div class="hamburger-box">
                     <div class="hamburger-inner"></div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="panhara_tm_mobile_menu_wrap">
      <div class="mob_menu">
         <ul class="anchor_nav">
            <li>
               <a href="#home">Home</a>
            </li>
            <li>
               <a href="#about">About</a>
            </li>
            <li>
               <a href="#services">Services</a>
            </li>
            <li>
               <a href="#portfolio">Portfolio</a>
            </li>
            <li>
               <a href="#news">News</a>
            </li>
            <li>
               <%=link_to "Products", products_path%>
            </li>
            <li>
               <a href="#contact">Contact</a>
            </li>
            <%if user_signed_in?%>
            <li id="fat-menu" class="dropdown">
               <a href="#" class="dropdown-toggle" id="drop3" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
               Profile
               <span class="caret"></span>
               </a>
               <ul class="dropdown-menu" aria-labelledby="drop3">
                  <li>
                     <%=link_to "Your Account", profile_path%>
                  </li>
                  <li role="separator" class="divider"></li>
                  <li>
                     <%=link_to "Logout", destroy_user_session_path, method: :delete%>
                  </li>
               </ul>
            </li>
            <%else%>
            <li id="fat-menu" class="dropdown">
               <a href="#" class="dropdown-toggle" id="drop3" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
               Account
               <span class="caret"></span>
               </a>
               <ul class="dropdown-menu" aria-labelledby="drop3">
                  <li>
                     <%=link_to "Sign In", sign_in_path%>
                  </li>
                  <li>
                     <%=link_to "Sign Up", sign_up_path%>
                  </li>
               </ul>
            </li>
            <%end%>
         </ul>
      </div>
   </div>
</header>
<!-- /HEADER -->
