<div class="col-lg-4">
   <ul class="sidebar-menu">
      <li>
         <span class="nav-section-title"></span>
      </li>
      <li>
         <%=link_to admin_dashboard_path do%>
         <span class="fa fa-dashboard"></span>Dashboard
         <%end%>
      </li>
      <li>
         <%=link_to admin_users_path do%>
         <span class="fa fa-users"></span>Customer
         <%end%>
      </li>
      <li>
         <%=link_to admin_admins_path do%>
         <span class="fa fa-users"></span>Administrator
         <%end%>
      </li>
      <li class="have-children">
         <a href="#">
         <span class="fa fa-file"></span>Content
         </a>
         <ul>
            <li>
               <%=link_to "Category", admin_categories_path%>
            </li>
            <li>
               <%=link_to "Blog", admin_blogs_path%>
            </li>
         </ul>
      </li>
      <li class="have-children">
         <a href="#">
         <span class="fa fa-user-circle-o"></span>Portfolio
         </a>
         <ul>
            <li>
               <%=link_to "Category", admin_category_portfolios_path%>
            </li>
            <li>
               <%=link_to "Portfolio", admin_portfolios_path%>
            </li>
         </ul>
      </li>
      <li class="have-children">
         <a href="#">
         <span class="fa fa-product-hunt"></span>Inventory
         </a>
         <ul>
            <li>
               <%=link_to "Types", admin_product_types_path%>
            </li>
            <li>
               <%=link_to "Products", admin_products_path%>
            </li>
         </ul>
      </li>
      <li>
         <%=link_to admin_orders_path do%>
         <span class="fa fa-cart-arrow-down"></span>Order
         <%end%>
      </li>
      <li>
         <%=link_to admin_line_items_path do%>
         <span class="fa fa-binoculars"></span>Order Details
         <%end%>
      </li>
      <li>
         <%=link_to edit_admin_setting_path(2) do%>
         <span class="fa fa-gear"></span>Settings
         <%end%>
      </li>
      <li>
         <a href="#">
         <span class="fa fa-bug"></span>Configuration
         </a>
      </li>
   </ul>
</div>
