  <%=simple_form_for([:admin, @expense], remote: true) do |f|%>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Account</label>
        <%= f.collection_select :account_id, Account.all, :id, :account_name, {}, {:class=>"form-control"} %>
      </div>
      <div class="form-group col-md-6">
        <label>Category</label>
        <%= f.select :category, Expense::SELECT_CATEGORY, {}, {:class=>"form-control"} %>
      </div>
      <div class="form-group col-md-6">
        <label>Amount</label>
        <%=f.number_field :amount, class: "form-control"%>
      </div>
      <div class="form-group col-md-6">
        <label>Expense</label>
        <%=f.date_field :expense_date, class: "form-control"%>
      </div>
      <div class="form-group col-md-12">
        <label>Expense</label>
        <%=f.text_area :description, class: "form-control", rows: 10%>
      </div>
      <div class="form-group col-md-12">
        <%=f.submit "Save User", class: "btn btn-primary"%>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
   </div>
<%end%>
