<div class="col-lg-4">
  <!--widget card begin-->
  <div class="card m-b-30">
    <div class="card-header">
      <div class="card-title">
        <i class="fa fa-btc" style="color: #4c66fb;"></i>
        Expense Statement
      </div>
      <div class="card-controls">
        <div class="dropdown">
          <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-angle-down"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-left">
            <button class="dropdown-item" type="button">Transfer</button>
            <button class="dropdown-item" type="button">Adjustment</button>
            <%=link_to edit_admin_expense_path(expense),id: "link_#{expense.id}",class: "dropdown-item", remote: true do %>
              Edit
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body">
      <h4 class="m-t-20 m-b-20" style="font-size: 24px;" id="edit_expense_name_<%=expense.id%>">
         <i class="fa fa-circle" style="color: green;"></i>
        <%=expense.category%>
      </h4>
      <h4 class="m-t-20 m-b-20" style="font-size: 24px;" id="edit_expense_amount_<%=expense.id%>">
        <%=number_to_currency(expense.amount)%>
      </h4>
      <div class="text-left p-b-20">
        <%=link_to admin_expense_path(expense), remote: true,class: "btn btn-primary", "data-target" => "bd-example-modal-lg-panhara" do %>
          View Detail
        <%end%>
      </div>
    </div>
  </div>
  <!-- Modal -->
</div>
