$("input#expense_amount").val("");
$(".disabled").attr("disabled", false)
$("#expense-errors").html(" ");
$("#expense-success").html("<%= custom_flash_message%>");
$("#expense-index").append("<%=escape_javascript render(@expense)%>");
$("#total_expense").html("<%=number_to_currency(@expense.total_expense)%>");
$(function() {
  $('.delete_expense_<%=@expense.id%>').submitOnCheck();
});

$('.delete_expense_<%=@expense.id%>').submitOnCheck();
