<%=render "admin/shared/aside"%>
<main class="admin-main">
  <!--site header begins-->
  <%=render "admin/shared/header"%>
  <!--site header ends -->
  <section class="admin-content">
    <div class="container">
      <div class="row m-t-30">
        <div class="col-md-12 col">
          <div class="kanban-item" style="margin-bottom: 0px;">
            <a class="kanban-item-title btn btn-primary" style="color: #fff;">
              <i class="mdi mdi-plus-circle-outline"></i>
              Add Expense
            </a>
          </div>
        </div>
        <div class="col-lg-12  m-t-30">
          <!--widget card begin-->
          <div class="card m-b-30">
            <div class="card-body">
              <div class="row">
                <div class="col my-auto">
                  <div class="h6 text-muted ">Total Expense
                  </div>
                </div>
                <div class="col-auto my-auto">
                  <div class="avatar">
                    <div class="avatar-title rounded-circle badge-soft-danger">
                      <i class="mdi mdi-heart  "></i>
                    </div>
                  </div>
                </div>
              </div>
              <h1 class="display-4 fw-600" id="total_expense"><%=number_to_currency(@expense.total_expense)%></h1>
              <div class="h6">
                <span class="text-success">
                  <i class="mdi mdi-arrow-top-right"></i>
                  +0.65%
                </span>
                More activity than usual.
              </div>
            </div>
          </div>
          <!--widget card ends-->
        </div>
      </div>
      <!-- Content -->
        <div class="row m-t-30" id="expense-index">
          <% if @expenses.any? %>
            <%= render @expenses%>
          <% end %>
        </div>
    </main>
    <div class="modal fade modal-slide-right" id="kanbanItemModal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <div class="row">
              <div class="col-md-12">
                <h5 class="m-b-0">Create Expense</h5>
              </div>
            </div>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body overflow-auto">
            <div id="expenses">
              <div id="expense-errors"></div>
              <div id="expense-success"></div>
              <%=render partial: "expense_form", locals: {income: @expense}%>
            </div>
          </div>
        </div>
      </div>
    </div>
