$("#expense-success").html("<br><%= j render partial: 'layouts/flash_success', locals: {flash: :flash}%>");
$("#edit_expense_name_<%=@expense.id%>").html("<i class='fa fa-circle' style='color: green;''></i> <%=@expense.category%>");
$("#edit_expense_amount_<%=@expense.id%>").html("<%=number_to_currency(@expense.amount)%>");
$("#total_expense").html("<%=number_to_currency(@expense.total_expense)%>");
