<div id="out_of_stock_error" style="display: none;"></div>
<style media="screen">
   .panhara_tm_header {
   display: none;
   }
</style>
<%=render "products/product_nav"%>
<div class="panhara_tm_content">
   <div class="panhara_tm_section" style="margin-top: 150px;">
      <div class="container-fluid">
         <div class="wrapper">
            <div class="cart-main-area pt-90 pb-100">
               <h3 class="cart-page-title">Your cart items</h3>
               <div class="row">
                  <div class="col-lg-9 col-md-12 col-sm-12 col-12">
                     <div class="table-content table-responsive cart-table-content">
                        <table>
                           <thead>
                              <tr>
                                 <th>Image</th>
                                 <th>Product Name</th>
                                 <th>Until Price</th>
                                 <th>Qty</th>
                                 <th>Size</th>
                                 <th>action</th>
                              </tr>
                           </thead>
                           <tbody>
                              <%@cart.line_items.each do |line_item|%>
                              <tr>
                                 <td class="product-thumbnail">
                                    <%line_item.product.assets.limit(1).each do |asset|%>
                                    <a href="#"><img src="<%=asset.image%>" alt="" style="width: 60%;"></a>
                                    <%end%>
                                 </td>
                                 <td class="product-name">
                                    <a href="#"><%=line_item.product.product_name.capitalize%></a>
                                 </td>
                                 <td class="product-price-cart">
                                    <span class="amount"><%=number_to_currency(line_item.product.product_price)%></span>
                                 </td>
                                 <td class="product-quantity">
                                    <%=link_to line_item_reduce_path(:id => line_item) , method: :post , style: "margin-top:15px; color: #fd4d4d;",class: "reduce-qty",remote: true do %>
                                    <i class="fa fa-minus"></i>
                                    <% end %>
                                    <span class="qty" id="qty_<%=line_item.id%>"><%=line_item.quantity%></span>
                                    <%=link_to line_item_add_path(:id => line_item) , method: :post , style: "margin-top:15px; color: #fd4d4d;",class: "increase-qty",remote: true do %>
                                    <i class="fa fa-plus"></i>
                                    <% end %>
                                 </td>
                                 <td style="width: 100%;padding-top: 0px;">
                                    <%=button_to s_size_path(:id => line_item, shirt_size: 'S') , method: :post , style: "margin-top:15px; color: #fd4d4d;",id: "selected_#{line_item.id}_s",class:"selected", remote: true do %>
                                    S
                                    <% end %>
                                    <%=button_to m_size_path(:id => line_item, shirt_size: 'M') , method: :post , style: "margin-top:15px; color: #fd4d4d;",id: "selected_#{line_item.id}_m",class:"selected", remote: true do %>
                                    M
                                    <% end %>
                                    <%=button_to l_size_path(:id => line_item, shirt_size: 'L') , method: :post , style: "margin-top:15px; color: #fd4d4d;",id: "selected_#{line_item.id}_l",class:"selected", remote: true do %>
                                    L
                                    <% end %>
                                    <%=button_to xl_size_path(:id => line_item, shirt_size: 'XL') , method: :post , style: "margin-top:15px; color: #fd4d4d;",id: "selected_#{line_item.id}_xl",class:"selected", remote: true do %>
                                    XL
                                    <% end %>
                                 </td>
                                 <td class="product-remove">
                                    <%=link_to line_item_path(@current_cart.line_items.find_by(product_id: line_item.product.id)) ,method: :delete do %>
                                    <i class="fa fa-times" style="color: #fd4d4d;"></i>
                                    <% end %>
                                 </td>
                              </tr>
                              <%end%>
                           </tbody>
                        </table>
                     </div>
                     <div class="row">
                        <div class="col-lg-12">
                           <div class="cart-shiping-update-wrapper">
                              <div class="cart-shiping-update">
                                 <%=link_to "Continue Shopping", products_path%>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-3 col-md-12">
                     <div class="grand-totall">
                        <div class="title-wrap">
                           <h4 class="cart-bottom-title section-bg-gary-cart">Cart Total</h4>
                        </div>
                        <h5>Total products
                           <span id="sub_total"><%=number_to_currency(@cart.sub_total)%></span>
                        </h5>
                        <h4 class="grand-totall-title" style="color: #fd4d4d;">Grand Total
                           <span id="grand_sub_total"><%=number_to_currency(@cart.sub_total)%></span>
                        </h4>
                        <%= link_to "Checkout", new_order_path , method: :get, style: "background: #fd4d4d;"%>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- /ABOUT -->
   <%=render "shared/footer"%>
</div>
<!-- /CONTENT -->
<div id="minus_one" style="display: none;"></div>
