<style media="screen">
   .panhara_tm_header {
   display: none;
   }
</style>
<%=render "products/product_nav"%>
<div class="panhara_tm_content">
   <div class="panhara_tm_section">
      <div class="container-fluid">
         <div class="panhara_tm_about_wrap">
            <div class="wrapper">
               <div class="cart-main-area pt-90 pb-100">
                  <h3 class="cart-page-title">Your Wishlist Items</h3>
                  <div class="row">
                     <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <form action="#">
                           <div class="table-content table-responsive cart-table-content">
                              <table>
                                 <thead>
                                    <tr>
                                       <th>Image</th>
                                       <th>Product Name</th>
                                       <th>Until Price</th>
                                       <th>Add To Cart</th>
                                    </tr>
                                 </thead>
                                 <tbody>
                                    <%@wishlist.wishlist_line_items.each do |wishlist|%>
                                    <tr>
                                       <td class="product-thumbnail">
                                          <%wishlist.product.assets.limit(1).each do |product|%>
                                          <a href="#">
                                          <img src="<%=product.image%>" alt="" style="width: 60%;">
                                          </a>
                                          <%end%>
                                       </td>
                                       <td class="product-name">
                                          <a href="#"><%=wishlist.product.product_name.capitalize%></a>
                                       </td>
                                       <td class="product-price-cart">
                                          <span class="amount"><%=number_to_currency(wishlist.product.product_price)%></span>
                                       </td>
                                       <td class="product-wishlist-cart">
                                          <%=link_to product_path( wishlist.product.slug), class: "btn", style: "color: #fff;background: #fd4d4d;" do %>
                                          <i class="fa fa-shopping-cart"></i>
                                          Product Detail
                                          <% end %>
                                       </td>
                                    </tr>
                                    <%end%>
                                 </tbody>
                              </table>
                           </div>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- /ABOUT -->
   <%=render "shared/footer"%>
</div>
<!-- /CONTENT -->
