<%=content_tag :div, class: "modal fade modal-slide-right", id: "edit_#{dom_id(@order, :modal)}" do%>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="row">
          <div class="col-md-12">
            <h5 class="m-b-0" id="edit_user">Edit Order</h5>
          </div>
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%=simple_form_for([:admin, @order], remote: true) do |f|%>
        <div class="modal-body overflow-auto">
          <div class="form-row">
            <div class="col-md-12">
              <label class="cstm-switch">
                <%=f.check_box :status, class: "cstm-switch-input"%>
                <span class="cstm-switch-indicator "></span>
                <span class="cstm-switch-description"> Status </span>
              </label>
            </div>
          </div>
        </div>
        <div class="modal-footer justify-content-start">
          <%=f.submit "Update", class: "btn btn-primary"%>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      <%end%>
    </div>
  </div>
<%end%>
