<tr class="delete_order_<%=order.id%>">
  <td id="data_<%=order.id%>">
    <%=order.id%>
  </td>
  <td>
    <%=number_to_currency(order.sub_total)%>
  </td>
  <td>
    <%=order_status_converter(order.status, correct: "Delivered", incorrect: "In Progress")%>
  </td>
  <td>
    <%=time_ago(order.created_at)%>
  </td>
  <td>
    <%=time_ago(order.updated_at)%>
  </td>
  <td class="text-center">
    <%=form_for([:admin, order], remote: true) do |f|%>
      <%=link_to admin_order_path(order), remote: true,class: "btn btn-primary", "data-target" => "bd-example-modal-lg-panhara" do %>
        View
      <%end%>
      <%=link_to edit_admin_order_path(order),id: "link_#{order.id}",class: "btn btn-primary", remote: true do %>
        Edit
      <% end %>
    <%end%>
  </td>
</tr>
