<%=content_tag :div, class: "modal fade bd-example-modal-lg", id: "detail_#{dom_id(@order, :modal)}" do%>
  <div class="modal-dialog modal-dialog-centered modal-lg modal-xxl" role="document">
     <div class="modal-content">
        <div class="modal-header">
           <h5 class="modal-title" id="myLargeModalLabel">Large Modal</h5>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
           </button>
        </div>
        <div class="modal-body">
           <div class="bg-dark m-b-30">
              <div class="container">
                 <div class="row p-b-60 p-t-60">
                    <div class="col-md-6 text-white p-b-30">
                       <div class="media">
                          <div class="avatar avatar mr-3">
                             <div class="avatar-title bg-success rounded-circle mdi mdi-receipt  "></div>
                          </div>
                          <div class="media-body">
                             <div class="opacity-75">To,</div>
                             <h4 class="m-b-0"><%=@order.address_one%>
                             </h4>
                             <p class="opacity-75">
                                Invoice ID <span>#00<%=@order.id%></span>
                                <br>
                                Invoice Date : <%=@order.created_at%>
                             </p>
                             <button class="btn btn-white-translucent" id="printDiv">
                             <i class="mdi
                                mdi-printer"></i>
                             Print</button>
                          </div>
                       </div>
                    </div>
                    <div class="col-md-5 text-center m-b-30 ml-auto">
                       <div class="rounded text-white bg-white-translucent">
                          <div class="p-all-15">
                             <div class="row">
                                <div class="col-md-6 my-2 m-md-0">
                                   <div class="text-overline    opacity-75">amount received</div>
                                   <h3 class="m-0 text-success"><%=number_to_currency(@order.sub_total)%></h3>
                                </div>
                                <div class="col-md-6 my-2 m-md-0">
                                   <div class="text-overline    opacity-75">amount pending</div>
                                   <h3 class="m-0 text-danger">$0</h3>
                                </div>
                             </div>
                          </div>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
           <div class="pull-up">
              <div class="container" id="printableArea">
                 <div class="row">
                    <div class="col-md-12 m-b-40">
                       <div class="card">
                          <div class="card-body">
                             <div class="row">
                                <div class="col-md-6">
                                   <img src="assets/img/logos/nytimes.jpg" width="60" class="rounded-circle" alt="">
                                   <address class="m-t-10">
                                      To,<br>
                                      <span class="h4 font-primary">
                                      <%=@order.address_one%>
                                      </span>
                                   </address>
                                </div>
                                <div class="col-md-6 text-right my-auto">
                                   <h1 class="font-primary">INVOICE</h1>
                                   <div class="">Invoice Number: <span>#00<%=@order.id%></span></div>
                                   <div class="">Date: <%=@order.created_at%></div>
                                </div>
                             </div>
                             <div class="table-responsive ">
                                <table class="table m-t-50">
                                   <thead>
                                      <tr>
                                         <th class="">Products</th>
                                         <th class="text-center">QTY</th>
                                         <th class="text-center">Unit Price</th>
                                         <th class="text-right">Sub Total</th>
                                      </tr>
                                   </thead>
                                   <tbody>
                                      <%@order.line_items.each do |item|%>
                                      <tr>
                                         <td class="">
                                            <p class="text-black m-0"><%=item.product.product_name.capitalize%></p>
                                         </td>
                                         <td class="text-center"><%=item.quantity%></td>
                                         <td class="text-center"><%=number_to_currency(item.product.product_price)%></td>
                                         <td class="text-right"><%=number_to_currency(item.total_price)%></td>
                                      </tr>
                                      <%end%>
                                      <tr>
                                         <td colspan="3" class="text-right">
                                            Sub Total
                                         </td>
                                         <td colspan="2" class="text-right">
                                            <%=number_to_currency(@order.sub_total)%>
                                         </td>
                                      </tr>
                                      <tr>
                                         <td colspan="3" class="text-right">
                                            Discount
                                         </td>
                                         <td colspan="2" class="text-right">
                                            0.0
                                         </td>
                                      </tr>
                                      <tr class="">
                                         <td colspan="3" class="text-right">
                                            Taxes
                                         </td>
                                         <td colspan="2" class="text-right">
                                            $ 0.0
                                         </td>
                                      </tr>
                                      <tr class="bg-light">
                                         <td colspan="3" class="text-right">
                                            Total
                                         </td>
                                         <td colspan="2" class="text-right">
                                            <%=number_to_currency(@order.sub_total)%>
                                         </td>
                                      </tr>
                                   </tbody>
                                </table>
                             </div>
                             <div class="p-t-10 p-b-20">
                                <p class="text-muted ">
                                   Services will be invoiced in accordance with the Service Description. You must pay all undisputed invoices in full within 30 days of the invoice date, unless otherwise specified under the Special Terms and Conditions. All payments must reference the
                                   invoice number. Unless otherwise specified, all invoices shall be paid in the currency of the invoice
                                </p>
                                <hr>
                                <div class="text-center opacity-75">
                                   &copy; Panhara.work 2019
                                </div>
                             </div>
                          </div>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
        </div>
        <div class="modal-footer">
           <button type="button" class="btn btn-secondary" data-dismiss="modal">
           Close
           </button>
           <button type="button" class="btn btn-primary">Save changes</button>
        </div>
     </div>
  </div>
<%end%>
