<div id="order-success"></div>
<%=render "admin/shared/aside"%>
<main class="admin-main">
   <!--site header begins-->
   <%=render "admin/shared/header"%>
   <!--site header ends -->
   <section class="admin-content">
      <div class="container">
      <!-- Content -->
      <div class="row">
         <div class="col-md-12">
            <div class="card m-b-30 m-t-30">
               <div class="card-header">
                  <h5 class="m-b-0">
                     <i class="mdi mdi-checkbox-intermediate"></i> Orders
                  </h5>
               </div>
               <div class="card-body">
                  <div class="table-responsive">
                     <table class="table table-hover align-td-middle">
                        <thead>
                           <tr>
                              <th>#</th>
                              <th>Total</th>
                              <th>Status</th>
                              <th>Created_At</th>
                              <th>Updated_At</th>
                              <th class="text-center">Action</th>
                           </tr>
                        </thead>
                        <tbody id="order-index">
                           <%if @orders.any?%>
                           <%= render @orders%>
                           <%end%>
                        </tbody>
                     </table>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- Modal -->
   </section>
</main>
