$("#order-success").html("<br><%= j render partial: 'layouts/flash_success', locals: {flash: :flash}%>");
$(".edit_row_<%=@order.id%>").find('td:nth-child(3)').text("<%=order_status_converter(@order.status)%>").next().text("<%=time_ago(@order.created_at)%>").next().text("<%=time_ago(@order.updated_at)%>")
