<!-- ABOUT -->
<div class="panhara_tm_section" id="about">
  <div class="container">
    <div class="panhara_tm_about_wrap">
      <div class="author_wrap">
        <div class="leftbox">
          <div class="image_wrap">
            <img src="img/mypic.png" alt=""/>
          </div>
        </div>
        <div class="rightbox">
          <div class="panhara_tm_main_title_holder about">
            <h3>About Me</h3>
          </div>
          <div class="subtitle">
            <p>Graphic Designer &amp; Web Developer</p>
          </div>
          <div class="definition">
            <p>Hello! My name is
              <strong>Chhouk Tit Panhara</strong>. I am a web designer and developer, and I'm very passionate and dedicated to
              my work. With 4 years experience as a web designer and development, I have acquired the skills and knowledge necessary
              to make your project a success. I enjoy every step of the design process, from discussion and collaboration to concept
              and execution, but I find the most satisfaction in seeing the finished product do everything for you that it was created to do.
            </p>
          </div>
          <div class="progress_bar_wrap_total" data-space="small">
            <div class="panhara_tm_progress_wrap" data-size="small" data-round="c" data-strip="off">
              <div class="panhara_tm_progress" data-value="95" data-color="#000">
                <span><span class="label">Web Development</span><span class="number">95%</span></span>
                <div class="panhara_tm_bar_bg">
                  <div class="panhara_tm_bar_wrap">
                    <div class="panhara_tm_bar"></div>
                  </div>
                </div>
              </div>
              <div class="panhara_tm_progress" data-value="85" data-color="#000">
                <span><span class="label">Inkscape</span><span class="number">85%</span></span>
                <div class="panhara_tm_bar_bg">
                  <div class="panhara_tm_bar_wrap">
                    <div class="panhara_tm_bar"></div>
                  </div>
                </div>
              </div>
              <div class="panhara_tm_progress" data-value="75" data-color="#000">
                <span><span class="label">Web Design</span><span class="number">90%</span></span>
                <div class="panhara_tm_bar_bg">
                  <div class="panhara_tm_bar_wrap">
                    <div class="panhara_tm_bar"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="about_short_contact_wrap">
            <ul>
              <li>
                <span>
                  <label>Phone:</label>
                  +885 95 477 325</span>
              </li>
              <li>
                <span>
                  <label>Mail:</label>
                  <a href="index.html">titpanhara&#64;gmail.com</a>
                </span>
              </li>
            </ul>
          </div>
          <div class="buttons_wrap">
            <ul>
              <li>
                <a class="download" href="myresume.pdf" target="_blank">
                  <span>Download My Resume</span></a>
              </li>
              <li class="anchor">
                <a href="#contact">
                  <span>Send Message</span></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /ABOUT -->
