<!-- NEWS -->
<div class="panhara_tm_section" id="news">
  <div class="panhara_tm_news_wrap">
    <div class="container">
      <div class="panhara_tm_main_title_holder news">
        <h3>Latest News</h3>
        <span>Check out our latest news</span>
      </div>
      <div class="panhara_tm_list_wrap blog_list" data-column="2" data-space="40">
        <ul class="total">
          <%@blogs.each do |blog|%>
            <li class="wow fadeInUp" data-wow-duration="1.2s">
              <div class="inner_list">
                <div class="image_wrap">
                  <img class="small" src="<%=blog.image%>" alt=""/>
                  <img class="big" src="<%=blog.image%>" alt=""/>
                  <div class="news_image" data-url="<%=blog.image%>"></div>
                  <a class="link_news" href="index.html"></a>
                </div>
                <div class="definitions_wrap">
                  <div class="date_wrap">
                    <p><%=time_ago(blog.created_at)%>
                      <a href="index.html"><%=blog.category.category_name%></a>
                    </p>
                  </div>
                  <div class="title_holder">
                    <h3>
                      <%=link_to blog.title.capitalize, blog_path(blog.slug)%>
                    </h3>
                  </div>
                  <div class="full_def article">
                    <%=raw markdown(blog.description)%>
                  </div>
                  <div class="panhara_tm_popup_share_wrap">
                    <%= social_share_button_tag(blog.title) %>
                    <ul>
                      <li>
                        <a href="#">Facebook</a>
                      </li>
                      <li>
                        <a href="#">Twitter</a>
                      </li>
                      <li>
                        <a href="#">Linkedin</a>
                      </li>
                      <li>
                        <a href="#">Behance</a>
                      </li>
                    </ul>
                  </div>
                  <div class="read_more">
                    <a href="#">
                      <span>Read More</span></a>
                  </div>
                </div>
              </div>
            </li>
          <%end%>
        </ul>
        <div class="panhara_tm_button wow fadeIn" data-wow-duration="1.2s" data-wow-delay="0.8s">
          <%=link_to blogs_path, class: "send_message" do%>
            <span>Load More</span>
          <%end%>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /NEWS -->
