<!-- CONTACT -->
<div class="panhara_tm_section" id="contact">
  <div class="panhara_tm_contact_wrap_all">
    <div class="panhara_tm_main_title_holder contact">
      <h3>Get in Touch</h3>
      <span>Any question? Reach out to me and I will get back to you shortly.</span>
    </div>
    <div class="panhara_tm_contact_wrap">
      <div class="main_input_wrap">
        <form action="/" method="post" class="contact_form" id="contact_form">
          <div class="returnmessage" data-success="Your message has been received, We will contact you soon."></div>
          <div class="empty_notice">
            <span>Please Fill Required Fields</span></div>
          <div class="wrap wow fadeIn" data-wow-duration="1.2s" data-wow-delay="0.2s">
            <input id="name" type="text" placeholder="Your Name">
          </div>
          <div class="wrap wow fadeIn" data-wow-duration="1.2s" data-wow-delay="0.4s">
            <input id="email" type="text" placeholder="Your Email">
          </div>
          <div class="wrap wow fadeIn" data-wow-duration="1.2s" data-wow-delay="0.6s">
            <textarea id="message" placeholder="Your Message"></textarea>
          </div>
          <div class="panhara_tm_button wow fadeIn" data-wow-duration="1.2s" data-wow-delay="0.8s">
            <a id="send_message" href="#">
              <span>Send Message</span>
            </a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- /CONTACT -->
