<!-- COUNTER -->
<div class="panhara_tm_section">
  <div class="panhara_tm_counter_wrap_all">
    <div class="panhara_tm_universal_box_wrap">
      <div class="bg_wrap">
        <div class="overlay_image counter jarallax" data-speed="0"></div>
        <div class="overlay_color counter"></div>
      </div>
      <div class="content counter">
        <div class="container">
          <div class="panhara_tm_counter_wrap" data-col="4" data-delay="300">
            <ul class="panhara_tm_counter_list panhara_tm_miniboxes">
              <li>
                <div class="inner panhara_tm_minibox">
                  <h3><span><span class="panhara_tm_counter" data-from="0" data-to="100" data-speed="3000">0</span></span></h3>
                  <span>Projects Completed</span>
                </div>
              </li>
              <li>
                <div class="inner panhara_tm_minibox">
                  <h3><span><span class="panhara_tm_counter" data-from="0" data-to="200" data-speed="3000">0</span>K</span></h3>
                  <span>Lines of Code</span>
                </div>
              </li>
              <li>
                <div class="inner panhara_tm_minibox">
                  <h3><span><span class="panhara_tm_counter" data-from="0" data-to="80" data-speed="3000">0</span></span></h3>
                  <span>Happy Clients</span>
                </div>
              </li>
              <li>
                <div class="inner panhara_tm_minibox">
                  <h3><span><span class="panhara_tm_counter" data-from="0" data-to="100" data-speed="3000">0</span>%</span></h3>
                  <span>Satisfaction Guarantee</span>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /COUNTER -->
