<!-- FOOTER -->
<div class="panhara_tm_footer_total_wrap">
  <div class="panhara_tm_address_holder_wrap">
    <div class="container">
      <div class="inner_wrap">
        <ul>
          <li class="wow fadeIn" data-wow-duration="1.2s" data-wow-delay="0.2s">
            <div class="image_holder logo">
              <img src="/img/logo/logo.png" alt=""/>
            </div>
            <p>Web Designer And Development</p>
          </li>
          <li class="wow fadeIn" data-wow-duration="1.2s" data-wow-delay="0.4s">
            <div class="image_holder">
              <img class="svg" src="/img/svg/telephone.svg" alt=""/>
            </div>
            <p>+885 95 477 325</p>
          </li>
          <li class="wow fadeIn" data-wow-duration="1.2s" data-wow-delay="0.6s">
            <div class="image_holder">
              <img class="svg" src="/img/svg/envelope.svg" alt=""/>
            </div>
            <p>
              <a href="#">titpanhara@gmail.com</a>
            </p>
          </li>
          <li class="wow fadeIn" data-wow-duration="1.2s" data-wow-delay="0.8s">
            <div class="image_holder">
              <img class="svg" src="/img/svg/location2.svg" alt=""/>
            </div>
            <p>Phonm Penh, Cambodia Kingdom Of Wonder</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="panhara_tm_footer_wrap">
    <p class="wow fadeIn" data-wow-duration="1.2s">&copy; Copyright 2019. Designed by
      <a href="http://www.panhara.work">Chhouk Tit Panhara</a>
    </p>
  </div>
</div>
<!-- /FOOTER -->
