<!-- HERO -->
<div class="panhara_tm_section" id="home">
  <div class="panhara_tm_hero_header">
    <div class="panhara_tm_universal_box_wrap">
      <div class="bg_wrap">
        <div class="overlay_image hero jarallax" data-speed="0"></div>
        <div class="overlay_video"></div>
        <div class="overlay_color hero"></div>
      </div>
      <div class="content hero">
        <div class="container hero">
          <div class="panhara_tm_hero_title_second">
            <h5>Looking For a Web Designer And Development ...?</h5>
            <p class="name">Here I'm
              <span>Panhara</span></p>
            <p class="subtitle">I Have More Than 5 Years of Web Design And Web Application Experience</p>
            <div class="panhara_tm_hero_button anchor">
              <a href="#about" class="link">
                <span>Find Out More</span>
              </a>
              <%if user_signed_in?%>
                <%=link_to profile_path,class: "sign_in_btn", title: "#{current_user.email}" do%>
                  <span>Your Profile</span>
                <%end%>
              <%else%>
                <%=link_to sign_in_path,class: "sign_in_btn" do%>
                <span>Be a memeber</span>
                <%end%>
              <%end%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /HERO -->
