<!-- HEADER -->
<header class="panhara_tm_header">
	<div class="panhara_tm_navigation_wrap">
		<div class="container">
			<div class="navigation_inner">
				<div class="logo">
					<a class="light_logo" href="/"><img src="img/logo/logo.png" alt=""/></a>
				</div>
				<div class="nav_list_wrap">
					<div class="menu">
						<ul class="anchor_nav">
							<li>
								<a href="/">Home</a>
							</li>
							<li>
								<%=link_to "Products", products_path%>
							</li>
							<li>
								<a href="#contact">Contact</a>
							</li>
							<%if admin_signed_in?%>
								<li>
									<%=link_to "Logout",  destroy_admin_session_path, method: :delete%>
								</li>
							<%end%>
						</ul>
					</div>
				</div>
				<div class="panhara_tm_trigger">
					<div class="hamburger hamburger--collapse-r">
						<div class="hamburger-box">
							<div class="hamburger-inner"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="panhara_tm_mobile_menu_wrap">
		<div class="mob_menu">
			<ul class="anchor_nav">
				<li>
					<a href="#home">Home</a>
				</li>
				<li>
					<a href="#about">About</a>
				</li>
				<li>
					<a href="#services">Services</a>
				</li>
				<li>
					<a href="#portfolio">Portfolio</a>
				</li>
				<li>
					<a href="#testimonials">Testimonials</a>
				</li>
				<li>
					<a href="#news">News</a>
				</li>
				<li>
					<a href="#contact">Contact</a>
				</li>
			</ul>
		</div>
	</div>
</header>
<!-- /HEADER -->
