<!-- PORTFOLIO -->
<div class="panhara_tm_section" id="portfolio">
  <div class="panhara_tm_portfolio_wrapper_all" data-portfolio-style="filterable">
    <!-- PORTFOLIO FILTER -->
    <div class="panhara_tm_second_portfolio">
      <div class="container">
        <div class="panhara_tm_portfolio_wrap">
          <div class="panhara_tm_main_title_holder portfolio">
            <h3>Awesome Works</h3>
            <span>Meet our awesome works</span>
          </div>
          <div class="panhara_tm_portfolio_titles"></div>
          <ul class="panhara_tm_portfolio_filter">

            <li>
              <a href="#" class="current" data-filter="*">All</a>
            </li>
            <%@portfolio_categories.each do |port|%>
              <li>
                <a href="#" data-filter=".<%=port.category_name.downcase%>"><%=port.category_name%></a>
              </li>
            <%end%>
          </ul>

          <ul class="panhara_tm_portfolio_list gallery_zoom">

            <%@portfolios.each do |port|%>
              <li class="<%=port.category_portfolio.category_name.downcase%>">
                <div class="entry panhara_tm_portfolio_animation_wrap" data-title="Drawing By Panhara" data-category="<%=port.category_portfolio.category_name%>">
                  <a class="zoom" href="<%=port.image%>#">
                    <img src="<%=port.image%>" alt=""/>
                    <div class="panhara_tm_portfolio_image_main">
                      <img src="<%=port.image%>" alt="">
                    </div>
                  </a>
                </div>
              </li>
            <%end%>
          </ul>

        </div>
      </div>
    </div>
    <!-- /PORTFOLIO FILTER -->

  </div>
</div>
<!-- /PORTFOLIO -->
