<%=search_form_for(@search) do |f|%>
  <div class="row">
    <div class="form-group col-lg-8">
      <%=f.collection_select :product_type_id_eq, ProductType.all, :id, :type_name, {prompt: "Select Category"}, {class: "form-control"}%>
    </div>
    <div class="form-group col-lg-4">
      <%=f.submit "Search Category", class:"btn-search btn btn-primary", style: "width: 100%; background: #fd4d4d; border: 1px solid #fd4d4d;"%>
    </div>
  </div>
<%end%>
