<%=search_form_for(@search) do |f|%>
  <div class="row">
    <div class="form-group col-lg-4">
      <%=f.text_field :title_cont, class: "form-control", placeholder: "Search"%>
    </div>
    <div class="form-group col-lg-4">
      <%=f.collection_select :category_id_eq, Category.all, :id, :category_name, {prompt: "Select Category"}, {class: "form-control"}%>
    </div>
    <div class="form-group col-lg-4">
      <%=f.submit "Search Category", class:"btn-search btn btn-primary", style: "width: 100%; background: #fd4d4d; border: 1px solid #fd4d4d;"%>
    </div>
  </div>
<%end%>
