<!-- SERVICES -->
<div class="panhara_tm_section" id="services">
  <div class="panhara_tm_service_wrapper_all" data-bg="any_color" data-animation="top">
    <div class="panhara_tm_main_title_holder">
      <h3>Amazing Services</h3>
      <span>Look out our services</span>
    </div>
    <div class="container">
      <div class="panhara_tm_services_wrap">
        <ul class="panhara_tm_miniboxes">
          <li class="wow fadeInUp panhara_tm_minibox" data-wow-duration="1.2s" data-wow-delay="0.2s">
            <div class="inner">
              <div class="detail_wrap">
                <div class="image">
                  <img class="svg" src="img/svg/instagram.svg" alt="">
                </div>
                <span>Web Development</span>
                <p>Web design is a similar process of creation, with the intention of presenting the content on electronic pages</p>
              </div>
              <div class="overlay_color"></div>
            </div>
          </li>
          <li class="wow fadeInUp panhara_tm_minibox" data-wow-duration="1.2s" data-wow-delay="0.4s">
            <div class="inner">
              <div class="detail_wrap">
                <div class="image">
                  <img class="svg" src="img/svg/share.svg" alt="">
                </div>
                <span>Web Design</span>
                <p>Web design is a similar process of creation, with the intention of presenting the content on electronic pages</p>
              </div>
              <div class="overlay_color"></div>
            </div>
          </li>
          <li class="wow fadeInUp panhara_tm_minibox" data-wow-duration="1.2s" data-wow-delay="0.6s">
            <div class="inner">
              <div class="detail_wrap">
                <div class="image">
                  <img class="svg" src="img/svg/new-tab.svg" alt="">
                </div>
                <span>Gimp</span>
                <p>Web design is a similar process of creation, with the intention of presenting the content on electronic pages</p>
              </div>
              <div class="overlay_color"></div>
            </div>
          </li>
          <li class="wow fadeInUp panhara_tm_minibox" data-wow-duration="1.2s" data-wow-delay="0.8s">
            <div class="inner">
              <div class="detail_wrap">
                <div class="image">
                  <img class="svg" src="img/svg/adobe-illustrator.svg" alt="">
                </div>
                <span>Inkscape</span>
                <p>Web design is a similar process of creation, with the intention of presenting the content on electronic pages</p>
              </div>
              <div class="overlay_color"></div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- /SERVICES -->
