<!-- TESTIMONIALS -->
<div class="panhara_tm_section" id="testimonials">
  <div class="panhara_tm_testimonials_wrapper_all">
    <div class="panhara_tm_universal_box_wrap">
      <div class="bg_wrap">
        <div class="overlay_image testimonial jarallax" data-speed="0"></div>
        <div class="overlay_color testimonial"></div>
      </div>
      <div class="content testimonial">
        <div class="panhara_tm_testimonial_wrap">
          <div class="container">
            <div class="carousel_wrap">
              <ul class="owl-carousel">
                <li class="item">
                  <div class="inner">
                    <div class="quotebox_wrap">
                      <img src="/img/team/panhara.png" alt="">
                    </div>
                    <div class="definitions_wrap">
                      <p>“Panhara team are easy to work with and helped me make amazing websites in a short amount of time. Thanks guys for works.”</p>
                    </div>
                    <div class="name_holder">
                      <p>Chhouk Tit Panhara, Co Founder</p>
                    </div>
                  </div>
                </li>
                <li class="item">
                  <div class="inner">
                    <div class="quotebox_wrap">
                      <img src="/img/team/theara.png" alt="">
                    </div>
                    <div class="definitions_wrap">
                      <p>“We are preparing your business plan for you. Panhara grasped our needs and produced a stunning business.”</p>
                    </div>
                    <div class="name_holder">
                      <p>Theng Theara, Co Founder</p>
                    </div>
                  </div>
                </li>
                <li class="item">
                  <div class="inner">
                    <div class="quotebox_wrap">
                      <img src="/img/team/menghour.png" alt="">
                    </div>
                    <div class="definitions_wrap">
                      <p>“Awesome to work with Panhara. Good organized, easy to communicate with, responsive with next iterations.”</p>
                    </div>
                    <div class="name_holder">
                      <p>Hai Menghour, Rails Developer, Co Founder.</p>
                    </div>
                  </div>
                </li>
                <li class="item">
                  <div class="inner">
                    <div class="quotebox_wrap">
                      <img src="/img/team/somon.png" alt="">
                    </div>
                    <div class="definitions_wrap">
                      <p>“Awesome to work with Panhara. Good organized, easy to communicate with, responsive with next iterations.”</p>
                    </div>
                    <div class="name_holder">
                      <p>Soum Somon, Rails Developer, Co Founder.</p>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /TESTIMONIALS -->
