<tr class="delete_category_portfolio_<%=category_portfolio.id%>">
  <td id="data_<%=category_portfolio.id%>">
    <%=category_portfolio.id%>
  </td>
  <td>
    <%=category_portfolio.category_name%>
  </td>
  <td>
    <%=time_ago(category_portfolio.created_at)%>
  </td>
  <td class="text-center">
    <%=form_for([:admin, category_portfolio], remote: true) do |f|%>
      <%=link_to admin_category_portfolio_path(category_portfolio), remote: true,class: "btn btn-primary", "data-target" => "bd-example-modal-lg-panhara" do %>
        View
      <%end%>
      <%=link_to edit_admin_category_portfolio_path(category_portfolio),id: "link_#{category_portfolio.id}",class: "btn btn-primary", remote: true do %>
        Edit
      <% end %>
    <%end%>
  </td>
</tr>
