$("input#category_portfolio_category_name").val("");
$(".disabled").attr("disabled", false)
$("#category_portfolio-errors").html(" ");
$("#category_portfolio-success").html("<%= custom_flash_message%>");
$("#category_portfolio-index").append("<%=escape_javascript render(@category_portfolio)%>");

$(function() {
  $('.delete_category_portfolio_<%=@category_portfolio.id%>').submitOnCheck();
});

$('.delete_category_portfolio_<%=@category_portfolio.id%>').submitOnCheck();
