$('body').append('<%= j render partial: "admin/category_portfolios/edit"%>');
$('#edit_<%= dom_id @category_portfolio, :modal%>').modal('toggle');
$('tr').find('td:nth-child(2)').each(function(){
  if ($(this).text().trim() == "<%=@category_portfolio.category_name%>") {
    $(this).parent().addClass("edit_row_<%=@category_portfolio.id%>")
  }
});
