$("#category_portfolio-success").html("<br><%= j render partial: 'layouts/flash_success', locals: {flash: :flash}%>");
$(".edit_row_<%=@category_portfolio.id%>").find('td:nth-child(2)').text("<%=@category_portfolio.category_name%>").next().text("<%=time_ago(@category_portfolio.created_at)%>")
