<% title "Home | panhara.work"%>
<!-- CONTENT -->
<div class="panhara_tm_content">

<%=render "shared/hero"%>

<%=render "shared/about"%>

<%=render "shared/service"%>

<%=render "shared/counter"%>

<%=render "shared/portfolio"%>

<%=render "shared/testimonials"%>

<%=render "shared/blogs"%>

<%=render "shared/contact"%>

<%=render "shared/footer"%>

</div>
<!-- /CONTENT -->
