<%title "Order Infomation | panhara.work"%>
<style media="screen">
   .panhara_tm_header {
   display: none;
   }
</style>
<%=render "products/product_nav"%>
<div class="panhara_tm_content">
   <div class="panhara_tm_section" id="about">
      <div class="container">
         <div class="wrapper">
            <div class="checkout-area pt-95 pb-100" style="margin-top: 150px;">
               <div class="row">
                  <div class="col-lg-7">
                     <div class="billing-info-wrap">
                        <h3>Your Delivery Info Details</h3>
                        <div class="row">
                           <%=form_for @order do |f|%>
                           <%@order.errors.full_messages.each do |message|%>
                           <div class="col-md-12">
                              <div class="alert alert-danger alert-dismissible">
                                 <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                 <strong><%=message%></strong>
                              </div>
                           </div>
                           <%end%>
                           <div class="col-md-6">
                              <div class="form-group">
                                 <label>First Name(នាមត្រកូល)</label>
                                 <%=f.text_field :first_name, class: "form-control", placeholder: "Enter Your First Name"%>
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div class="form-group">
                                 <label>Last Name(ឈ្មេាះ)</label>
                                 <%=f.text_field :last_name, class: "form-control", placeholder: "Enter Your Last Name"%>
                              </div>
                           </div>
                           <div class="col-md-12">
                              <div class="form-group">
                                 <label>Address(អាស័យដ្ឋាន)</label>
                                 <%=f.text_field :address_one, class: "form-control", placeholder: "Enter your first address"%>
                              </div>
                           </div>
                           <div class="col-md-12">
                              <div class="form-group">
                                 <label>Description(ព័ត៌មានបន្ថែម)</label>
                                 <%=f.text_area :description, class: "form-control", cols: "10", rows: "10"%>
                              </div>
                           </div>
                           <div class="col-lg-12">
                              <div class="checkout-account-toggle open-toggle2 mb-30" style="margin-top: 25px;">
                                 <%=link_to "Back To Cart", cart_path(@current_cart), class: "btn-hover checkout-btn"%>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-5">
                     <div class="your-order-area">
                        <h3>Your order</h3>
                        <div class="your-order-wrap gray-bg-4">
                           <div class="your-order-product-info">
                              <div class="your-order-top">
                                 <ul>
                                    <li>Product</li>
                                    <li>Total</li>
                                 </ul>
                              </div>
                              <div class="your-order-middle">
                                 <ul>
                                    <%@cart.line_items.each do |line_item|%>
                                    <li>
                                       <span class="order-middle-left"><%=line_item.product.product_name%> x <%=line_item.quantity%></span>
                                       <span class="order-price"><%=number_to_currency(line_item.total_price)%>
                                       </span>
                                    </li>
                                    <%end%>
                                 </ul>
                              </div>
                              <div class="your-order-bottom">
                                 <ul>
                                    <li class="your-order-shipping">Shipping</li>
                                    <li>Free shipping</li>
                                 </ul>
                              </div>
                              <div class="your-order-total">
                                 <ul>
                                    <li class="order-total">Total</li>
                                    <li style="color: #fd4d4d;"><%=number_to_currency(@cart.sub_total)%></li>
                                 </ul>
                              </div>
                           </div>
                        </div>
                        <div class="Place-order" style="margin-top: 25px;">
                           <%=f.submit "Place Order",class: "btn-place-order"%>
                        </div>
                        <%end%>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- /ABOUT -->
   <%=render "shared/footer"%>
</div>
<!-- /CONTENT -->
