<%title "Profile | panhara.work"%>
<style media="screen">
   .panhara_tm_header {
   display: none;
   }
</style>
<%=render "products/product_nav"%>
<div class="panhara_tm_content">
   <div class="panhara_tm_section" id="about">
      <div class="container-fluid">
         <div class="panhara_tm_about_wrap">
            <div class="wrapper">
               <div class="row">
                  <div style="margin-top: 30px;">
                     <div class="col-lg-4">
                        <figure class="snip1559">
                           <div class="profile-image">
                              <img style="margin-left: 5px !important;" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/profile-sample7.jpg" alt="profile-sample7"/>
                           </div>
                           <figcaption>
                              <h5 style="font-size: 14px;"><%=current_user.email%></h5>
                              <br>
                              <h5 style="font-size: 14px;">
                              <%=current_user.phone_number%><br><br>
                           </figcaption>
                        </figure>
                     </div>
                     <div class="page-sidebar col-xs-12 col-sm-4 col-md-5 col-lg-8">
                        <h2 style="margin-top: 0px; margin-bottom: 30px;">Your Ordered History</h2>
                        <div class="table-container table-responsive">
                           <table class="table">
                              <thead>
                                 <tr>
                                    <th>#</th>
                                    <th>Total</th>
                                    <th>Status</th>
                                    <th>Ordered_At</th>
                                 </tr>
                              </thead>
                              <tbody>
                                 <%@orders.each do |order|%>
                                 <tr>
                                    <td>
                                       <%=order.id%>
                                    </td>
                                    <td>
                                       <%=number_to_currency(order.sub_total)%>
                                    </td>
                                    <%if order.status == true%>
                                    <td class="badge badge-success" style="width: 100%;">
                                       <%=status_converter(order.status, correct: "Delivered", incorrect: "In Progress")%>
                                    </td>
                                    <%else%>
                                    <td class="badge badge-warning" style="width: 100%;">
                                       <%=status_converter(order.status, correct: "Delivered", incorrect: "In Progress")%>
                                    </td>
                                    <%end%>
                                    <td>
                                       <%=time_ago(order.created_at)%>
                                    </td>
                                 </tr>
                                 <%end%>
                              </tbody>
                           </table>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- /ABOUT -->
   <%=render "shared/footer"%>
</div>
<!-- /CONTENT -->
