<tr class="delete_portfolio_<%=portfolio.id%>">
  <td id="data_<%=portfolio.id%>">
    <%=portfolio.id%>
  </td>
  <td>
    <%=time_ago(portfolio.created_at)%>
  </td>
  <td class="text-center">
    <%=form_for([:admin, portfolio], remote: true) do |f|%>
      <%=link_to admin_portfolio_path(portfolio), remote: true,class: "btn btn-primary", "data-target" => "bd-example-modal-lg-panhara" do %>
        View
      <%end%>
      <%=link_to edit_admin_portfolio_path(portfolio),id: "link_#{portfolio.id}",class: "btn btn-primary", remote: true do %>
        Edit
      <% end %>
    <%end%>
  </td>
</tr>
