  <%=simple_form_for([:admin, @portfolio], remote: true) do |f|%>
    <div class="form-row">
      <div class="form-group col-md-12">
        <label>Category</label>
        <%=f.collection_select :category_portfolio_id, CategoryPortfolio.all, :id, :category_name, {}, class: "form-control"%>
      </div>
      <div class="form-group col-md-12">
        <label>Profile Picture</label><br>
        <%=f.file_field :image%>
      </div>
      <div class="form-group col-md-12">
        <%=f.submit "Save User", class: "btn btn-primary"%>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
   </div>
<%end%>
