$(".disabled").attr("disabled", false)
$("#portfolio-errors").html(" ");
$("#portfolio-success").html("<%= custom_flash_message%>");
$("#portfolio-index").append("<%=escape_javascript render(@portfolio)%>");

$(function() {
  $('.delete_portfolio_<%=@portfolio.id%>').submitOnCheck();
});

$('.delete_portfolio_<%=@portfolio.id%>').submitOnCheck();
