$('body').append('<%= j render partial: "admin/portfolios/edit"%>');
$('#edit_<%= dom_id @portfolio, :modal%>').modal('toggle');
$('tr').find('td:nth-child(1)').each(function(){
  if ($(this).text().trim() == "<%=@portfolio.id%>") {
    $(this).parent().addClass("edit_row_<%=@portfolio.id%>")
  }
});
