$("#portfolio-success").html("<br><%= j render partial: 'layouts/flash_success', locals: {flash: :flash}%>");
$(".edit_row_<%=@portfolio.id%>").find('td:nth-child(1)').text("<%=@portfolio.id%>").next().text("<%=time_ago(@portfolio.created_at)%>")
