<%=simple_form_for([:admin, @admin], remote: true) do |f|%>
  <div class="form-row">
     <div class="form-group col-md-6">
        <label>Role</label>
        <%=f.select :role,(Admin.roles.keys.map{ |role| [role.titleize, role]}), {}, {:class=>"form-control"}%>
     </div>
     <div class="form-group col-md-6">
        <label>First Name</label>
        <%=f.text_field :first_name, class: "form-control"%>
     </div>
     <div class="form-group col-md-6">
        <label>Last Name</label>
        <%=f.text_field :last_name, class: "form-control"%>
     </div>
     <div class="form-group col-md-6">
        <label>Email</label>
        <%=f.text_field :email, class: "form-control"%>
     </div>
     <div class="form-group col-md-12">
        <label>Username</label>
        <%=f.text_field :username, class: "form-control"%>
     </div>
     <div class="form-group col-md-6">
        <label>Password</label>
        <%=f.password_field :password, class: "form-control", placeholder: "Password"%>
     </div>
     <div class="form-group col-md-6">
        <label>Confirmation Password</label>
        <%=f.password_field :password_confirmation, class: "form-control", placeholder: "Password Confirmation"%>
     </div>
     <div class="form-group col-md-12">
        <%=f.submit "Save User", class: "btn btn-primary"%>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
     </div>
  </div>
<%end%>
