$("#admin-success").html("<br><%= j render partial: 'layouts/flash_success', locals: {flash: :flash}%>");
$(".edit_row_<%=@admin.id%>").find('td:nth-child(2)').text("<%=@admin.username%>").next().text("<%=@admin.email%>").next().text("<%=time_ago(@admin.created_at)%>")
$(".edit_row_<%=@admin.id%>").find('td:nth-child(3)').text("<%=@admin.email%>").next().text("<%=time_ago(@admin.created_at)%>")
