<tr class="delete_category_expense_<%=category_expense.id%>">
  <td id="data_<%=category_expense.id%>">
    <%=category_expense.id%>
  </td>
  <td>
    <%=category_expense.title%>
  </td>
  <td>
    <%=time_ago(category_expense.created_at)%>
  </td>
  <td class="text-center">
    <%=form_for([:admin, category_expense], remote: true) do |f|%>
      <%=link_to admin_category_expense_path(category_expense), remote: true,class: "btn btn-primary", "data-target" => "bd-example-modal-lg-panhara" do %>
        View
      <%end%>
      <%=link_to edit_admin_category_expense_path(category_expense),id: "link_#{category_expense.id}",class: "btn btn-primary", remote: true do %>
        Edit
      <% end %>
    <%end%>
  </td>
</tr>
