$("input#category_expense_title").val("");
$(".disabled").attr("disabled", false)
$("#category_expense-errors").html(" ");
$("#category_expense-success").html("<%= custom_flash_message%>");
$("#category_expense-index").append("<%=escape_javascript render(@category_expense)%>");

$(function() {
  $('.delete_category_expense_<%=@category_expense.id%>').submitOnCheck();
});

$('.delete_category_expense_<%=@category_expense.id%>').submitOnCheck();
