$('body').append('<%= j render partial: "admin/category_expenses/edit"%>');
$('#edit_<%= dom_id @category_expense, :modal%>').modal('toggle');

$('tr').find('td:nth-child(2)').each(function(){
  if ($(this).text().trim() == "<%=@category_expense.title%>") {
    $(this).parent().addClass("edit_row_<%=@category_expense.id%>")
  }
});
