$("#category_expense-success").html("<br><%= j render partial: 'layouts/flash_success', locals: {flash: :flash}%>");
$(".edit_row_<%=@category_expense.id%>").find('td:nth-child(2)').text("<%=@category_expense.title%>").next().text("<%=time_ago(@category_expense.created_at)%>")
