<%=render "admin/shared/aside"%>
<main class="admin-main">
  <!--site header begins-->
  <%=render "admin/shared/header"%>
  <!--site header ends -->
  <section class="admin-content">
    <div class="container">
      <div class="row m-t-30">
        <div class="col-lg-12  m-t-30">
          <!--widget card begin-->
          <div class="card m-b-30">
            <div class="card-body">
              <div class="row">
                <div class="col my-auto">
                  <div class="h6 text-muted ">Revenues
                  </div>
                </div>
                <div class="col-auto my-auto">
                  <div class="avatar">
                    <div class="avatar-title rounded-circle badge-soft-danger">
                      <i class="mdi mdi-heart  "></i>
                    </div>
                  </div>
                </div>
              </div>
              <h1 class="display-4 fw-600" id="total_amount"><%=number_to_currency(@finale_total)%></h1>
              <div class="h6">
                <span class="text-success">
                  <i class="mdi mdi-arrow-top-right"></i>
                  +0.65%
                </span>
                More activity than usual.
              </div>
            </div>
          </div>
          <!--widget card ends-->
        </div>
        <div class="col-lg-6  m-t-30">
          <!--widget card begin-->
          <div class="card m-b-30">
            <div class="card-body">
              <div class="row">
                <div class="col my-auto">
                  <div class="h6 text-muted ">Total Income
                  </div>
                </div>
                <div class="col-auto my-auto">
                  <div class="avatar">
                    <div class="avatar-title rounded-circle badge-soft-danger">
                      <i class="mdi mdi-heart  "></i>
                    </div>
                  </div>
                </div>
              </div>
              <h1 class="display-4 fw-600" id="total_amount"><%=number_to_currency(@incomes)%></h1>
              <div class="h6">
                <span class="text-success">
                  <i class="mdi mdi-arrow-top-right"></i>
                  +0.65%
                </span>
                More activity than usual.
              </div>
            </div>
          </div>
          <!--widget card ends-->
        </div>
        <div class="col-lg-6  m-t-30">
          <!--widget card begin-->
          <div class="card m-b-30">
            <div class="card-body">
              <div class="row">
                <div class="col my-auto">
                  <div class="h6 text-muted ">Total Expense
                  </div>
                </div>
                <div class="col-auto my-auto">
                  <div class="avatar">
                    <div class="avatar-title rounded-circle badge-soft-danger">
                      <i class="mdi mdi-heart  "></i>
                    </div>
                  </div>
                </div>
              </div>
              <h1 class="display-4 fw-600" id="total_amount"><%=number_to_currency(@expenses)%></h1>
              <div class="h6">
                <span class="text-success">
                  <i class="mdi mdi-arrow-top-right"></i>
                  +0.65%
                </span>
                More activity than usual.
              </div>
            </div>
          </div>
          <!--widget card ends-->
        </div>
      </div>
    </main>
