<div class="jumbo-page">
   <main class="">
      <div class="container-fluid">
         <div class="row ">
            <div class="col-lg-4  bg-white">
               <div class="row align-items-center m-h-100">
                  <div class="mx-auto col-md-8">
                     <div class="p-b-20 text-center">
                        <a href="/">
                           <p>
                              <img src="/images/logo.png" width="80" alt="">
                           </p>
                           <p class="admin-brand-content">
                              Panhara.work
                           </p>
                        </a>
                     </div>
                     <h3 class="text-center p-b-20 fw-400">Login</h3>
                     <div class="needs-validation">
                        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                        <div class="form-row">
                           <div class="form-group floating-label col-md-12">
                              <label>Phone Number or Email</label>
                              <%= f.text_field :login,autofocus: true,:class=>"form-control",:placeholder=>"Example: 095472222"%>
                           </div>
                           <div class="form-group floating-label col-md-12">
                              <label>Password</label>
                              <%= f.password_field :password, class: 'form-control', :placeholder=>"Password"%>
                           </div>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block btn-lg">Login</button>
                        <%end%>
                     </div>
                     <p class="text-right p-t-10">
                        <%=link_to "Don't have an account", sign_up_path, class: "text-underline"%>
                     </p>
                  </div>
               </div>
            </div>
            <div class="col-lg-8 d-none d-md-block bg-cover" style="background-image: url('/images/login.svg');">
            </div>
         </div>
      </div>
   </main>
</div>
