<%=content_tag :div, class: "modal fade modal-slide-right", id: "edit_#{dom_id(@income, :modal)}" do%>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="row">
          <div class="col-md-12">
            <h5 class="m-b-0" id="edit_user">Edit Income</h5>
          </div>
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%=simple_form_for([:admin, @income], remote: true) do |f|%>
        <div class="modal-body overflow-auto">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label>Account</label>
              <%= f.collection_select :account_id, Account.all, :id, :account_name, {}, {:class=>"form-control"} %>
            </div>
            <div class="form-group col-md-6">
              <label>Category</label>
              <%= f.select :category, Income::SELECT_CATEGORY, {}, {:class=>"form-control"} %>
            </div>
            <div class="form-group col-md-12">
              <label>Amount</label>
              <%=f.number_field :amount, class: "form-control"%>
            </div>
            <div class="form-group col-md-12">
              <label>Income Date</label>
              <%=f.date_field :income_date, class: "form-control"%>
            </div>
          </div>
        </div>
        <div class="modal-footer justify-content-start">
          <%=f.submit "Update", class: "btn btn-primary"%>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      <%end%>
    </div>
  </div>
<%end%>
