$("input#income_amount").val("");
$(".disabled").attr("disabled", false)
$("#income-errors").html(" ");
$("#income-success").html("<%= custom_flash_message%>");
$("#income-index").append("<%=escape_javascript render(@income)%>");
$("#total_income").html("<%=number_to_currency(@income.total_income)%>")
$("#total_income_plus_account").html("<%=number_to_currency(@income.total_income_plus_account)%>")
$(function() {
  $('.delete_income_<%=@income.id%>').submitOnCheck();
});

$('.delete_income_<%=@income.id%>').submitOnCheck();
