$("#income-success").html("<br><%= j render partial: 'layouts/flash_success', locals: {flash: :flash}%>");
$("#edit_income_name_<%=@income.id%>").html("<i class='fa fa-circle' style='color: green;''></i> <%=@income.category%>");
$("#edit_income_amount_<%=@income.id%>").html("<%=number_to_currency(@income.amount)%>");
$("#total_income").html("<%=number_to_currency(@income.total_income)%>");
$("#total_income_plus_account").html("<%=number_to_currency(@income.total_income_plus_account)%>")
