<%=render "admin/shared/aside"%>
<main class="admin-main">
   <!--site header begins-->
   <%=render "admin/shared/header"%>
   <!--site header ends -->
   <section class="admin-content">
      <div class="container">
         <!-- Content -->
         <div class="row" style="margin-top: 30px;">
            <%= form_for [:admin, @setting] do |f| %>
            <div class="col-md-12">
               <div class="form-group">
                  <label class="cstm-switch">
                  <%=f.check_box :maintain, class: "cstm-switch-input"%>
                  <span class="cstm-switch-indicator "></span>
                  <span class="cstm-switch-description"> Maintain Your Website </span>
                  </label>
               </div>
            </div>
            <div class="col-md-12">
               <div class="form-group">
                  <%= f.submit "Update Setting", class: "btn btn-success" %>
               </div>
            </div>
            <% end %>
         </div>
      </div>
      <!-- Modal -->
   </section>
</main>
