<%=content_tag :div, class: "modal fade modal-slide-right", id: "edit_#{dom_id(@product, :modal)}" do%>
<div class="modal-dialog" role="document">
   <div class="modal-content">
      <div class="modal-header">
         <div class="row">
            <div class="col-md-12">
               <h5 class="m-b-0">Edit product</h5>
            </div>
         </div>
         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
         <span aria-hidden="true">&times;</span>
         </button>
      </div>
      <%=simple_form_for([:admin, @product], remote: true) do |f|%>
      <div class="modal-body overflow-auto">
         <div class="form-row">
            <div class="form-group col-md-6">
               <label>Category</label>
               <%=f.collection_select :product_type_id, ProductType.all,:id, :type_name, {}, class: "form-control"%>
            </div>
            <div class="form-group col-md-6">
               <label>Product Name</label>
               <%=f.text_field :product_name, class: "form-control"%>
            </div>
            <div class="form-group col-md-6">
               <label>Price</label>
               <%=f.number_field :product_price, class: "form-control"%>
            </div>
            <div class="col-md-6">
               <div class="form-group">
                  <label for="recipient-name" class="control-label mb-10">Original Stock (Old Stock )</label>
                  <%=f.number_field :stock_quantity, class: "form-control", disabled: true%>
               </div>
            </div>
            <div class="col-md-6">
               <div class="form-group">
                  <label for="recipient-name" class="control-label mb-10">Edit Stock Quantity (New Stock<%=@product.track_quantity%>)</label>
                  <%=f.number_field :edit_quantity, class: "form-control"%>
               </div>
            </div>
            <div class="col-md-6">
               <div class="form-group">
                  <label for="recipient-name" class="control-label mb-10">Remaining Stock Quantity</label>
                  <%=f.number_field :remaining_stock_quantity, class: "form-control", disabled: true%>
               </div>
            </div>
            <%= f.fields_for :assets do |asset| %>
            <div class="col-md-12">
               <div class="form-group">
                  <%= asset.file_field :image %>
               </div>
            </div>
            <div class="col-md-12">
               <div class="form-group">
                  <div class="md-checkbox">
                     <%=asset.check_box :status, id: "i#{asset.object}"%>
                     <label for="i<%=asset.object%>">Status</label>
                  </div>
               </div>
            </div>
            <% end %>
            <div class="form-group col-md-12">
               <%=f.submit "Update", class: "btn btn-primary"%>
               <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
         </div>
      </div>
      <%end%>
   </div>
</div>
<%end%>
