<%=simple_form_for([:admin, @product], remote: true) do |f|%>
<div class="form-row">
   <div class="form-group col-md-6">
      <label>Category</label>
      <%=f.collection_select :product_type_id, ProductType.all,:id, :type_name, {}, class: "form-control"%>
   </div>
   <div class="form-group col-md-6">
      <label>Product Name</label>
      <%=f.text_field :product_name, class: "form-control"%>
   </div>
   <div class="form-group col-md-6">
      <label>Price</label>
      <%=f.number_field :product_price, class: "form-control"%>
   </div>
   <div class="form-group col-md-6">
      <label>Stock Qty</label>
      <%=f.number_field :stock_quantity, class: "form-control"%>
   </div>
   <%= f.fields_for :assets do |assets| %>
   <% if assets.object.new_record? %>
   <div class="col-md-12">
      <div class="form-group">
         <%= assets.file_field :image %>
      </div>
   </div>
   <% end %>
   <div class="col-md-12">
      <div class="form-group">
         <div class="md-checkbox">
            <%=assets.check_box :status, id: "i#{assets.object}"%>
            <label for="i<%=assets.object%>">Status</label>
         </div>
      </div>
   </div>
   <% end %>
   <div class="form-group col-md-12">
      <%=f.submit "Save User", class: "btn btn-primary"%>
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
   </div>
</div>
<%end%>
