$('body').append('<%= j render partial: "admin/products/edit"%>');
$('#edit_<%= dom_id @product, :modal%>').modal('toggle');

$('tr').find('td:nth-child(2)').each(function(){
  if ($(this).text().trim() == "<%=@product.product_name%>") {
    $(this).parent().addClass("edit_row_<%=@product.id%>")
  }
});

$('tr').find('td:nth-child(3)').each(function(){
  if ($(this).text().trim() == "<%=@product.product_price%>") {
    $(this).parent().addClass("edit_row_<%=@product.id%>")
  }
});
