$("#product-success").html("<br><%= j render partial: 'layouts/flash_success', locals: {flash: :flash}%>");
$(".edit_row_<%=@product.id%>").find('td:nth-child(2)').text("<%=@product.product_name%>").next().text("<%=@product.product_price%>").next().text("<%=time_ago(@product.created_at)%>")
$(".edit_row_<%=@product.id%>").find('td:nth-child(3)').text("<%=@product.product_price%>").next().text("<%=time_ago(@product.created_at)%>")
$("input#product_stock_quantity").attr("value","<%=@product.stock_quantity%>");
$("input#product_remaining_stock_quantity").attr("value","<%=@product.stock_quantity%>");
