/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require font-awesome
 *= require_tree ./front-end/css
 *= require_self
 */

 @import "toastr";

 div.article > h3{
   margin-top: 20px;
   margin-bottom: 20px;
   font-size: 16px;
 }

 .blog-title{
  word-break: break-all;
 }

 .media-object {
   max-width: none;
 }

 .widget-title {
   font-size: 18px;
 }
 /* Recent Posts */
 .recent-posts .recent-post .post-meta {
   font-size: 12px;
   color: #717f86;
 }
 .recent-posts .recent-post .media-left img {
   width: 80px;
   height: 80px;
 }

 .title_holder_blog{
   margin-bottom: 18px;
 }

 .panhara_tm_news_wrap .title_holder_blog h3 a{
   text-decoration: none;
   color: #000;
   font-size: 22px;
   display: block;
   -webkit-transition: all .3s ease;
   -moz-transition: all .3s ease;
   -ms-transition: all .3s ease;
   -o-transition: all .3s ease;
   transition: all .3s ease;
 }

 .panhara_tm_news_wrap .title_holder_blog h3 a:hover{
  color: #fd4d4d;
 }

 .selected{
   border:  1px solid #ddd;
   padding: 10px;
   text-align: center;
   text-decoration: none ;
   background: #fff;
 }

 .selected_bg{
   background: #fd4d4d;
   color: #fff !important;
   font-weight: 700;
 }

 div.btn-load{
   text-align: center;
   margin-top: 50px;
 }

 .btn-load a{
   text-decoration: none;
   color: #fff;
   background-color: #fd4d4d;
   font-weight: 600;
   font-family: "Montserrat";
   padding: 15px 40px;
   border-radius: 3px;
   display: inline-block;
   position: relative;
   overflow: hidden;
 }

 .badge-warning{
   background: orange !important;
 }

 .badge-success{
   background: green  !important;
 }

 .btn-heart{
   padding: 10px 20px 10px 20px;
   color: white;
 }

 .btn-delivery{
   background: #fd4d4d;
   color: #fff;
 }

 // .btn:hover{
 //   color: #fff !important;
 // }
 /*===============Profile===================*/
 .snip1559 {
   font-family: 'Montserrat', Arial, sans-serif;
   position: relative;
   display: inline-block;
   overflow: hidden;
   margin: 10px;
   min-width: 100%;
   // max-width: 310px;
   width: 100%;
   background-color: #ffffff;
   color: #2B2B2B;
   text-align: center;
   font-size: 16px;
   box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
 }

 .snip1559 * {
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
 }

 .snip1559 .profile-image {
   padding: 15% 10% 0;
 }

 .snip1559 .profile-image img {
   margin-right: 0px;
   vertical-align: top;
   position: relative;
   border-radius: 50%;
   max-width: 40%;
 }


 .snip1559 figcaption {
   padding: 5% 10% 15%;
 }

 .snip1559 h3 {
   font-family: 'Montserrat';
   text-transform: uppercase;
   font-size: 20px;
   font-weight: 400;
   line-height: 24px;
   margin: 3px 0;
 }

 .snip1559 h5 {
   font-weight: 400;
   margin: 0;
   text-transform: uppercase;
   color: #888;
   letter-spacing: 1px;
 }

 .snip1559 .icons i {
   color: #999;
   display: inline-block;
   margin-right: 5px;
   font-size: 1.5em;
 }

 .snip1559 .icons i:hover {
   color: #555;
 }

 .snip1559 .icons i a {
   text-decoration: none;
 }


 .btn-place-order{
   background: #fd4d4d;
   color: #fff;
   border: none;
   padding: 15px;
   border-radius: 30px;
   width: 100%;
 }
 .checkout-btn{
   background: #fd4d4d;
   padding: 15px;
   border-radius: 30px;
   margin-top: 15px;
   color: #fff;
 }
 a.checkout-btn:hover{
   color: #fff;
 }
 .qty{
   border: 1px solid #ddd;
   padding: 16px;
 }
 .navbar-fixed-top{
   background: white;
   border-bottom: 1px solid #ddd;
 }

 .product-details-content .pro-details-social {
   margin: 24px 0 0;
 }

 .product-details-content .pro-details-social ul {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
 }

 .product-details-content .pro-details-social ul li {
   margin-right: 40px;
 }

 .product-details-content .pro-details-social ul li:last-child {
   margin-right: 0px;
 }

 .product-details-content .pro-details-social ul li a {
   font-size: 16px;
   color: #343538;
 }

 .product-details-content .pro-details-social ul li a:hover {
   color: #a749ff;
 }

 @media only screen and (min-width: 992px) and (max-width: 1199px) {
   .product-details-content.ml-70 {
     margin-left: 0;
   }
 }

 @media only screen and (min-width: 768px) and (max-width: 991px) {
   .product-details-content.ml-70 {
     margin-left: 0;
   }
 }

 @media only screen and (max-width: 767px) {
   .product-details-content.ml-70 {
     margin-left: 0;
     margin-top: 30px;
   }
 }

 @media only screen and (max-width: 767px) {
   .product-details-content.quickview-content {
     margin-top: 30px;
   }
 }

 .product-details-content h2 {
   color: #010101;
   font-size: 24px;
   margin: 0 0 0px;
   line-height: 1;
 }

 .product-details-content .product-details-price {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   margin: 15px 0 26px;
 }

 .product-details-content .product-details-price span {
   font-size: 24px;
   color: #fe5252;
 }

 .product-details-content .product-details-price span.old {
   color: #333;
   font-size: 18px;
   text-decoration: line-through;
   margin-left: 20px;
 }

 .product-details-content .pro-details-rating-wrap {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   margin: 0 0 17px;
 }

 .product-details-content .pro-details-rating-wrap .pro-details-rating {
   position: relative;
   margin-right: 39px;
 }

 .product-details-content .pro-details-rating-wrap .pro-details-rating:before {
   position: absolute;
   right: -19px;
   top: 4px;
   content: "";
   height: 15px;
   width: 2px;
   background-color: #d1d1d1;
 }

 .product-details-content .pro-details-rating-wrap .pro-details-rating i {
   color: #5f5d5d;
   font-size: 17px;
   margin-right: 5px;
 }

 .product-details-content .pro-details-rating-wrap .pro-details-rating i.yellow {
   color: #ffa900;
 }

 .product-details-content .pro-details-rating-wrap span a {
   font-size: 15px;
   color: #a749ff;
 }

 .product-details-content .pro-details-rating-wrap span a:hover {
   color: #000;
 }

 .product-details-content p {
   font-size: 15px;
   line-height: 28px;
   color: #333;
   margin: 0;
 }

 .product-details-content .pro-details-list {
   margin: 20px 0 34px;
   border-bottom: 1px solid #e5e5e5;
   padding: 0 0 37px;
 }

 .product-details-content .pro-details-list ul li {
   color: #333;
   margin: 0 0 5px;
 }

 .product-details-content .pro-details-list ul li:last-child {
   margin: 0;
 }

 .product-details-content .pro-details-size-color {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
 }

 @media only screen and (max-width: 767px) {
   .product-details-content .pro-details-size-color {
     display: block;
   }
 }

 @media only screen and (min-width: 576px) and (max-width: 767px) {
   .product-details-content .pro-details-size-color {
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
   }
 }

 .product-details-content .pro-details-size-color .pro-details-color-wrap {
   margin-right: 20px;
   overflow: hidden;
 }

 @media only screen and (max-width: 767px) {
   .product-details-content .pro-details-size-color .pro-details-color-wrap {
     margin-bottom: 20px;
   }
 }

 @media only screen and (min-width: 576px) and (max-width: 767px) {
   .product-details-content .pro-details-size-color .pro-details-color-wrap {
     margin-bottom: 0px;
   }
 }

 .product-details-content .pro-details-size-color .pro-details-color-wrap span {
   display: block;
   font-weight: 500;
   margin: 0 0 15px;
   font-size: 15px;
 }

 .product-details-content .pro-details-size-color .pro-details-color-wrap .pro-details-color-content ul li {
   border-radius: 50px;
   cursor: pointer;
   display: block;
   float: left;
   height: 14px;
   margin-right: 15px;
   position: relative;
   -webkit-transition: all 0.4s ease 0s;
   -o-transition: all 0.4s ease 0s;
   transition: all 0.4s ease 0s;
   width: 14px;
 }

 .product-details-content .pro-details-size-color .pro-details-color-wrap .pro-details-color-content ul li:last-child {
   margin-right: 0px;
 }

 .product-details-content .pro-details-size-color .pro-details-color-wrap .pro-details-color-content ul li.blue {
   background-color: #4798f3;
   border: 1px solid #4798f3;
 }

 .product-details-content .pro-details-size-color .pro-details-color-wrap .pro-details-color-content ul li.maroon {
   background-color: #736751;
   border: 1px solid #736751;
 }

 .product-details-content .pro-details-size-color .pro-details-color-wrap .pro-details-color-content ul li.gray {
   background-color: #c0c0c0;
   border: 1px solid #c0c0c0;
 }

 .product-details-content .pro-details-size-color .pro-details-color-wrap .pro-details-color-content ul li.green {
   background-color: #139c57;
   border: 1px solid #139c57;
 }

 .product-details-content .pro-details-size-color .pro-details-color-wrap .pro-details-color-content ul li.yellow {
   background-color: #e28b37;
   border: 1px solid #e28b37;
 }

 .product-details-content .pro-details-size-color .pro-details-size span {
   display: block;
   font-weight: 500;
   margin: 0 0 10px;
   font-size: 15px;
 }

 .product-details-content .pro-details-size-color .pro-details-size .pro-details-size-content ul li {
   display: inline-block;
   list-style: outside none none;
   margin: 0 2px 0 0;
 }

 .product-details-content .pro-details-size-color .pro-details-size .pro-details-size-content ul li a {
   background-color: #f1f2f6;
   color: #000;
   display: inline-block;
   font-size: 12px;
   line-height: 1;
   padding: 6px 9px 7px;
   text-transform: uppercase;
 }

 .product-details-content .pro-details-size-color .pro-details-size .pro-details-size-content ul li a:hover {
   background-color: #a749ff;
   color: #fff;
 }

 .product-details-content .pro-details-quality {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   margin-top: 40px;
   margin-bottom: 34px;
 }

 .product-details-content .pro-details-quality .cart-plus-minus {
   border: 1px solid #e8e8e8;
   display: inline-block;
   height: 60px;
   overflow: hidden;
   padding: 0;
   position: relative;
   width: 80px;
 }

 .product-details-content .pro-details-quality .cart-plus-minus .qtybutton {
   color: #8f8f8f;
   cursor: pointer;
   float: inherit;
   font-size: 14px;
   font-weight: 500;
   line-height: 20px;
   margin: 0;
   position: absolute;
   text-align: center;
   -webkit-transition: all 0.3s ease 0s;
   -o-transition: all 0.3s ease 0s;
   transition: all 0.3s ease 0s;
   width: 24px;
 }

 .product-details-content .pro-details-quality .cart-plus-minus .dec.qtybutton {
   height: 60px;
   left: 0;
   padding-top: 20px;
   top: 0;
 }

 .product-details-content .pro-details-quality .cart-plus-minus .inc.qtybutton {
   height: 60px;
   padding-top: 20px;
   right: 0;
   top: 0;
 }

 .product-details-content .pro-details-quality .cart-plus-minus input.cart-plus-minus-box {
   background: transparent none repeat scroll 0 0;
   border: medium none;
   color: #8f8f8f;
   float: left;
   font-size: 14px;
   height: 60px;
   margin: 0;
   padding: 0;
   text-align: center;
   width: 80px;
 }

 .product-details-content .pro-details-quality .pro-details-cart {
   margin: 0 25px 0 10px;
 }

 @media only screen and (max-width: 767px) {
   .product-details-content .pro-details-quality .pro-details-cart {
     margin: 0 10px 0 10px;
   }
 }

 @media only screen and (min-width: 768px) and (max-width: 991px) {
   .product-details-content .pro-details-quality .pro-details-cart {
     margin: 0 17px 0 10px;
   }
 }

 .product-details-content .pro-details-quality .pro-details-cart a {
   color: #fff;
   font-weight: bold;
   text-transform: uppercase;
   background-color: #343538;
   display: inline-block;
   line-height: 1;
   padding: 23px 38px 23px;
   z-index: 99;
 }

 @media only screen and (max-width: 767px) {
   .product-details-content .pro-details-quality .pro-details-cart a {
     padding: 23px 12px 23px;
   }
 }

 @media only screen and (min-width: 768px) and (max-width: 991px) {
   .product-details-content .pro-details-quality .pro-details-cart a {
     padding: 22px 22px 22px;
   }
 }

 .product-details-content .pro-details-quality .pro-details-cart a:hover {
   border: none;
 }

 .product-details-content .pro-details-quality .pro-details-wishlist a {
   font-size: 18px;
   color: #000;
 }

 .product-details-content .pro-details-quality .pro-details-wishlist a:hover {
   color: #a749ff;
 }

 .product-details-content .pro-details-quality .pro-details-compare a {
   font-size: 18px;
   color: #000;
   margin-left: 25px;
 }

 @media only screen and (max-width: 767px) {
   .product-details-content .pro-details-quality .pro-details-compare a {
     margin-left: 10px;
   }
 }

 .product-details-content .pro-details-quality .pro-details-compare a:hover {
   color: #a749ff;
 }

 .product-details-content .pro-details-meta {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   margin: 0 0 10px;
 }

 .product-details-content .pro-details-meta span {
   font-size: 15px;
   color: #676767;
   margin-right: 5px;
 }

 .product-details-content .pro-details-meta ul li {
   display: inline-block;
   margin: 0 3px 0 0;
 }

 .product-details-content .pro-details-meta ul li a {
   color: #676767;
   font-size: 15px;
 }

 @media only screen and (max-width: 767px) {
   .product-details-content .pro-details-meta ul li a {
     font-size: 14px;
   }
 }

 .product-details-content .pro-details-meta ul li a:hover {
   color: #a749ff;
 }

 .product-details-content .pro-details-social {
   margin: 24px 0 0;
 }

 .product-details-content .pro-details-social ul {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
 }

 .product-details-content .pro-details-social ul li {
   margin-right: 40px;
 }

 .product-details-content .pro-details-social ul li:last-child {
   margin-right: 0px;
 }

 .product-details-content .pro-details-social ul li a {
   font-size: 16px;
   color: #343538;
 }

 .product-details-content .pro-details-social ul li a:hover {
   color: #a749ff;
 }

 @media only screen and (max-width: 767px) {
   .product-details-content.pro-details-slider-content.mt-50 {
     margin-top: 30px;
   }
 }

 .product-details-content.pro-details-slider-content .product-details-price {
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
 }

 .product-details-content.pro-details-slider-content p {
   width: 59%;
   margin: 0 auto;
 }

 @media only screen and (min-width: 992px) and (max-width: 1199px) {
   .product-details-content.pro-details-slider-content p {
     width: 80%;
   }
 }

 @media only screen and (min-width: 768px) and (max-width: 991px) {
   .product-details-content.pro-details-slider-content p {
     width: 100%;
   }
 }

 @media only screen and (max-width: 767px) {
   .product-details-content.pro-details-slider-content p {
     width: 100%;
   }
 }

 .product-details-content.pro-details-slider-content .pro-details-rating-wrap {
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
 }

 .product-details-content.pro-details-slider-content .pro-details-size-color {
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   text-align: left;
 }

 @media only screen and (max-width: 767px) {
   .product-details-content.pro-details-slider-content .pro-details-size-color {
     text-align: center;
   }

   .product-details-content.pro-details-slider-content .pro-details-size-color .pro-details-color-content {
     -webkit-box-pack: center;
     -ms-flex-pack: center;
     justify-content: center;
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
   }
 }

 .product-details-content.pro-details-slider-content .pro-details-quality {
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
 }

 .product-details-content.pro-details-slider-content .pro-details-meta {
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
 }

 .product-details-content.pro-details-slider-content .pro-details-social ul {
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
 }

 @media only screen and (max-width: 767px) {
   .sidebar-active .product-details-content {
     margin-top: 0;
   }
 }

 .zoompro-wrap .zoompro-span {
   position: relative;
 }

 .zoompro-wrap .zoompro-span span {
   position: absolute;
   top: 30px;
   left: 30px;
   font-size: 13px;
   color: #fff;
   display: inline-block;
   line-height: 1;
   padding: 3px 11px;
   border-radius: 3px;
   font-weight: 500;
   background-color: #fa6bff;
   z-index: 99;
 }

 .zoompro-wrap .zoompro-span .product-video {
   text-align: center;
   position: absolute;
   bottom: 30px;
   left: 30px;
   z-index: 99;
 }

 .zoompro-wrap .zoompro-span .product-video a {
   background-color: #fa6bff;
   border-radius: 3px;
   color: #fff;
   display: inline-block;
   padding: 5px 15px 5px;
 }

 @media only screen and (max-width: 767px) {
   .zoompro-wrap .zoompro-span .product-video a {
     padding: 3px 10px 3px;
   }
 }

 .zoompro-wrap .zoompro-span img {
   width: 100%;
 }


 .dec-img-wrapper {
   margin-top: 50px;
 }

 @media only screen and (max-width: 767px) {
   .dec-img-wrapper {
     margin-top: 30px;
   }
 }

 .dec-img-wrapper .dec-img img {
   width: 100%;
 }

 @media only screen and (max-width: 767px) {
   .dec-img-wrapper .dec-img.mb-50 {
     margin-bottom: 30px;
   }
 }

 @media only screen and (min-width: 768px) and (max-width: 991px) {
   .product-details-gallery.mr-20 {
     margin-right: 0;
   }
 }

 @media only screen and (max-width: 767px) {
   .product-details-gallery.mr-20 {
     margin-right: 0;
   }
 }

 .button_to{
   display: inline-block;
 }

 .lighter-text {
   color: #ABB0BE;
 }

 .main-color-text {
   color: #6394F8;
 }

 nav {
   padding: 20px 0 40px 0;
   background: #F8F8F8;
   font-size: 16px;
 }
 nav .navbar-left {
   float: left;
 }
 nav .navbar-right {
   float: right;
 }
 nav ul li {
   display: inline;
   padding-left: 20px;
 }
 nav ul li a {
   color: #777777;
   text-decoration: none;
 }
 nav ul li a:hover {
   color: black;
 }

 .container {
   margin: auto;
   width: 80%;
 }

 .badge {
   background-color: #6394F8;
   border-radius: 10px;
   color: white;
   display: inline-block;
   font-size: 12px;
   line-height: 1;
   padding: 3px 7px;
   text-align: center;
   vertical-align: middle;
   white-space: nowrap;
 }

 .shopping-cart {
   margin: 20px 0;
   float: right;
   background: white;
   width: 320px;
   position: relative;
   border-radius: 3px;
   padding: 20px;
 }
 .shopping-cart .shopping-cart-header {
   border-bottom: 1px solid #E8E8E8;
   padding-bottom: 15px;
 }
 .shopping-cart .shopping-cart-header .shopping-cart-total {
   float: right;
 }
 .shopping-cart .shopping-cart-items {
   padding-top: 20px;
 }
 .shopping-cart .shopping-cart-items li {
   margin-bottom: 18px;
 }
 .shopping-cart .shopping-cart-items img {
   float: left;
   margin-right: 12px;
 }
 .shopping-cart .shopping-cart-items .item-name {
   display: block;
   padding-top: 10px;
   font-size: 16px;
 }
 .shopping-cart .shopping-cart-items .item-price {
   color: #6394F8;
   margin-right: 8px;
 }
 .shopping-cart .shopping-cart-items .item-quantity {
   color: #ABB0BE;
 }

 .shopping-cart:after {
   bottom: 100%;
   left: 89%;
   border: solid transparent;
   content: " ";
   height: 0;
   width: 0;
   position: absolute;
   pointer-events: none;
   border-bottom-color: white;
   border-width: 8px;
   margin-left: -8px;
 }

 .cart-icon {
   color: #515783;
   font-size: 24px;
   margin-right: 7px;
   float: left;
 }

 .button {
   background: #6394F8;
   color: white;
   text-align: center;
   padding: 12px;
   text-decoration: none;
   display: block;
   border-radius: 3px;
   font-size: 16px;
   margin: 25px 0 15px 0;
 }
 .button:hover {
   background: #729ef9;
 }

 .clearfix:after {
   content: "";
   display: table;
   clear: both;
 }


 .btn-sign-in{
   text-decoration: none;
   color: #fff;
   background-color: #fd4d4d;
   font-weight: 600;
   font-family: "Montserrat";
   padding: 15px 40px;
   border-radius: 3px;
   display: inline-block;
   position: relative;
   overflow: hidden;
 }
 /*---------------------------------------------------*/
 /*	12) panhara login
  /*---------------------------------------------------*/
 .panhara_tm_hero_title_second_product {
   position: absolute;
   top: 70%;
   transform: translateY(-50%);
   margin-left: 50px;
 }

 .panhara_tm_hero_title_second_product h5 {
   color: #fff;
   font-weight: 600;
   font-size: 24px;
   font-family: "Montserrat";
   line-height: 1.5;
   margin-bottom: 28px;
 }

 .panhara_tm_hero_title_second_product .name {
   color: #fff;
   font-weight: 700;
   font-size: 70px;
   font-family: "Montserrat";
   line-height: 1.2;
   margin-bottom: 10px;
 }

 .panhara_tm_hero_title_second_product .name span {
   color: #fd4d4d;
 }

 .panhara_tm_hero_title_second_product .subtitle {
   color: #fff;
   font-size: 24px;
   font-weight: 500;
   line-height: 1.5;
   margin-bottom: 48px;
 }

 .panhara_tm_universal_box_wrap_product .overlay_video_product {
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   z-index: 15;
   overflow: hidden;
 }

 .panhara_tm_universal_box_wrap_product .overlay_video_product video {
   width: 100%;
   height: 100%;
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   object-fit: cover;
 }

 .panhara_tm_universal_box_wrap_product .overlay_color_product {
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   z-index: 20;
 }

 .panhara_tm_universal_box_wrap_product .overlay_image_product.hero_product {
   background-image: url("/img/hero/2.jpg");
 }

 .panhara_tm_universal_box_wrap_product .overlay_color_product.hero_product {
   background-color: rgba(10,4,37,.85);
 }

 .panhara_tm_universal_box_wrap_product .content_product {
   width: 100%;
   height: auto;
   clear: both;
   float: left;
   position: relative;
   z-index: 25;
   -webkit-box-sizing: border-box;
   /* Safari/Chrome, other WebKit */
   -moz-box-sizing: border-box;
   /* Firefox, other Gecko */
   box-sizing: border-box;
   /* Opera/IE 8+ */
 }

 .panhara_tm_universal_box_wrap_product .content_product.hero_product {
   height: 50vh;
   overflow: hidden;
 }

 .panhara_tm_universal_box_wrap_product .container_product.hero_product {
   position: static;
 }

 .panhara_tm_hero_title_product {
   position: absolute;
   width: 100%;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   text-align: center;
 }

 .panhara_tm_universal_box_wrap_product .overlay_image_product {
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   z-index: 15;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
 }

 .panhara_tm_universal_box_wrap_product .bg_wrap_product {
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   z-index: 10;
 }

 .panhara_tm_universal_box_wrap_product {
   width: 100%;
   height: auto;
   clear: both;
   float: left;
   position: relative;
   -webkit-box-sizing: border-box;
   /* Safari/Chrome, other WebKit */
   -moz-box-sizing: border-box;
   /* Firefox, other Gecko */
   box-sizing: border-box;
   /* Opera/IE 8+ */
 }

 .panhara_tm_hero_header_product {
   width: 100%;
   height: auto;
   clear: both;
   float: left;
   -webkit-box-sizing: border-box;
   /* Safari/Chrome, other WebKit */
   -moz-box-sizing: border-box;
   /* Firefox, other Gecko */
   box-sizing: border-box;
   /* Opera/IE 8+ */
 }

 .panhara_tm_content,
 .panhara_tm_section,
 .panhara_tm_wrapper_all {
   width: 100%;
   height: auto;
   clear: both;
   float: left;
   -webkit-box-sizing: border-box;
   /* Safari/Chrome, other WebKit */
   -moz-box-sizing: border-box;
   /* Firefox, other Gecko */
   box-sizing: border-box;
   /* Opera/IE 8+ */
 }

 .panhara_tm_login_wrap_all {
   width: 100%;
   height: auto;
   clear: both;
   float: left;
   padding-top: 92px;
   -webkit-box-sizing: border-box;
   /* Safari/Chrome, other WebKit */
   -moz-box-sizing: border-box;
   /* Firefox, other Gecko */
   box-sizing: border-box;
   /* Opera/IE 8+ */
 }

 .panhara_tm_login_wrap {
   max-width: 830px;
   height: auto;
   margin: 0 auto;
   -webkit-box-sizing: border-box;
   /* Safari/Chrome, other WebKit */
   -moz-box-sizing: border-box;
   /* Firefox, other Gecko */
   box-sizing: border-box;
   /* Opera/IE 8+ */
 }

 .panhara_tm_login_wrap .subtitle {
   text-align: center;
   margin-bottom: 69px;
 }

 .panhara_tm_login_wrap .subtitle p {
   color: #333;
 }

 .panhara_tm_login_wrap .main_input_wrap {
   margin-bottom: 100px;
 }

 .panhara_tm_login_wrap .main_input_wrap,
 .panhara_tm_login_wrap .main_input_wrap .wrap-login {
   width: 100%;
   height: auto;
   clear: both;
   float: left;
   padding: 0 100px;
   -webkit-box-sizing: border-box;
   /* Safari/Chrome, other WebKit */
   -moz-box-sizing: border-box;
   /* Firefox, other Gecko */
   box-sizing: border-box;
   /* Opera/IE 8+ */
 }

 .panhara_tm_login_wrap .main_input_wrap .wrap-login {
   margin-bottom: 30px;
 }

 .panhara_tm_login_wrap .main_input_wrap .wrap-login input {
   width: 100%;
   text-align: center;
   background-color: transparent;
   border: none;
   border-bottom: 1px solid rgba(10,4,37,1);
   color: #333;
 }

 .panhara_tm_login_wrap .main_input_wrap .wrap-logini input:focus {
   outline: none;
   border-bottom-color: #fd4d4d;
 }

 .panhara_tm_login_wrap .main_input_wrap .wrap-login textarea {
   width: 100%;
   height: 120px;
   text-align: center;
   background-color: transparent;
   border: none;
   border-bottom: 1px solid rgba(10,4,37,1);
   color: #333;
 }

 .panhara_tm_login_wrap .main_input_wrap .wrap-login textarea:focus {
   outline: none;
   border-bottom-color: #fd4d4d;
 }

 .panhara_tm_login_wrap .panhara_tm_button {
   text-align: center;
 }

 .panhara_tm_login_wrap .panhara_tm_button a {
   text-decoration: none;
   color: #fff;
   background-color: #fd4d4d;
   font-weight: 600;
   font-family: "Montserrat";
   padding: 15px 40px;
   border-radius: 3px;
   display: inline-block;
 }

 .panhara_tm_login_wrap .empty_notice {
   color: #FF0004;
   margin-bottom: 7px;
   display: none;
   text-align: center;
 }

 .panhara_tm_login_wrap .login_error {
   color: rgba(255,0,4,1.00);
   text-align: center;
 }

 .panhara_tm_login_wrap .returnmessage {
   color: #0064FF;
   margin-bottom: 7px;
   text-align: center;
 }

 .btn-submit {
   text-decoration: none;
   color: #fff;
   background-color: #fd4d4d;
   font-weight: 600;
   font-family: "Montserrat";
   padding: 15px 40px;
   border-radius: 3px;
   display: inline-block;
 }

 ul.sidebar-menu {
   margin: 0;
   padding: 0;
   max-width: 400px;
   list-style: none;
   list-style-type: none;
 }

 .sidebar-menu li a span {
   margin-right: 20px;
   color: #fff;
 }

 .sidebar-menu li a {
   background-color: rgba(10,4,37,1);
   padding: 20px 25px;
   display: block;
   text-decoration: none;
   color: #fff;
 }

 .sidebar-menu li a:hover {
   background-color: #52565d;
   padding: 20px 25px;
   display: block;
   text-decoration: none;
   color: #fff;
 }

 li.have-children ul {
   padding: 0;
 }

 li.have-children ul li a {
   background-color: rgba(10,4,37,1);
   padding-left: 62px;
 }

 li.have-children ul li a:hover {
   color: #fff;
   background-color: #52565d;
   padding-left: 62px;
 }

 li,
 li.have-children {
   position: relative;
 }

 .have-children span::after {
   position: absolute;
   right: 30px;
   content: "\f054";
   color: #fff;
   transition: all 0.5s;
 }

 li.active.have-children span::after {
   -moz-transform: rotate(90deg);
   -o-transform: rotate(90deg);
   -webkit-transform: rotate(90deg);
   transform: rotate(90deg);
 }

 .sidebar-menu .have-children > ul {
   display: none;
 }

 .table-container {
   margin-top: 20px;
 }

 .name_product{
   color: white;
   font-size: 34px;
   text-align: center;
 }

 /* home 5 */
 .wrapper {
   margin: 20px 20px;
 }

 .product-wrap-3 {
   position: relative;
 }

 .product-wrap-3 .product-img {
   position: relative;
 }

 .product-wrap-3 .product-img a img {
   width: 100%;
 }

 .product-wrap-3 .product-img>span {
   position: absolute;
   top: 12px;
   right: 12px;
   font-size: 13px;
   color: #fff;
   display: inline-block;
   line-height: 1;
   padding: 3px 11px;
   border-radius: 3px;
   font-weight: 500;
   z-index: 99;
 }

 .product-wrap-3 .product-img>span.pink {
   background-color: #fa6bff;
 }

 .product-wrap-3 .product-img>span.purple {
   background-color: #a749ff;
 }

 .product-wrap-3 .product-content-3-wrap {
   background: rgba(255, 255, 255, 0.9) none repeat scroll 0 0;
   opacity: 0;
   visibility: hidden;
   position: absolute;
   width: 90%;
   height: 90%;
   left: 5%;
   right: 5%;
   bottom: 5%;
   top: 5%;
   -webkit-transition: all 0.4s ease 0s;
   -o-transition: all 0.4s ease 0s;
   transition: all 0.4s ease 0s;
   z-index: 8;
   -webkit-transform: scale(0.85);
   -ms-transform: scale(0.85);
   transform: scale(0.85);
 }

 .product-wrap-3 .product-content-3-wrap .product-content-3 {
   left: 50%;
   position: absolute;
   text-align: center;
   top: 50%;
   -webkit-transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
   width: 100%;
   -webkit-transition: all 0.4s ease 0s;
   -o-transition: all 0.4s ease 0s;
   transition: all 0.4s ease 0s;
 }

 .product-wrap-3 .product-content-3-wrap .product-content-3 .product-title h3 {
   font-size: 18px;
   margin: 0;
   line-height: 1;
 }

 .product-wrap-3 .product-content-3-wrap .product-content-3 .price-3 {
   margin: 10px 0 20px;
 }

 .product-wrap-3 .product-content-3-wrap .product-content-3 .price-3 span {
   font-size: 16px;
   color: #000;
   font-weight: 500;
   margin: 0 9px;
   position: relative;
 }

 .product-wrap-3 .product-content-3-wrap .product-content-3 .price-3 span::before {
   position: absolute;
   content: "";
   right: -13px;
   top: 10px;
   width: 7px;
   height: 2px;
   background-color: #000;
 }

 .product-wrap-3 .product-content-3-wrap .product-content-3 .price-3 span:last-child::before {
   display: none;
 }

 .product-wrap-3 .product-content-3-wrap .product-content-3 .price-3 span.old {
   color: #8e8e8e;
   text-decoration: line-through;
 }

 .product-wrap-3 .product-content-3-wrap .product-content-3 .product-action-3 a {
   display: inline-block;
   line-height: 1;
   width: 42px;
   height: 42px;
   line-height: 42px;
   font-size: 16px;
   background-color: #a749ff;
   color: #fff;
   text-align: center;
   border-radius: 50px;
   margin: 0 3px;
   -webkit-transition: all 0.4s ease-in-out;
   -o-transition: all 0.4s ease-in-out;
   transition: all 0.4s ease-in-out;
 }

 .product-wrap-3 .product-content-3-wrap .product-content-3 .product-action-3 a:hover {
   background-color: #fa6bff;
 }

 .product-wrap-3:hover .product-content-3-wrap {
   opacity: 1;
   visibility: visible;
   -webkit-transform: scale(1);
   -ms-transform: scale(1);
   transform: scale(1);
 }

 @media only screen and (max-width: 767px) {
   .wrapper {
     margin: 0px 0px;
   }
 }


 .modal-dialog {
   margin: 8% auto;
   max-width: 960px;
   width: 960px;
   padding: 35px;
 }

 @media only screen and (min-width: 768px) and (max-width: 991px) {
   .modal-dialog {
     width: 720px;
     max-width: 720px;
   }
 }

 @media only screen and (max-width: 767px) {
   .modal-dialog {
     width: 100%;
     max-width: 100%;
     padding: 35px 0;
   }
 }

 .modal-dialog .modal-header .close {
   color: #333;
   cursor: pointer;
   opacity: 1;
 }

 .modal-dialog .modal-header .close:hover {
   color: #a749ff;
 }

 .modal-dialog .modal-body {
   padding: 35px 15px;
 }

 .modal-dialog .quickview-big-img img {
   width: 100%;
 }


 @media only screen and (min-width: 992px) and (max-width: 1199px) {
   .product-details-content.ml-70 {
     margin-left: 0;
   }
 }

 @media only screen and (min-width: 768px) and (max-width: 991px) {
   .product-details-content.ml-70 {
     margin-left: 0;
   }
 }

 @media only screen and (max-width: 767px) {
   .product-details-content.ml-70 {
     margin-left: 0;
     margin-top: 30px;
   }
 }

 @media only screen and (max-width: 767px) {
   .product-details-content.quickview-content {
     margin-top: 30px;
   }
 }

 .product-details-content h2 {
   color: #010101;
   font-size: 24px;
   margin: 0 0 0px;
   line-height: 1;
 }

 .product-details-content .product-details-price {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   margin: 15px 0 26px;
 }

 .product-details-content .product-details-price span {
   font-size: 24px;
   color: #fe5252;
 }

 .product-details-content .product-details-price span.old {
   color: #333;
   font-size: 18px;
   text-decoration: line-through;
   margin-left: 20px;
 }

 .product-details-content .pro-details-rating-wrap {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   margin: 0 0 17px;
 }

 .product-details-content .pro-details-rating-wrap .pro-details-rating {
   position: relative;
   margin-right: 39px;
 }

 .product-details-content .pro-details-rating-wrap .pro-details-rating:before {
   position: absolute;
   right: -19px;
   top: 4px;
   content: "";
   height: 15px;
   width: 2px;
   background-color: #d1d1d1;
 }

 .product-details-content .pro-details-rating-wrap .pro-details-rating i {
   color: #5f5d5d;
   font-size: 17px;
   margin-right: 5px;
 }

 .product-details-content .pro-details-rating-wrap .pro-details-rating i.yellow {
   color: #ffa900;
 }

 .product-details-content .pro-details-rating-wrap span a {
   font-size: 15px;
   color: #a749ff;
 }

 .product-details-content .pro-details-rating-wrap span a:hover {
   color: #000;
 }

 .product-details-content p {
   font-size: 15px;
   line-height: 28px;
   color: #333;
   margin: 0;
 }

 .product-details-content .pro-details-list {
   margin: 20px 0 34px;
   border-bottom: 1px solid #e5e5e5;
   padding: 0 0 37px;
 }

 .product-details-content .pro-details-list ul li {
   color: #333;
   margin: 0 0 5px;
 }

 .product-details-content .pro-details-list ul li:last-child {
   margin: 0;
 }

 .product-details-content .pro-details-size-color {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
 }

 @media only screen and (max-width: 767px) {
   .product-details-content .pro-details-size-color {
     display: block;
   }
 }

 @media only screen and (min-width: 576px) and (max-width: 767px) {
   .product-details-content .pro-details-size-color {
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
   }
 }

 .product-details-content .pro-details-size-color .pro-details-color-wrap {
   margin-right: 20px;
   overflow: hidden;
 }

 @media only screen and (max-width: 767px) {
   .product-details-content .pro-details-size-color .pro-details-color-wrap {
     margin-bottom: 20px;
   }
 }

 @media only screen and (min-width: 576px) and (max-width: 767px) {
   .product-details-content .pro-details-size-color .pro-details-color-wrap {
     margin-bottom: 0px;
   }
 }

 .product-details-content .pro-details-size-color .pro-details-color-wrap span {
   display: block;
   font-weight: 500;
   margin: 0 0 15px;
   font-size: 15px;
 }

 .product-details-content .pro-details-size-color .pro-details-color-wrap .pro-details-color-content ul li {
   border-radius: 50px;
   cursor: pointer;
   display: block;
   float: left;
   height: 14px;
   margin-right: 15px;
   position: relative;
   -webkit-transition: all 0.4s ease 0s;
   -o-transition: all 0.4s ease 0s;
   transition: all 0.4s ease 0s;
   width: 14px;
 }

 .product-details-content .pro-details-size-color .pro-details-color-wrap .pro-details-color-content ul li:last-child {
   margin-right: 0px;
 }

 .product-details-content .pro-details-size-color .pro-details-color-wrap .pro-details-color-content ul li.blue {
   background-color: #4798f3;
   border: 1px solid #4798f3;
 }

 .product-details-content .pro-details-size-color .pro-details-color-wrap .pro-details-color-content ul li.maroon {
   background-color: #736751;
   border: 1px solid #736751;
 }

 .product-details-content .pro-details-size-color .pro-details-color-wrap .pro-details-color-content ul li.gray {
   background-color: #c0c0c0;
   border: 1px solid #c0c0c0;
 }

 .product-details-content .pro-details-size-color .pro-details-color-wrap .pro-details-color-content ul li.green {
   background-color: #139c57;
   border: 1px solid #139c57;
 }

 .product-details-content .pro-details-size-color .pro-details-color-wrap .pro-details-color-content ul li.yellow {
   background-color: #e28b37;
   border: 1px solid #e28b37;
 }

 .product-details-content .pro-details-size-color .pro-details-size span {
   display: block;
   font-weight: 500;
   margin: 0 0 10px;
   font-size: 15px;
 }

 .product-details-content .pro-details-size-color .pro-details-size .pro-details-size-content ul li {
   display: inline-block;
   list-style: outside none none;
   margin: 0 2px 0 0;
 }

 .product-details-content .pro-details-size-color .pro-details-size .pro-details-size-content ul li a {
   background-color: #f1f2f6;
   color: #000;
   display: inline-block;
   font-size: 12px;
   line-height: 1;
   padding: 6px 9px 7px;
   text-transform: uppercase;
 }

 .product-details-content .pro-details-size-color .pro-details-size .pro-details-size-content ul li a:hover {
   background-color: #a749ff;
   color: #fff;
 }

 .product-details-content .pro-details-quality {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   margin-top: 40px;
   margin-bottom: 34px;
 }

 .product-details-content .pro-details-quality .cart-plus-minus {
   border: 1px solid #e8e8e8;
   display: inline-block;
   height: 60px;
   overflow: hidden;
   padding: 0;
   position: relative;
   width: 80px;
 }

 .product-details-content .pro-details-quality .cart-plus-minus .qtybutton {
   color: #8f8f8f;
   cursor: pointer;
   float: inherit;
   font-size: 14px;
   font-weight: 500;
   line-height: 20px;
   margin: 0;
   position: absolute;
   text-align: center;
   -webkit-transition: all 0.3s ease 0s;
   -o-transition: all 0.3s ease 0s;
   transition: all 0.3s ease 0s;
   width: 24px;
 }

 .product-details-content .pro-details-quality .cart-plus-minus .dec.qtybutton {
   height: 60px;
   left: 0;
   padding-top: 20px;
   top: 0;
 }

 .product-details-content .pro-details-quality .cart-plus-minus .inc.qtybutton {
   height: 60px;
   padding-top: 20px;
   right: 0;
   top: 0;
 }

 .product-details-content .pro-details-quality .cart-plus-minus input.cart-plus-minus-box {
   background: transparent none repeat scroll 0 0;
   border: medium none;
   color: #8f8f8f;
   float: left;
   font-size: 14px;
   height: 60px;
   margin: 0;
   padding: 0;
   text-align: center;
   width: 80px;
 }

 .product-details-content .pro-details-quality .pro-details-cart {
   margin: 0 25px 0 10px;
 }

 @media only screen and (max-width: 767px) {
   .product-details-content .pro-details-quality .pro-details-cart {
     margin: 0 10px 0 10px;
   }
 }

 @media only screen and (min-width: 768px) and (max-width: 991px) {
   .product-details-content .pro-details-quality .pro-details-cart {
     margin: 0 17px 0 10px;
   }
 }

 .product-details-content .pro-details-quality .pro-details-cart a {
   color: #fff;
   font-weight: bold;
   text-transform: uppercase;
   background-color: #343538;
   display: inline-block;
   line-height: 1;
   padding: 23px 38px 23px;
   z-index: 99;
 }

 @media only screen and (max-width: 767px) {
   .product-details-content .pro-details-quality .pro-details-cart a {
     padding: 23px 12px 23px;
   }
 }

 @media only screen and (min-width: 768px) and (max-width: 991px) {
   .product-details-content .pro-details-quality .pro-details-cart a {
     padding: 22px 22px 22px;
   }
 }

 .product-details-content .pro-details-quality .pro-details-cart a:hover {
   border: none;
 }

 .product-details-content .pro-details-quality .pro-details-wishlist a {
   font-size: 18px;
   color: #000;
 }

 .product-details-content .pro-details-quality .pro-details-wishlist a:hover {
   color: #a749ff;
 }

 .product-details-content .pro-details-quality .pro-details-compare a {
   font-size: 18px;
   color: #000;
   margin-left: 25px;
 }

 @media only screen and (max-width: 767px) {
   .product-details-content .pro-details-quality .pro-details-compare a {
     margin-left: 10px;
   }
 }

 .product-details-content .pro-details-quality .pro-details-compare a:hover {
   color: #a749ff;
 }

 .product-details-content .pro-details-meta {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   margin: 0 0 10px;
 }

 .product-details-content .pro-details-meta span {
   font-size: 15px;
   color: #676767;
   margin-right: 5px;
 }

 .product-details-content .pro-details-meta ul li {
   display: inline-block;
   margin: 0 3px 0 0;
 }

 .product-details-content .pro-details-meta ul li a {
   color: #676767;
   font-size: 15px;
 }

 @media only screen and (max-width: 767px) {
   .product-details-content .pro-details-meta ul li a {
     font-size: 14px;
   }
 }

 .product-details-content .pro-details-meta ul li a:hover {
   color: #a749ff;
 }

 .product-details-content .pro-details-social {
   margin: 24px 0 0;
 }

 .product-details-content .pro-details-social ul {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
 }

 .product-details-content .pro-details-social ul li {
   margin-right: 40px;
 }

 .product-details-content .pro-details-social ul li:last-child {
   margin-right: 0px;
 }

 .product-details-content .pro-details-social ul li a {
   font-size: 16px;
   color: #343538;
 }

 .product-details-content .pro-details-social ul li a:hover {
   color: #a749ff;
 }

 @media only screen and (max-width: 767px) {
   .product-details-content.pro-details-slider-content.mt-50 {
     margin-top: 30px;
   }
 }

 .product-details-content.pro-details-slider-content .product-details-price {
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
 }

 .product-details-content.pro-details-slider-content p {
   width: 59%;
   margin: 0 auto;
 }

 @media only screen and (min-width: 992px) and (max-width: 1199px) {
   .product-details-content.pro-details-slider-content p {
     width: 80%;
   }
 }

 @media only screen and (min-width: 768px) and (max-width: 991px) {
   .product-details-content.pro-details-slider-content p {
     width: 100%;
   }
 }

 @media only screen and (max-width: 767px) {
   .product-details-content.pro-details-slider-content p {
     width: 100%;
   }
 }

 .product-details-content.pro-details-slider-content .pro-details-rating-wrap {
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
 }

 .product-details-content.pro-details-slider-content .pro-details-size-color {
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   text-align: left;
 }

 @media only screen and (max-width: 767px) {
   .product-details-content.pro-details-slider-content .pro-details-size-color {
     text-align: center;
   }

   .product-details-content.pro-details-slider-content .pro-details-size-color .pro-details-color-content {
     -webkit-box-pack: center;
     -ms-flex-pack: center;
     justify-content: center;
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
   }
 }

 .product-details-content.pro-details-slider-content .pro-details-quality {
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
 }

 .product-details-content.pro-details-slider-content .pro-details-meta {
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
 }

 .product-details-content.pro-details-slider-content .pro-details-social ul {
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
 }

 .quickview-wrap .nav-style-1.owl-carousel>.owl-nav div {
   font-size: 20px;
   color: #333;
   left: 0px;
 }

 .quickview-wrap .nav-style-1.owl-carousel>.owl-nav div:hover {
   color: #a749ff;
 }

 .quickview-wrap .nav-style-1.owl-carousel>.owl-nav div.owl-next {
   right: 0px;
   left: auto;
 }

 .quickview-wrap:hover .nav-style-1.owl-carousel>.owl-nav div {
   opacity: 1;
   visibility: visible;
 }


 .product-details-content .pro-details-social {
   margin: 24px 0 0;
 }

 .product-details-content .pro-details-social ul {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
 }

 .product-details-content .pro-details-social ul li {
   margin-right: 40px;
 }

 .product-details-content .pro-details-social ul li:last-child {
   margin-right: 0px;
 }

 .product-details-content .pro-details-social ul li a {
   font-size: 16px;
   color: #343538;
 }

 .product-details-content .pro-details-social ul li a:hover {
   color: #a749ff;
 }


 /**********************************/
 /********** 2.0 Header  ***********/
 /**********************************/
 header.header {
   padding: 35px 40px;
   position: absolute;
   z-index: 1
 }
 header.header img.page-not-found {
   max-width: 40px;
 }
 header.header .divider {
   border-bottom: solid 1px #ccc;
   margin: 20px 0;
 }

 /**********************************/
 /****** 3.0 Content Styles  *******/
 /**********************************/
 .main {
   margin-top: 5%;
   text-align: center;
 }
 .main img.page-not-found {
   max-width: 450px;
 }
 .main h2 {
   color: #3d4145;
   font-size: 32px;
   font-weight: 700;
 }
 .main h6 {
   font-size: 16px;
   line-height: 24px;
   font-weight: 400;
 }
 .main .error {
   position: absolute;
   margin: auto;
   left: 0;
   right: 0;
   top: 0vw;
   color: rgba(0,0,0,.02);
   font-size: 25vw;
   text-align: center;
   font-weight: 900;
   font-family: sans-serif;
   pointer-events: none;
 }
 .main .button {
   display: inline-block;
   line-height: 1.25;
   text-align: center;
   vertical-align: middle;
   user-select: none;
   border: 1px solid transparent;
   margin: 1.8rem;
   padding: 1rem 1.8rem;
   font-size: 1rem;
   border-radius: 25rem;
   -webkit-transition: all .2s ease-in-out;
   transition: all .2s ease-in-out;
   color: #fff;
   -webkit-transition: background-color .3s ease-in-out,-webkit-box-shadow .3s ease-in-out;
   transition: background-color .3s ease-in-out,-webkit-box-shadow .3s ease-in-out;
   -o-transition: box-shadow .3s ease-in-out,background-color .3s ease-in-out;
   transition: box-shadow .3s ease-in-out,background-color .3s ease-in-out;
   transition: box-shadow .3s ease-in-out,background-color .3s ease-in-out,-webkit-box-shadow .3s ease-in-out;
   position: relative;
   background-image: -webkit-linear-gradient(356deg,#ee5154,#fb7100);
   background-image: -o-linear-gradient(356deg,#ee5154,#fb7100);
   background-image: linear-gradient(94deg,#ee5154,#fb7100);
   -webkit-box-shadow: 0 30px 65px -10px rgba(255,139,44,.6);
   box-shadow: 0 30px 65px -10px rgba(255,139,44,.6);
 }
 .main .button:hover{
   -webkit-box-shadow: 0 20px 65px -10px rgba(255,139,44,.4);
   box-shadow: 0 20px 65px -10px rgba(255,139,44,.4);
 }

 @media (max-width: 500px) {
   header.header {
     position: relative;
     padding: 0px 20px;
     text-align: center;
   }

   header.header a {
     display: inline-block;
     padding: 0 10px;
   }

   header.header .divider {
     display: inline-block;
     border-bottom: solid 1px #ccc;
     margin: 20px 0;
   }

   .main .error {
     top: 50vw;
   }
 }

 /*----- 20. Cart page  -----*/
 @media only screen and (max-width: 767px) {
   .cart-main-area.pb-100 {
     padding-bottom: 60px;
   }
 }

 h3.cart-page-title {
   font-size: 20px;
   font-weight: 500;
   margin: 0 0 15px;
 }

 .cart-table-content table {
   border: 1px solid #ebebeb;
 }

 .cart-table-content table thead>tr {
   background-color: #f9f9f9;
   border: 1px solid #ebebeb;
 }

 .cart-table-content table thead>tr th {
   border-top: medium none;
   color: #333;
   font-size: 14px;
   font-weight: 500;
   padding: 21px 45px 22px;
   text-align: center;
   text-transform: uppercase;
   vertical-align: middle;
   white-space: nowrap;
 }

 @media only screen and (min-width: 992px) and (max-width: 1199px) {
   .cart-table-content table thead>tr th {
     padding: 21px 35px 22px;
   }
 }

 @media only screen and (max-width: 767px) {
   .cart-table-content table thead>tr th {
     padding: 21px 20px 22px;
   }
 }

 .cart-table-content table tbody>tr {
   border-bottom: 1px solid #ebebeb;
 }

 .cart-table-content table tbody>tr td.product-thumbnail {
   width: 150px;
 }

 .cart-table-content table tbody>tr td.product-name {
   width: 435px;
 }

 .cart-table-content table tbody>tr td.product-name a {
   color: #333;
   font-size: 15px;
   font-weight: 500;
 }

 .cart-table-content table tbody>tr td.product-name a:hover {
   color: #a749ff;
 }

 .cart-table-content table tbody>tr td.product-price-cart {
   width: 435px;
 }

 .cart-table-content table tbody>tr td.product-price-cart span {
   font-weight: 500;
   color: #333;
 }

 .cart-table-content table tbody>tr td.product-subtotal {
   font-weight: 500;
   color: #333;
 }

 .cart-table-content table tbody>tr td.product-quantity {
   width: 435px;
 }

 .cart-table-content table tbody>tr td.product-quantity .cart-plus-minus {
   display: inline-block;
   height: 40px;
   padding: 0;
   position: relative;
   width: 110px;
 }

 .cart-table-content table tbody>tr td.product-quantity .cart-plus-minus .qtybutton {
   color: #333;
   cursor: pointer;
   float: inherit;
   font-size: 16px;
   margin: 0;
   position: absolute;
   -webkit-transition: all 0.3s ease 0s;
   -o-transition: all 0.3s ease 0s;
   transition: all 0.3s ease 0s;
   width: 20px;
   text-align: center;
 }

 .cart-table-content table tbody>tr td.product-quantity .cart-plus-minus .dec.qtybutton {
   border-right: 1px solid #e5e5e5;
   height: 40px;
   left: 0;
   padding-top: 8px;
   top: 0;
 }

 .cart-table-content table tbody>tr td.product-quantity .cart-plus-minus .inc.qtybutton {
   border-left: 1px solid #e5e5e5;
   height: 40px;
   padding-top: 9px;
   right: 0;
   top: 0;
 }

 .cart-table-content table tbody>tr td.product-quantity .cart-plus-minus input.cart-plus-minus-box {
   color: #333;
   float: left;
   font-size: 14px;
   height: 40px;
   margin: 0;
   width: 110px;
   background: transparent none repeat scroll 0 0;
   border: 1px solid #e1e1e1;
   padding: 0;
   text-align: center;
 }

 .cart-table-content table tbody>tr td.product-remove {
   width: 100px;
 }

 .cart-table-content table tbody>tr td.product-remove a {
   color: #666;
   font-size: 17px;
   margin: 0 13px;
 }

 .cart-table-content table tbody>tr td.product-remove a:hover {
   color: #a749ff;
 }

 .cart-table-content table tbody>tr td.product-wishlist-cart>a {
   background-color: #a749ff;
   border-radius: 50px;
   color: #fff;
   font-size: 13px;
   font-weight: 500;
   line-height: 1;
   padding: 7px 12px;
   text-transform: uppercase;
 }

 .cart-table-content table tbody>tr td.product-wishlist-cart>a:hover {
   background-color: #333;
 }

 .cart-table-content table tbody>tr td {
   color: #333;
   font-size: 15px;
   padding: 30px 0;
   text-align: center;
 }

 .cart-shiping-update-wrapper {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
   padding: 30px 0px 55px;
 }

 @media only screen and (max-width: 767px) {
   .cart-shiping-update-wrapper {
     display: block;
     padding: 30px 0px 15px;
   }
 }

 .cart-shiping-update-wrapper .cart-shiping-update>a,
 .cart-shiping-update-wrapper .cart-clear>button,
 .cart-shiping-update-wrapper .cart-clear>a {
   background-color: #f2f2f2;
   border-radius: 50px;
   color: #363f4d;
   display: inline-block;
   font-size: 14px;
   font-weight: 500;
   line-height: 1;
   padding: 18px 63px 17px;
   text-transform: uppercase;
 }

 @media only screen and (min-width: 768px) and (max-width: 991px) {

   .cart-shiping-update-wrapper .cart-shiping-update>a,
   .cart-shiping-update-wrapper .cart-clear>button,
   .cart-shiping-update-wrapper .cart-clear>a {
     padding: 18px 25px 17px;
     font-size: 13px;
   }
 }

 @media only screen and (max-width: 767px) {

   .cart-shiping-update-wrapper .cart-shiping-update>a,
   .cart-shiping-update-wrapper .cart-clear>button,
   .cart-shiping-update-wrapper .cart-clear>a {
     padding: 18px 40px 17px;
     margin: 0 0 15px;
   }
 }

 .cart-shiping-update-wrapper .cart-shiping-update>a:hover,
 .cart-shiping-update-wrapper .cart-clear>button:hover,
 .cart-shiping-update-wrapper .cart-clear>a:hover {
   background-color: #fd4d4d;
   color: #fff;
 }

 .cart-shiping-update-wrapper .cart-clear>button {
   border: medium none;
   cursor: pointer;
   margin-right: 27px;
   -webkit-transition: all 0.3s ease 0s;
   -o-transition: all 0.3s ease 0s;
   transition: all 0.3s ease 0s;
 }

 @media only screen and (min-width: 768px) and (max-width: 991px) {
   .cart-shiping-update-wrapper .cart-clear>button {
     margin-right: 15px;
   }
 }

 .cart-tax,
 .discount-code-wrapper {
   background-color: #f9f9f9;
   border: 1px solid #ebebeb;
   border-radius: 5px;
   padding: 45px 30px 50px;
 }

 @media only screen and (min-width: 992px) and (max-width: 1199px) {

   .cart-tax,
   .discount-code-wrapper {
     padding: 45px 18px 50px;
   }
 }

 @media only screen and (max-width: 767px) {

   .cart-tax,
   .discount-code-wrapper {
     padding: 45px 18px 50px;
   }
 }

 .cart-tax .title-wrap,
 .discount-code-wrapper .title-wrap {
   position: relative;
 }

 .cart-tax .title-wrap::before,
 .discount-code-wrapper .title-wrap::before {
   background-color: #e3e1e1;
   content: "";
   height: 1px;
   left: 0;
   position: absolute;
   top: 10px;
   -webkit-transition: all 0.4s ease 0s;
   -o-transition: all 0.4s ease 0s;
   transition: all 0.4s ease 0s;
   width: 100%;
   z-index: 1;
 }

 .cart-tax .title-wrap h4.cart-bottom-title,
 .discount-code-wrapper .title-wrap h4.cart-bottom-title {
   display: inline-block;
   font-size: 18px;
   font-weight: 500;
   margin: 0;
   padding-right: 18px;
 }

 @media only screen and (min-width: 992px) and (max-width: 1199px) {

   .cart-tax .title-wrap h4.cart-bottom-title,
   .discount-code-wrapper .title-wrap h4.cart-bottom-title {
     font-size: 16px;
   }
 }

 .cart-tax .title-wrap .section-bg-gray,
 .discount-code-wrapper .title-wrap .section-bg-gray {
   background-color: #f8f9f9;
   position: relative;
   z-index: 99;
 }

 .cart-tax .tax-wrapper,
 .discount-code-wrapper .tax-wrapper {
   margin-top: 22px;
 }

 .cart-tax .tax-wrapper p,
 .discount-code-wrapper .tax-wrapper p {
   margin: 0;
 }

 .cart-tax .tax-wrapper .tax-select-wrapper,
 .discount-code-wrapper .tax-wrapper .tax-select-wrapper {
   margin: 5px 0 0;
 }

 .cart-tax .tax-wrapper .tax-select-wrapper .tax-select,
 .discount-code-wrapper .tax-wrapper .tax-select-wrapper .tax-select {
   margin: 0 0 26px;
 }

 .cart-tax .tax-wrapper .tax-select-wrapper .tax-select label,
 .discount-code-wrapper .tax-wrapper .tax-select-wrapper .tax-select label {
   color: #242424;
   font-size: 14px;
   margin: 0 0 5px;
 }

 .cart-tax .tax-wrapper .tax-select-wrapper .tax-select select,
 .discount-code-wrapper .tax-wrapper .tax-select-wrapper .tax-select select {
   -moz-appearance: none;
   -webkit-appearance: none;
   background: #fff url("../img/icon-img/cart.png") no-repeat scroll right 18px center;
   border: 1px solid #ebebeb;
   -webkit-box-shadow: none;
   box-shadow: none;
   color: #242424;
   font-size: 12px;
   height: 40px;
   padding: 0 50px 0 15px;
   width: 100%;
   cursor: pointer;
 }

 .cart-tax .tax-wrapper .tax-select-wrapper .tax-select input,
 .discount-code-wrapper .tax-wrapper .tax-select-wrapper .tax-select input {
   background: #fff none repeat scroll 0 0;
   border: 1px solid #ebebeb;
   height: 40px;
 }

 .cart-tax .tax-wrapper .tax-select-wrapper button.cart-btn-2,
 .discount-code-wrapper .tax-wrapper .tax-select-wrapper button.cart-btn-2 {
   background-color: #a749ff;
   border: medium none;
   border-radius: 50px;
   color: #fff;
   cursor: pointer;
   font-size: 14px;
   font-weight: 500;
   padding: 13px 42px 12px;
   text-transform: uppercase;
   -webkit-transition: all 0.3s ease 0s;
   -o-transition: all 0.3s ease 0s;
   transition: all 0.3s ease 0s;
 }

 .cart-tax .tax-wrapper .tax-select-wrapper button.cart-btn-2:hover,
 .discount-code-wrapper .tax-wrapper .tax-select-wrapper button.cart-btn-2:hover {
   background-color: #333;
 }

 .cart-tax .discount-code,
 .discount-code-wrapper .discount-code {
   margin: 21px 0 0;
 }

 .cart-tax .discount-code p,
 .discount-code-wrapper .discount-code p {
   margin: 0 0 15px;
 }

 .cart-tax .discount-code form input,
 .discount-code-wrapper .discount-code form input {
   background: #fff;
   border: 1px solid #ebebeb;
   height: 40px;
   margin-bottom: 30px;
   padding-left: 10px;
 }

 .cart-tax .discount-code form button.cart-btn-2,
 .discount-code-wrapper .discount-code form button.cart-btn-2 {
   background-color: #a749ff;
   border: medium none;
   border-radius: 50px;
   color: #fff;
   cursor: pointer;
   font-size: 14px;
   font-weight: 500;
   padding: 13px 42px 12px;
   text-transform: uppercase;
   -webkit-transition: all 0.3s ease 0s;
   -o-transition: all 0.3s ease 0s;
   transition: all 0.3s ease 0s;
 }

 .cart-tax .discount-code form button.cart-btn-2:hover,
 .discount-code-wrapper .discount-code form button.cart-btn-2:hover {
   background-color: #333;
 }

 .grand-totall {
   background-color: #f9f9f9;
   border: 1px solid #ebebeb;
   border-radius: 5px;
   padding: 45px 30px 50px;
 }

 @media only screen and (min-width: 992px) and (max-width: 1199px) {
   .grand-totall {
     padding: 45px 18px 50px;
   }
 }

 @media only screen and (min-width: 768px) and (max-width: 991px) {
   .grand-totall {
     margin-top: 30px;
   }
 }

 .grand-totall .title-wrap {
   position: relative;
 }

 .grand-totall .title-wrap::before {
   background-color: #e3e1e1;
   content: "";
   height: 1px;
   left: 0;
   position: absolute;
   top: 10px;
   -webkit-transition: all 0.4s ease 0s;
   -o-transition: all 0.4s ease 0s;
   transition: all 0.4s ease 0s;
   width: 100%;
   z-index: 1;
 }

 .grand-totall .title-wrap h4.cart-bottom-title {
   display: inline-block;
   font-size: 18px;
   font-weight: 500;
   margin: 0;
   padding-right: 18px;
 }

 .grand-totall .title-wrap .section-bg-gary-cart {
   background-color: #f9f9f9;
   position: relative;
   z-index: 9;
 }

 .grand-totall h5 {
   font-size: 14px;
   margin: 36px 0 27px;
 }

 .grand-totall h5 span {
   float: right;
   font-size: 18px;
   font-weight: 500;
 }

 .grand-totall .total-shipping {
   border-bottom: 1px solid #ebebeb;
   border-top: 1px solid #ebebeb;
   margin: 0 0 27px;
   padding: 28px 0;
 }

 .grand-totall .total-shipping h5 {
   font-size: 14px;
   margin: 0;
 }

 .grand-totall .total-shipping ul {
   padding: 19px 0 0 0px;
 }

 .grand-totall .total-shipping ul li {
   color: #242424;
   list-style: outside none none;
   margin: 0 0 6px;
 }

 .grand-totall .total-shipping ul li:last-child {
   margin: 0 0 0px;
 }

 .grand-totall .total-shipping ul li input {
   background: #e9e9e9 none repeat scroll 0 0;
   border: 1px solid #d7d7d7;
   border-radius: 5px !important;
   color: #626262;
   cursor: pointer;
   height: 13px;
   margin-right: 10px;
   padding: 0;
   position: relative;
   top: 2px;
   width: 13px;
 }

 .grand-totall .total-shipping ul li span {
   float: right;
 }

 .grand-totall h4.grand-totall-title {
   color: #a749ff;
   font-size: 20px;
   font-weight: 500;
   margin: 0 0 25px;
 }

 .grand-totall h4.grand-totall-title span {
   float: right;
 }

 .grand-totall a {
   background-color: #a749ff;
   border-radius: 50px;
   color: #fff;
   display: block;
   font-size: 14px;
   font-weight: 500;
   line-height: 1;
   padding: 18px 10px 17px;
   text-align: center;
   text-transform: uppercase;
 }

 .grand-totall a:hover {
   background-color: #333;
 }

 @media only screen and (max-width: 767px) {
   .discount-code-wrapper {
     margin: 30px 0;
   }
 }

 /*------- 21. Checkout page  -----------*/

 @media only screen and (min-width: 768px) and (max-width: 991px) {
   .your-order-area {
     margin-top: 30px;
   }
 }

 @media only screen and (max-width: 767px) {
   .your-order-area {
     margin-top: 30px;
   }
 }

 .your-order-area h3 {
   font-size: 20px;
   font-weight: 500;
   margin: 0 0 20px;
   color: #000;
 }

 .your-order-area .your-order-wrap {
   padding: 38px 45px 44px;
   background: #f6f6f6;
 }

 @media only screen and (min-width: 992px) and (max-width: 1199px) {
   .your-order-area .your-order-wrap {
     padding: 30px 20px 36px;
   }
 }

 @media only screen and (max-width: 767px) {
   .your-order-area .your-order-wrap {
     padding: 30px 20px 36px;
   }
 }

 .your-order-area .your-order-wrap .your-order-product-info .your-order-top ul {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
 }

 .your-order-area .your-order-wrap .your-order-product-info .your-order-top ul li {
   font-size: 16px;
   font-weight: 500;
   list-style: outside none none;
 }

 .your-order-area .your-order-wrap .your-order-product-info .your-order-middle {
   border-bottom: 1px solid #dee0e4;
   border-top: 1px solid #dee0e4;
   margin: 29px 0;
   padding: 19px 0 18px;
 }

 .your-order-area .your-order-wrap .your-order-product-info .your-order-middle ul li {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
   margin: 0 0 10px;
 }

 .your-order-area .your-order-wrap .your-order-product-info .your-order-bottom ul {
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
 }

 .your-order-area .your-order-wrap .your-order-product-info .your-order-bottom ul li {
   font-size: 14px;
   font-weight: 400;
   list-style: none;
 }

 .your-order-area .your-order-wrap .your-order-product-info .your-order-bottom ul li.your-order-shipping {
   font-size: 16px;
   color: #212121;
   font-weight: 400;
 }

 .your-order-area .your-order-wrap .your-order-product-info .your-order-total {
   border-bottom: 1px solid #dee0e4;
   border-top: 1px solid #dee0e4;
   margin: 18px 0 33px;
   padding: 17px 0 19px;
 }

 .your-order-area .your-order-wrap .your-order-product-info .your-order-total ul {
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
 }

 .your-order-area .your-order-wrap .your-order-product-info .your-order-total ul li.order-total {
   font-weight: 500;
   color: #212121;
   font-size: 18px;
 }

 .your-order-area .your-order-wrap .your-order-product-info .your-order-total ul li {
   font-weight: 500;
   color: #a749ff;
   font-size: 16px;
   list-style: outside none none;
 }

 .your-order-area .payment-accordion {
   margin: 0 0 16px;
 }

 .your-order-area .payment-accordion:last-child {
   margin: 0 0 0px;
 }

 .your-order-area .payment-accordion h4 {
   color: #212121;
   font-size: 16px;
   margin: 0;
 }

 .your-order-area .payment-accordion h4 a {
   color: #212121;
   position: relative;
   display: block;
 }

 .your-order-area .payment-accordion h4 a:hover {
   color: #a749ff;
 }

 .your-order-area .payment-accordion .panel-body {
   padding: 5px 0 0 0px;
 }

 .your-order-area .payment-accordion .panel-body p {
   padding: 0 0 0 10px;
   font-size: 14px;
   color: #333;
 }

 .your-order-area .Place-order>a {
   background-color: #a749ff;
   color: #fff;
   display: block;
   font-weight: 500;
   letter-spacing: 1px;
   line-height: 1;
   padding: 18px 20px;
   text-align: center;
   text-transform: uppercase;
   border-radius: 50px;
   z-index: 9;
 }

 .your-order-area .Place-order>a:hover {
   background-color: #333;
 }

 .billing-info-wrap h3 {
   font-size: 20px;
   color: #000;
   margin: 0 0 20px;
   font-weight: 500;
 }

 .billing-info-wrap .billing-info label,
 .billing-info-wrap .billing-select label {
   color: #000;
   margin: 0 0 7px;
 }

 .billing-info-wrap .billing-info input,
 .billing-info-wrap .billing-select input {
   background: transparent none repeat scroll 0 0;
   border: 1px solid #e6e6e6;
   color: #333;
   font-size: 14px;
   padding-left: 20px;
   padding-right: 10px;
 }

 .billing-info-wrap .billing-info input.billing-address,
 .billing-info-wrap .billing-select input.billing-address {
   margin-bottom: 10px;
 }

 .billing-info-wrap .billing-select select {
   -moz-appearance: none;
   -webkit-appearance: none;
   border: 1px solid #e6e6e6;
   color: #333;
   font-size: 14px;
   height: 45px;
   padding: 2px 20px;
   background: rgba(0, 0, 0, 0) url("../img/icon-img/select.png") no-repeat scroll right 18px center;
   cursor: pointer;
 }

 .billing-info-wrap .checkout-account {
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
 }

 .billing-info-wrap .checkout-account input {
   border: 1px solid #9fa0a2;
   display: inline-block;
   float: left;
   height: 10px;
   width: 10px;
 }

 .billing-info-wrap .checkout-account span {
   color: #333;
   font-weight: 400;
   margin: 0 0 0 12px;
 }

 .billing-info-wrap .checkout-account-toggle input {
   background: transparent none repeat scroll 0 0;
   border: 1px solid #e6e6e6;
   color: #333;
   font-size: 14px;
   padding-left: 20px;
   padding-right: 10px;
   margin: 0 0 20px;
 }

 .billing-info-wrap .checkout-account-toggle button.checkout-btn {
   background-color: #a749ff;
   border: medium none;
   color: #fff;
   cursor: pointer;
   font-weight: 500;
   padding: 10px 30px;
   text-transform: uppercase;
   border-radius: 50px;
   z-index: 9;
 }

 .billing-info-wrap .checkout-account-toggle button.checkout-btn:hover {
   background-color: #333;
 }

 .billing-info-wrap .additional-info-wrap h4 {
   font-size: 16px;
   font-weight: 500;
 }

 .billing-info-wrap .additional-info-wrap .additional-info label {
   color: #333;
   font-size: 14px;
   margin: 0 0 7px;
 }

 .billing-info-wrap .additional-info-wrap .additional-info textarea {
   background: transparent none repeat scroll 0 0;
   border: 1px solid #e6e6e6;
   color: #333;
   font-size: 14px;
   height: 138px;
   padding: 17px 20px;
 }

 .billing-info-wrap .different-address {
   display: none;
 }

 @media only screen and (min-width: 768px) and (max-width: 991px) {
   .your-order-area {
     margin-top: 30px;
   }
 }

 @media only screen and (max-width: 767px) {
   .your-order-area {
     margin-top: 30px;
   }
 }

 .your-order-area h3 {
   font-size: 20px;
   font-weight: 500;
   margin: 0 0 20px;
   color: #000;
 }

 .your-order-area .your-order-wrap {
   padding: 38px 45px 44px;
   background: #f6f6f6;
 }

 @media only screen and (min-width: 992px) and (max-width: 1199px) {
   .your-order-area .your-order-wrap {
     padding: 30px 20px 36px;
   }
 }

 @media only screen and (max-width: 767px) {
   .your-order-area .your-order-wrap {
     padding: 30px 20px 36px;
   }
 }

 .your-order-area .your-order-wrap .your-order-product-info .your-order-top ul {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
 }

 .your-order-area .your-order-wrap .your-order-product-info .your-order-top ul li {
   font-size: 16px;
   font-weight: 500;
   list-style: outside none none;
 }

 .your-order-area .your-order-wrap .your-order-product-info .your-order-middle {
   border-bottom: 1px solid #dee0e4;
   border-top: 1px solid #dee0e4;
   margin: 29px 0;
   padding: 19px 0 18px;
 }

 .your-order-area .your-order-wrap .your-order-product-info .your-order-middle ul li {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
   margin: 0 0 10px;
 }

 .your-order-area .your-order-wrap .your-order-product-info .your-order-bottom ul {
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
 }

 .your-order-area .your-order-wrap .your-order-product-info .your-order-bottom ul li {
   font-size: 14px;
   font-weight: 400;
   list-style: none;
 }

 .your-order-area .your-order-wrap .your-order-product-info .your-order-bottom ul li.your-order-shipping {
   font-size: 16px;
   color: #212121;
   font-weight: 400;
 }

 .your-order-area .your-order-wrap .your-order-product-info .your-order-total {
   border-bottom: 1px solid #dee0e4;
   border-top: 1px solid #dee0e4;
   margin: 18px 0 33px;
   padding: 17px 0 19px;
 }

 .your-order-area .your-order-wrap .your-order-product-info .your-order-total ul {
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
 }

 .your-order-area .your-order-wrap .your-order-product-info .your-order-total ul li.order-total {
   font-weight: 500;
   color: #212121;
   font-size: 18px;
 }

 .your-order-area .your-order-wrap .your-order-product-info .your-order-total ul li {
   font-weight: 500;
   color: #a749ff;
   font-size: 16px;
   list-style: outside none none;
 }

 .your-order-area .payment-accordion {
   margin: 0 0 16px;
 }

 .your-order-area .payment-accordion:last-child {
   margin: 0 0 0px;
 }

 .your-order-area .payment-accordion h4 {
   color: #212121;
   font-size: 16px;
   margin: 0;
 }

 .your-order-area .payment-accordion h4 a {
   color: #212121;
   position: relative;
   display: block;
 }

 .your-order-area .payment-accordion h4 a:hover {
   color: #a749ff;
 }

 .your-order-area .payment-accordion .panel-body {
   padding: 5px 0 0 0px;
 }

 .your-order-area .payment-accordion .panel-body p {
   padding: 0 0 0 10px;
   font-size: 14px;
   color: #333;
 }

 .your-order-area .Place-order>a {
   background-color: #a749ff;
   color: #fff;
   display: block;
   font-weight: 500;
   letter-spacing: 1px;
   line-height: 1;
   padding: 18px 20px;
   text-align: center;
   text-transform: uppercase;
   border-radius: 50px;
   z-index: 9;
 }

 .your-order-area .Place-order>a:hover {
   background-color: #333;
 }

 @media only screen and (max-width: 767px) {
   .checkout-area.pb-100 {
     padding-bottom: 60px;
   }
 }

 /*------ 22. contact Page  ------*/
 .contact-map #map {
   height: 560px;
 }

 @media only screen and (max-width: 767px) {
   .contact-map #map {
     height: 400px;
   }
 }

 .contact-info-wrap {
   background-color: #f3f3f3;
   padding: 120px 70px 116px 90px;
 }

 @media only screen and (min-width: 992px) and (max-width: 1199px) {
   .contact-info-wrap {
     padding: 120px 20px 116px 40px;
   }
 }

 @media only screen and (min-width: 768px) and (max-width: 991px) {
   .contact-info-wrap {
     padding: 120px 20px 116px 30px;
   }
 }

 @media only screen and (max-width: 767px) {
   .contact-info-wrap {
     padding: 50px 20px 45px 30px;
     margin-bottom: 30px;
     margin-top: 20px;
   }
 }

 .contact-info-wrap .single-contact-info {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   margin-bottom: 40px;
 }

 .contact-info-wrap .single-contact-info .contact-icon {
   margin-right: 20px;
 }

 .contact-info-wrap .single-contact-info .contact-icon i {
   font-size: 20px;
   color: #252525;
   display: inline-block;
   width: 40px;
   height: 40px;
   line-height: 40px;
   border: 1px solid #252525;
   text-align: center;
   border-radius: 100%;
   -webkit-transition: all .3s ease 0s;
   -o-transition: all .3s ease 0s;
   transition: all .3s ease 0s;
 }

 .contact-info-wrap .single-contact-info .contact-info-dec p {
   line-height: 1;
   color: #404040;
   margin: 0 0 9px;
 }

 .contact-info-wrap .single-contact-info .contact-info-dec p a {
   color: #404040;
 }

 .contact-info-wrap .single-contact-info .contact-info-dec p a:hover {
   color: #a749ff;
 }

 .contact-info-wrap .single-contact-info .contact-info-dec p:last-child {
   margin: 0;
 }

 .contact-info-wrap .single-contact-info:hover .contact-icon i {
   background-color: #252525;
   color: #fff;
 }

 .contact-social {
   margin-top: 58px;
 }

 .contact-social h3 {
   font-weight: 500;
   color: #4d4d4d;
   font-size: 24px;
   margin: 0 0 17px;
   line-height: 1;
 }

 .contact-social ul li {
   margin: 0 10px;
   display: inline-block;
 }

 .contact-social ul li a {
   font-size: 16px;
   color: #4d4d4d;
 }

 .contact-social ul li a:hover {
   color: #a749ff;
 }

 .contact-form {
   background-color: #f3f3f3;
   padding: 50px 110px 50px 110px;
 }

 @media only screen and (min-width: 992px) and (max-width: 1199px) {
   .contact-form {
     padding: 50px 50px 50px 50px;
   }
 }

 @media only screen and (min-width: 768px) and (max-width: 991px) {
   .contact-form {
     padding: 50px 30px 50px 30px;
   }
 }

 @media only screen and (max-width: 767px) {
   .contact-form {
     padding: 50px 30px 50px 30px;
   }
 }

 .contact-form .contact-title h2 {
   font-size: 24px;
   font-weight: 500;
   color: #464646;
   line-height: 1;
   margin-bottom: 36px;
 }

 .contact-form .contact-form-style input, .contact-form .contact-form-style textarea {
   background: transparent;
   border: 1px solid #c1c1c1;
   height: 40px;
   padding: 2px 14px;
   margin-bottom: 30px;
   color: #000;
 }

 .contact-form .contact-form-style textarea {
   padding: 20px 14px;
   margin-bottom: 0px;
   height: 175px;
 }

 .contact-form .contact-form-style button {
   border: none;
   background-color: #404040;
   color: #fff;
   font-size: 14px;
   font-weight: 500;
   text-transform: uppercase;
   line-height: 1;
   padding: 15px 52px;
   margin-top: 38px;
 }

 .contact-form .contact-form-style button:hover {
   background-color: #a749ff;
 }

 .contact-form p {
   color: #333;
 }

 .contact-form p.success {
   margin-top: 10px;
 }

 .contact-form-style .row div[class^="col-"] {
   padding-left: 15px;
   padding-right: 15px;
 }

 @media only screen and (max-width: 767px) {
   .contact-area.pb-100 {
     padding-bottom: 60px;
   }
 }


 .cart-table-content table tbody>tr td.product-quantity .cart-plus-minus .dec.qtybutton {
   border-right: 1px solid #e5e5e5;
   height: 40px;
   left: 0;
   padding-top: 8px;
   top: 0;
 }

 .cart-table-content table tbody>tr td.product-quantity .cart-plus-minus .inc.qtybutton {
   border-left: 1px solid #e5e5e5;
   height: 40px;
   padding-top: 9px;
   right: 0;
   top: 0;
 }

 .cart-table-content table tbody>tr td.product-quantity .cart-plus-minus .qtybutton {
   color: #333;
   cursor: pointer;
   float: inherit;
   font-size: 16px;
   margin: 0;
   position: absolute;
   -webkit-transition: all 0.3s ease 0s;
   -o-transition: all 0.3s ease 0s;
   transition: all 0.3s ease 0s;
   width: 20px;
   text-align: center;
 }


 .product-details-content .pro-details-quality .cart-plus-minus .qtybutton {
   color: #8f8f8f;
   cursor: pointer;
   float: inherit;
   font-size: 14px;
   font-weight: 500;
   line-height: 20px;
   margin: 0;
   position: absolute;
   text-align: center;
   -webkit-transition: all 0.3s ease 0s;
   -o-transition: all 0.3s ease 0s;
   transition: all 0.3s ease 0s;
   width: 24px;
 }

 .product-details-content .pro-details-quality .cart-plus-minus .dec.qtybutton {
   height: 60px;
   left: 0;
   padding-top: 20px;
   top: 0;
 }

 .product-details-content .pro-details-quality .cart-plus-minus .inc.qtybutton {
   height: 60px;
   padding-top: 20px;
   right: 0;
   top: 0;
 }
