<%=simple_form_for([:admin, @user], remote: true) do |f|%>
<div class="form-row">
   <div class="col-md-6">
      <div class="form-group">
         <label for="recipient-name" class="control-label mb-10">Email</label>
         <%=f.text_field :email, class: "form-control", placeholder: "Email"%>
      </div>
   </div>
   <div class="col-md-6">
      <div class="form-group">
         <label for="recipient-name" class="control-label mb-10">Phone</label>
         <%=f.text_field :phone_number, class: "form-control", placeholder: "Phone Number"%>
      </div>
   </div>
   <div class="col-md-6">
      <div class="form-group">
         <label for="recipient-name" class="control-label mb-10">Password</label>
         <%=f.password_field :password, class: "form-control", placeholder: "Password"%>
      </div>
   </div>
   <div class="col-md-6">
      <div class="form-group">
         <label for="recipient-name" class="control-label mb-10">Confirmation Password</label>
         <%=f.password_field :password_confirmation, class: "form-control", placeholder: "Password Confirmation"%>
      </div>
   </div>
   <div class="col-md-12">
      <div class="form-group">
         <div class="custom-checkbox mb-20">
            <%= f.check_box :verified, id: "user_#{@user.id}" %>
            <%= f.label :verified, for: "user_#{@user.id}"%>
         </div>
      </div>
   </div>
   <div class="form-group col-md-12">
      <%=f.submit "Save User", class: "btn btn-primary"%>
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
   </div>
</div>
<%end%>
