$("#user-success").html("<br><%= j render partial: 'layouts/flash_success', locals: {flash: :flash}%>");
$(".edit_row_<%=@user.id%>").find('td:nth-child(2)').text("<%=@user.email%>").next().text("<%=@user.phone_number%>").next().text("<%=time_ago(@user.created_at)%>")
$(".edit_row_<%=@user.id%>").find('td:nth-child(3)').text("<%=@user.phone_number%>").next().text("<%=time_ago(@user.created_at)%>")
