<tr class="delete_blog_<%=blog.id%>">
  <td id="data_<%=blog.id%>">
    <%=blog.id%>
  </td>
  <td>
    <%=blog.title%>
  </td>
  <td>
    <%=time_ago(blog.created_at)%>
  </td>
  <td class="text-center">
    <%=form_for([:admin, blog], remote: true) do |f|%>
      <%=link_to admin_blog_path(blog), remote: true,class: "btn btn-primary", "data-target" => "bd-example-modal-lg-panhara" do %>
        View
      <%end%>
      <%=link_to edit_admin_blog_path(blog),id: "link_#{blog.id}",class: "btn btn-primary", remote: true do %>
        Edit
      <% end %>
    <%end%>
  </td>
</tr>
