<%=content_tag :div, class: "modal fade modal-slide-right", id: "edit_#{dom_id(@blog, :modal)}" do%>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="row">
          <div class="col-md-12">
            <h5 class="m-b-0">Edit Blog</h5>
          </div>
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%=simple_form_for([:admin, @blog], remote: true) do |f|%>
        <div class="modal-body overflow-auto">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label>Category</label>
              <%=f.collection_select :category_id, Category.all, :id, :category_name, {}, class: "form-control"%>
            </div>
            <div class="form-group col-md-6">
              <label>Title</label>
              <%=f.text_field :title, class: "form-control"%>
            </div>
            <div class="form-group col-md-12">
              <label>Description</label>
              <%=f.text_area :description, class: "form-control", rows: "15", cols: "30"%>
            </div>
            <div class="form-group col-md-12">
              <label>Image</label><br>
              <%=f.file_field :image%>
            </div>
            <div class="form-group col-md-12">
              <%=f.submit "Update", class: "btn btn-primary"%>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      <%end%>
    </div>
  </div>
<%end%>
