$("input#blog_title").val("");
$("input#blog_description").val("");
$(".disabled").attr("disabled", false)
$("#blog-errors").html(" ");
$("#blog-success").html("<%= custom_flash_message%>");
$("#blog-index").append("<%=escape_javascript render(@blog)%>");

$(function() {
  $('.delete_blog_<%=@blog.id%>').submitOnCheck();
});

$('.delete_blog_<%=@blog.id%>').submitOnCheck();
