<tr class="delete_type_income_<%=type_income.id%>">
  <td id="data_<%=type_income.id%>">
    <%=type_income.id%>
  </td>
  <td>
    <%=type_income.title%>
  </td>
  <td>
    <%=time_ago(type_income.created_at)%>
  </td>
  <td class="text-center">
    <%=form_for([:admin, type_income], remote: true) do |f|%>
      <%=link_to admin_type_income_path(type_income), remote: true,class: "btn btn-primary", "data-target" => "bd-example-modal-lg-panhara" do %>
        View
      <%end%>
      <%=link_to edit_admin_type_income_path(type_income),id: "link_#{type_income.id}",class: "btn btn-primary", remote: true do %>
        Edit
      <% end %>
    <%end%>
  </td>
</tr>
