  <%=simple_form_for([:admin, @type_income], remote: true) do |f|%>
    <div class="form-row">
      <div class="form-group col-md-12">
        <label>Type Name</label>
        <%=f.text_field :title, class: "form-control"%>
      </div>
      <div class="form-group col-md-12">
        <%=f.submit "Save User", class: "btn btn-primary"%>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
   </div>
<%end%>
