$("input#type_income_title").val("");
$(".disabled").attr("disabled", false)
$("#type_income-errors").html(" ");
$("#type_income-success").html("<%= custom_flash_message%>");
$("#type_income-index").append("<%=escape_javascript render(@type_income)%>");

$(function() {
  $('.delete_type_income_<%=@type_income.id%>').submitOnCheck();
});

$('.delete_type_income_<%=@type_income.id%>').submitOnCheck();
