$('body').append('<%= j render partial: "admin/type_incomes/edit"%>');
$('#edit_<%= dom_id @type_income, :modal%>').modal('toggle');

$('tr').find('td:nth-child(2)').each(function(){
  if ($(this).text().trim() == "<%=@type_income.title%>") {
    $(this).parent().addClass("edit_row_<%=@type_income.id%>")
  }
});
