$("#type_income-success").html("<br><%= j render partial: 'layouts/flash_success', locals: {flash: :flash}%>");
$(".edit_row_<%=@type_income.id%>").find('td:nth-child(2)').text("<%=@type_income.title%>").next().text("<%=time_ago(@type_income.created_at)%>")
