<div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 record" data-id="<%=product.id%>">
   <div class="product-wrap-3" style="margin-top: 20px;">
      <div class="product-img">
         <a href="product-details.html">
         <%product.assets.limit(1).order(id: :asc).each do |asset|%>
         <img src="<%=asset.image%>" alt="">
         <%end%>
         </a>
         <span style="background: #fd4d4d;"><%=product.product_type.type_name.capitalize%></span>
         <div class="product-content-3-wrap">
            <div class="product-content-3">
               <div class="product-title">
                  <h3>
                     <%=link_to product_path(product.slug), style: "color: #fd4d4d;" do%>
                     <%=product.product_name.capitalize%>
                     <%end%>
                  </h3>
               </div>
               <div class="price-3">
                  <span><%=number_to_currency(product.product_price)%></span>
                  <span class="old"><%=number_to_currency(product.fake_price)%></span>
               </div>
               <div class="product-action-3">
                  <%if user_signed_in?%>
                  <%=button_to line_items_path(:product_id => product.id), params:{productID: product.id},class: "btn btn-primary",style: "background: #fd4d4d; border: 1px solid #fd4d4d", remote: true do %>
                  <i class="fa fa-shopping-cart"></i>
                  <%end%>
                  <%=button_to wishlist_line_items_path(:product_id => product.id), params:{productID: product.id},class: "btn btn-primary",style: "background: #fd4d4d; border: 1px solid #fd4d4d", remote: true do %>
                  <i class="fa fa-heart"></i>
                  <%end%>
                  <%else%>
                  <%=button_to line_items_path(:product_id => product.id), params:{productID: product.id},class: "btn-heart", style: "background: #fd4d4d; border: 1px solid #fd4d4d", remote: true do %>
                  <i class="fa fa-shopping-cart"></i>
                  <%end%>
                  <%=button_to wishlist_line_items_path(:product_id => product.id), params:{productID: product.id},class: "btn-heart", style: "background: #fd4d4d; border: 1px solid #fd4d4d" do %>
                  <i class="fa fa-heart"></i>
                  <%end%>
                  <%end%>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
