<header class="panhara_tm_header_product navbar-fixed-top">
   <div class="panhara_tm_navigation_wrap">
      <div class="container">
         <div class="navigation_inner">
            <div class="logo">
               <a class="light_logo" href="/"><img src="/img/logo/logo.png" alt=""/></a>
            </div>
            <div class="nav_list_wrap">
               <div class="menu">
                  <ul class="anchor_nav">
                     <li>
                        <a href="/">Home</a>
                     </li>
                     <li>
                        <%=link_to "Blogs", blogs_path%>
                     </li>
                     <li>
                        <%=link_to "Products", products_path%>
                     </li>
                     <%if user_signed_in?%>
                     <%if @current_wishlist.wishlist_line_items.count==0%>
                     <li>
                        <%=link_to wishlist_path(@current_wishlist) do%>
                        <i class="fa fa-heart" style="color: #fd4d4d;"></i>Wishlist<span class="badge" id="total_wishlist_items_badge" style="background: #fd4d4d;"><%=@current_wishlist.wishlist_line_items.count%></span>
                        <%end%>
                     </li>
                     <%else%>
                     <li>
                        <%=link_to wishlist_path(@current_wishlist) do%>
                        <i class="fa fa-heart"></i>Wishlist<span class="badge" id="total_wishlist_items_badge" style="background: #fd4d4d;"><%=@current_wishlist.wishlist_line_items.count%></span>
                        <%end%>
                     </li>
                     <%end%>
                     <%end%>
                     <%if !@current_cart%>
                     <li>
                        <%=link_to cart_path(@current_cart) do%>
                        <i class="fa fa-shopping-cart" style="color: #fd4d4d;"></i>Cart<span class="badge" id="total_cart_items_badge" style="background: #fd4d4d;"><%=@current_cart.line_items.count%></span>
                        <%end%>
                     </li>
                     <%else%>
                     <li>
                        <%=link_to cart_path(@current_cart) do%>
                        <i class="fa fa-shopping-cart"></i>Cart<span class="badge" id="total_cart_items_badge" style="background: #fd4d4d;"><%=@current_cart.line_items.count%></span>
                        <%end%>
                     </li>
                     <%end%>
                     <%if user_signed_in?%>
                     <li id="fat-menu" class="dropdown">
                        <a href="#" class="dropdown-toggle" id="drop3" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Profile<span class="caret"></span></a>
                        <ul class="dropdown-menu" aria-labelledby="drop3">
                           <li>
                              <%=link_to "Your account", profile_path%>
                           </li>
                           <li role="separator" class="divider"></li>
                           <li>
                              <%=link_to "Logout", destroy_user_session_path, method: :delete%>
                           </li>
                        </ul>
                     </li>
                     <%else%>
                     <li id="fat-menu" class="dropdown">
                        <a href="#" class="dropdown-toggle" id="drop3" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account<span class="caret"></span></a>
                        <ul class="dropdown-menu" aria-labelledby="drop3">
                           <li>
                              <%=link_to "Sign In", sign_in_path%>
                           </li>
                           <li>
                              <%=link_to "Sign Up", sign_up_path%>
                           </li>
                        </ul>
                     </li>
                     <%end%>
                  </ul>
               </div>
            </div>
            <div class="panhara_tm_trigger">
               <div class="hamburger hamburger--collapse-r">
                  <div class="hamburger-box">
                     <div class="hamburger-inner"></div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="panhara_tm_mobile_menu_wrap">
      <div class="mob_menu">
         <ul class="anchor_nav">
            <li>
               <a href="/">Home</a>
            </li>
            <li>
               <%=link_to "Blogs", blogs_path%>
            </li>
            <li>
               <%=link_to "Products", products_path%>
            </li>
            <%if user_signed_in?%>
            <%if @current_wishlist.wishlist_line_items.count==0%>
            <li>
               <%=link_to wishlist_path(@current_wishlist) do%>
               <i class="fa fa-heart" style="color: #fd4d4d;"></i>Wishlist<span class="badge" id="total_wishlist_items_badge" style="background: #fd4d4d;"><%=@current_wishlist.wishlist_line_items.count%></span>
               <%end%>
            </li>
            <%else%>
            <li>
               <%=link_to wishlist_path(@current_wishlist) do%>
               <i class="fa fa-heart"></i>Wishlist<span class="badge" id="total_wishlist_items_badge" style="background: #fd4d4d;"><%=@current_wishlist.wishlist_line_items.count%></span>
               <%end%>
            </li>
            <%end%>
            <%end%>
            <%if !@current_cart%>
            <li>
               <%=link_to cart_path(@current_cart) do%>
               <i class="fa fa-shopping-cart" style="color: #fd4d4d;"></i>Cart<span class="badge" id="total_cart_items_badge" style="background: #fd4d4d;"><%=@current_cart.line_items.count%></span>
               <%end%>
            </li>
            <%else%>
            <li>
               <%=link_to cart_path(@current_cart) do%>
               <i class="fa fa-shopping-cart"></i>Cart<span class="badge" id="total_cart_items_badge" style="background: #fd4d4d;"><%=@current_cart.line_items.count%></span>
               <%end%>
            </li>
            <%end%>
            <%if user_signed_in?%>
            <li id="fat-menu" class="dropdown">
               <a href="#" class="dropdown-toggle" id="drop3" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Profile<span class="caret"></span></a>
               <ul class="dropdown-menu" aria-labelledby="drop3">
                  <li>
                     <%=link_to "Your account", profile_path%>
                  </li>
                  <li role="separator" class="divider"></li>
                  <li>
                     <%=link_to "Logout", destroy_user_session_path, method: :delete%>
                  </li>
               </ul>
            </li>
            <%else%>
            <li id="fat-menu" class="dropdown">
               <a href="#" class="dropdown-toggle" id="drop3" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account<span class="caret"></span></a>
               <ul class="dropdown-menu" aria-labelledby="drop3">
                  <li>
                     <%=link_to "Sign In", sign_in_path%>
                  </li>
                  <li>
                     <%=link_to "Sign Up", sign_up_path%>
                  </li>
               </ul>
            </li>
            <%end%>
         </ul>
      </div>
   </div>
</header>
