<% title "Products | panhara.work"%>
<style media="screen">
   .panhara_tm_header {
   display: none;
   }
</style>
<div id="wishlist_line_item-errors"></div>
<div id="wishlist_line_item-success"></div>
<div id="block"></div>
<%=render "product_nav"%>
<div class="panhara_tm_content">
   <!-- HERO -->
   <div class="panhara_tm_section_product" id="home">
      <div class="panhara_tm_hero_header_product">
         <div class="panhara_tm_universal_box_wrap_product">
            <div class="bg_wrap_product">
               <div class="overlay_image_product hero_product jarallax" data-speed="0"></div>
               <div class="overlay_video_product"></div>
               <div class="overlay_color_product hero_product"></div>
            </div>
            <div class="content_product hero_product">
               <div class="container_product hero_product">
                  <div class="panhara_tm_hero_title_second_product" style="text-align: center;">
                     <p class="name_product">Product</p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- /HERO -->
   <div class="panhara_tm_section" id="about">
      <div class="container">
         <div class="panhara_tm_about_wrap">
            <div class="wrapper">
               <div class="product-area pt-100 pb-100">
                  <div class="container-fluid">
                     <%=render "shared/search"%>
                     <h3 style="text-align:center; margin-bottom: 30px;">Lastest Products</h3>
                     <div class="row product_data">
                        <%=render @products%>
                     </div>
                     <div class="load-more-container">
                        <div class="btn-load">
                           <%= image_tag "ajax-loader.gif", style: "display:none;", class: "loading-gif" %>
                           <%= link_to "Load More", products_path, class: "load-more", id: "send_message" %>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- /ABOUT -->
   <%=render "shared/footer"%>
</div>
<!-- /CONTENT -->
