<%title "#{@product.product_name} | panhara.work"%>
<%meta_description  strip_tags(@product.description)%>
<style media="screen">
   .panhara_tm_header{
   display: none;
   }
</style>
<div id="wishlist_line_item-errors"></div>
<div id="wishlist_line_item-success"></div>
<%=render "product_nav"%>
<div class="panhara_tm_content">
   <!-- HERO -->
   <div class="panhara_tm_section_product">
      <div class="panhara_tm_hero_header_product">
         <div class="panhara_tm_universal_box_wrap_product">
            <div class="bg_wrap_product">
               <div class="overlay_image_product hero_product"></div>
               <div class="overlay_video_product"></div>
               <div class="overlay_color_product hero_product"></div>
            </div>
            <div class="content_product hero_product">
               <div class="container_product hero_product">
                  <div class="panhara_tm_hero_title_second_product" style="text-align: center;">
                     <p class="name_product">Product</p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- /HERO -->
   <div class="panhara_tm_section">
      <div class="container-fluid">
         <div class="panhara_tm_about_wrap">
            <div class="wrapper">
               <div class="shop-area pt-100 pb-100">
                  <div class="row">
                     <div class="col-lg-5 col-md-12">
                        <div class="product-details-gallery mr-20">
                           <div class="row">
                              <%@product.assets.each do |asset|%>
                              <div class="col-lg-6 col-md-6 col-sm-6">
                                 <div class="dec-img-wrap mb-30 zoompro-span">
                                    <img class="zoompro" src="<%=asset.image%>" data-zoom-image="<%=asset.image%>" alt=""/>
                                    <br>
                                    <br>
                                 </div>
                              </div>
                              <%end%>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-5 col-md-12">
                        <div class="product-details-content gallery-mrg">
                           <h2><%=@product.product_name.capitalize%></h2>
                           <div class="product-details-price">
                              <span><%=number_to_currency(@product.product_price)%>
                              </span>
                              <span class="old"><%=number_to_currency(@product.fake_price)%>
                              </span>
                           </div>
                           <p>
                              <%=@product.description%>
                           </p>
                           <div class="pro-details-social">
                              <ul style="list-style: none;">
                                 <li style="margin-right: 10px;">
                                    <%=button_to line_items_path(:product_id => @product.id), class: "btn btn-block btn-lg" , style: "color: #fff;background: #fd4d4d;" , params:{productID: @product.id}, remote: true do %>
                                    <i class="fa fa-shopping-cart font-16 mr-10"></i>
                                    Add to Cart
                                    <% end %>
                                 </li>
                                 <li>
                                    <%=button_to wishlist_line_items_path(:product_id => @product.id), class: "btn btn-block btn-lg" , style: "color: #fff; background: #fd4d4d;" , params:{productID: @product.id}, remote: true do %>
                                    <i class="fa fa-heart font-16 mr-10"></i>
                                    Add to Wishlist
                                    <% end %>
                                 </li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- /ABOUT -->
   <%=render "shared/footer"%>
</div>
<!-- /CONTENT -->
