<div id="line_item-errors"></div>
<div id="line_item-success"></div>
<div id="wishlist_line_item-errors"></div>
<div id="wishlist_line_item-success"></div>


  <!-- –––––––––––––––[ PAGE CONTENT ]––––––––––––––– -->
  <main id="mainContent" class="main-content">
    <div class="page-container" style="margin-top: 35px;">
      <div class="container">
        <div class="row">
          <div class="page-content col-xs-12 col-sm-7 col-md-6">
            <div class="row">
              <div class="col-xs-12">
                <div class="deal-deatails panel">
                  <div class="deal-slider">
                    <div class="tab-content">
                      <%@product.assets.each do |asset|%>
                        <div class="tab-pane <%=status_converter(asset.status)%>" id="<%=asset.id%>">
                          <div class="row">
                            <div class="col-md-12">
                              <div class="profile-image">
                                <img src="<%=asset.image%>" alt=" profile " class="img-responsive">
                              </div>
                            </div>
                          </div>
                        </div>
                      <%end%>

                    </div>
                    <div class="tabbable tabs-left">
                      <ul class="nav nav-tabs">
                        <%@product.assets.each do |asset|%>
                            <li class="<%=status_converter(asset.status)%>">
                              <a href="#<%=asset.id%>" data-toggle="tab" aria-expanded="true">
                                  <img src="<%=asset.image%>" alt="" class="img-responsive">
                              </a>
                            </li>

                        <%end%>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="page-sidebar col-md-6 col-sm-5 col-xs-12">
            <!-- Blog Sidebar -->
            <aside class="sidebar blog-sidebar">
              <div class="row row-tb-10">
                <div class="col-xs-12">
                  <div class="widget single-deal-widget panel ptb-30 prl-20">
                    <div class="widget-body ">
                      <h1 class="mb-20 h3" ,="," style="font-family: Georgia">
                        <%=@product.product_name.capitalize%>
                      </h1>
                      <span class="oi oi-heart"></span>

                      <div class="rating mb-10">
                        <span class='star-rating' data-score="<%= @avg_rating %>">
                        </span>
                        <p>
                          <em><%= "#{@reviews.size} reviews" %></em>
                          <span class="rating-reviews">
                            (
                            <span class="rating-count">
                              <%=@total_sum_rating%>
                            </span>
                            rates )
                          </span>
                        </p>
                      </div>
                      <div style="color: black">
                        <hr/>
                      </div>
                      <div class="price mb-20">
                        <h2 class="price"><%=number_to_currency(@product.product_price)%></h2>
                        <p>
                          <%if @product.remaining_stock_quantity == 0%>
                            <span style="color: black;">Out Of Stock</span>
                          <%else%>
                            <span style="color: black;"><%=pluralize(@product.remaining_stock_quantity, "Item")%> In Stock</span>
                          <%end%>
                        </p>
                      </div>
                      <div class="row">
                        <div class="col-lg-6">
                          <div class="buy-now mb-20">
                            <%=button_to line_items_path(:product_id => @product.id), class: "btn btn-block btn-lg" , style: "margin-top:15px;" , params:{productID: @product.id},remote: true do %>
                            <i class="fa fa-shopping-cart font-16 mr-10"></i>
                            Add to Cart
                            <% end %>
                          </div><br/>
                        </div>
                        <div class="col-lg-6">
                          <div class="buy-now mb-20">
                            <%if user_signed_in?%>
                              <%=button_to wishlist_line_items_path(:product_id => @product.id), class: "btn btn-block btn-lg" , style: "margin-top:15px;" , params:{productID: @product.id}, remote: true do %>
                              <i class="fa fa-heart font-16 mr-10"></i>
                              Add to Wishlist
                              <% end %>
                            <%else%>
                              <%=button_to wishlist_line_items_path(:product_id => @product.id), class: "btn btn-block btn-lg" , style: "margin-top:15px;" , params:{productID: @product.id} do %>
                              <i class="fa fa-heart font-16 mr-10"></i>
                              Add to Wishlist
                              <%end%>
                            <%end%>
                          </div><br/>
                        </div>
                      </div>

                      <div class="time-left">
                        <p class="t-uppercase color-muted">
                          <a href="">Kindly drop a message us on facebook to ask for more info
                          </a>
                        </p>

                      </div>

                    </div>
                  </div>
                </div>
                <div class="col-xs-12">
                  <!-- Recent Posts -->
                  <div class="widget about-seller-widget panel prl-20">
                    <%= form_for([@product, review]) do |f| %>
                      <div class="form-group row">
                         <div class="col-sm-12" id='star-rating'></div>
                         <div class="col-sm-6">
                         </div>
                      </div>
                      <%= f.submit 'Rate Now', class: 'btn btn-primary', style: "margin-bottom: 20px;" %>
                    <% end %>
                    <h3 class="widget-title h-title">Product Description</h3>

                    <div class="widget-body">
                      <br/>
                      <div class="review-wrapper clearfix">
                        <p class="mb-15">
                          <%=raw(@product.description)%>
                        </p>
                      </div>
                    </div>
                  </div>
                  <!-- End Recent Posts -->
                </div>

                <!-- Contact Us Widget -->
                <div class="widget contact-us-widget panel pt-20 prl-20">
                  <h3 class="widget-title h-title">Got any questions?</h3>
                  <div class="widget-body ptb-30">
                    <p class="mb-20 color-mid">If you are having any questions, please feel free to ask.</p>
                    <a href="contact_us_01.html" class="btn btn-block">
                      <i class="mr-10 font-15 fa fa-phone"></i>095477325</a>
                  </div>
                </div>
                <!-- End Contact Us Widget -->
              </div>
          </aside>
          </div>
          <!-- End Blog Sidebar -->
        </div>
      </div>
    </div>
  </main>
