$("#wishlist_line_item-success").html("<%= custom_flash_message%>");
$('#total_cart_items_badge').html("<%= @current_cart.line_items.count %>");

$(function() {
  $('.delete_cart_<%=@line_item.id%>').submitOnCheck();
});

$('.delete_cart_<%=@line_item.id%>').submitOnCheck();
