$('#delete_cart_<%=@line_item.id%>').remove();
$('#total_cart_items_badge').html("<%= @current_cart.line_items.count %>");
$('#sub_total').html("<%=number_to_currency(@cart.sub_total)%>")
$('#sub_total_order').html("<span><%=number_to_currency(@cart.sub_total)%></span>")
$("#remove-success").html("<%= custom_flash_message%>");
