var item1 = "<%=@line_item.id%>";
var params = "<%=params[:id]%>";
if (item1 == params) {
  var l = $("#selected_<%=@line_item.id%>_l").text();
  if (l.trim() == "L") {
    $("#selected_<%=@line_item.id%>_l").addClass("selected_bg");
    $("#selected_<%=@line_item.id%>_s").removeClass("selected_bg");
    $("#selected_<%=@line_item.id%>_m").removeClass("selected_bg");
    $("#selected_<%=@line_item.id%>_xl").removeClass("selected_bg");
  }
}
