var item1 = "<%=@line_item.id%>";
var params = "<%=params[:id]%>";
if (item1 == params) {
  var m = $("#selected_<%=@line_item.id%>_m").text();
  if (m.trim() == "M") {
    $("#selected_<%=@line_item.id%>_m").addClass("selected_bg");
    $("#selected_<%=@line_item.id%>_s").removeClass("selected_bg");
    $("#selected_<%=@line_item.id%>_l").removeClass("selected_bg");
    $("#selected_<%=@line_item.id%>_xl").removeClass("selected_bg");
  }
}
