$('#qty_<%=@line_item.id%>').html('<%=@line_item.quantity%>')
$('#sub-total_<%=@line_item.id%>').html('<%=number_to_currency(@line_item.total_price)%>')
$('#sub_total').html('<%=number_to_currency(@cart.sub_total)%>')
$('#sub_total_order').html("<span><%=number_to_currency(@cart.sub_total)%></span>")
$("#remove-success").html("<%= custom_flash_message%>");
$('#grand_sub_total').html('<%=number_to_currency(@cart.sub_total)%>')
