var item1 = "<%=@line_item.id%>";
var params = "<%=params[:id]%>";
if (item1 == params) {
  var s = $("#selected_<%=@line_item.id%>_s").text();
  if (s.trim() == "S") {
    $("#selected_<%=@line_item.id%>_s").addClass("selected_bg");
    $("#selected_<%=@line_item.id%>_m").removeClass("selected_bg");
    $("#selected_<%=@line_item.id%>_l").removeClass("selected_bg");
    $("#selected_<%=@line_item.id%>_xl").removeClass("selected_bg");
  }
}
