var item1 = "<%=@line_item.id%>";
var params = "<%=params[:id]%>";
if (item1 == params) {
  var xl = $("#selected_<%=@line_item.id%>_xl").text();
  if (xl.trim() == "XL") {
    $("#selected_<%=@line_item.id%>_xl").addClass("selected_bg");
    $("#selected_<%=@line_item.id%>_s").removeClass("selected_bg");
    $("#selected_<%=@line_item.id%>_l").removeClass("selected_bg");
    $("#selected_<%=@line_item.id%>_m").removeClass("selected_bg");
  }
}
