<aside class="admin-sidebar">
   <div class="admin-sidebar-brand">
      <!-- begin sidebar branding-->
      <img class="admin-brand-logo" src="/images/logo.png" width="40" alt="atmos Logo">
      <!-- end sidebar branding-->
      <div class="ml-auto">
         <!-- sidebar pin-->
         <a href="#" class="admin-pin-sidebar btn-ghost btn btn-rounded-circle"></a>
         <!-- sidebar close for mobile device-->
         <a href="#" class="admin-close-sidebar"></a>
      </div>
   </div>
   <div class="admin-sidebar-wrapper js-scrollbar">
      <ul class="menu">
         <li class="menu-item active ">
            <%=link_to admin_dashboard_path, class: "menu-link" do%>
            <span class="menu-label">
            <span class="menu-name">Dashboard</span>
            </span>
            <span class="menu-icon">
            <i data-feather="activity"></i>
            </span>
            <%end%>
         </li>
         <li class="menu-item">
            <%=link_to admin_admins_path, class: "menu-link" do%>
            <span class="menu-label">
            <span class="menu-name">Adminstrator</span>
            </span>
            <span class="menu-icon">
            <i data-feather="users"></i>
            </span>
            <%end%>
         </li>
         <li class="menu-item">
            <a href="#" class="open-dropdown menu-link">
            <span class="menu-label">
            <span class="menu-name">Inventory
            <span class="menu-arrow"></span>
            </span>
            </span>
            <span class="menu-icon">
            <i data-feather="box"></i>
            </span>
            </a>
            <!--submenu-->
            <ul class="sub-menu">
               <li class="menu-item ">
                  <%=link_to admin_product_types_path, class: "menu-link" do%>
                  <span class="menu-label">
                  <span class="menu-name">Type</span>
                  </span>
                  <span class="menu-icon">
                  <i data-feather="type"></i>
                  </span>
                  <%end%>
               </li>
               <li class="menu-item ">
                  <%=link_to admin_products_path, class: "menu-link" do%>
                  <span class="menu-label">
                  <span class="menu-name">Products</span>
                  </span>
                  <span class="menu-icon">
                  <i data-feather="shopping-cart"></i>
                  </span>
                  <%end%>
               </li>
            </ul>
         </li>
         <li class="menu-item">
            <a href="#" class="open-dropdown menu-link">
            <span class="menu-label">
            <span class="menu-name">CMS
            <span class="menu-arrow"></span>
            </span>
            </span>
            <span class="menu-icon">
            <i data-feather="folder"></i>
            </span>
            </a>
            <!--submenu-->
            <ul class="sub-menu">
               <li class="menu-item ">
                  <%=link_to admin_categories_path, class: "menu-link" do%>
                  <span class="menu-label">
                  <span class="menu-name">Category</span>
                  </span>
                  <span class="menu-icon">
                  <i data-feather="file"></i>
                  </span>
                  <%end%>
               </li>
               <li class="menu-item ">
                  <%=link_to admin_category_portfolios_path, class: "menu-link" do%>
                  <span class="menu-label">
                  <span class="menu-name">Category For Portfolio</span>
                  </span>
                  <span class="menu-icon">
                  <i data-feather="at-sign"></i>
                  </span>
                  <%end%>
               </li>
               <li class="menu-item ">
                  <%=link_to admin_blogs_path, class: "menu-link" do%>
                  <span class="menu-label">
                  <span class="menu-name">Blogs</span>
                  </span>
                  <span class="menu-icon">
                  <i data-feather="message-circle"></i>
                  </span>
                  <%end%>
               </li>
               <li class="menu-item ">
                  <%=link_to admin_portfolios_path, class: "menu-link" do%>
                  <span class="menu-label">
                  <span class="menu-name">Portfolio</span>
                  </span>
                  <span class="menu-icon">
                  <i data-feather="aperture"></i>
                  </span>
                  <%end%>
               </li>
            </ul>
         </li>
         <li class="menu-item">
            <a href="#" class="open-dropdown menu-link">
            <span class="menu-label">
            <span class="menu-name">Sales
            <span class="menu-arrow"></span>
            </span>
            </span>
            <span class="menu-icon">
            <i data-feather="package"></i>
            </span>
            </a>
            <!--submenu-->
            <ul class="sub-menu">
               <li class="menu-item ">
                  <%=link_to admin_orders_path, class: "menu-link" do%>
                  <span class="menu-label">
                  <span class="menu-name">Order</span>
                  </span>
                  <span class="menu-icon">
                  <i data-feather="shopping-bag"></i>
                  </span>
                  <%end%>
               </li>
               <li class="menu-item ">
                  <%=link_to admin_users_path, class: "menu-link" do%>
                  <span class="menu-label">
                  <span class="menu-name">Customer</span>
                  </span>
                  <span class="menu-icon">
                  <i data-feather="users"></i>
                  </span>
                  <%end%>
               </li>
            </ul>
         </li>
         <li class="menu-item">
            <a href="#" class="open-dropdown menu-link">
            <span class="menu-label">
            <span class="menu-name">Accounts
            <span class="menu-arrow"></span>
            </span>
            </span>
            <span class="menu-icon">
            <i data-feather="box"></i>
            </span>
            </a>
            <!--submenu-->
            <ul class="sub-menu">
              <li class="menu-item ">
                 <%=link_to admin_income_and_expense_dashboards_path, class: "menu-link" do%>
                 <span class="menu-label">
                 <span class="menu-name">Dashboard</span>
                 </span>
                 <span class="menu-icon">
                 <i data-feather="type"></i>
                 </span>
                 <%end%>
              </li>
              <li class="menu-item ">
                 <%=link_to admin_accounts_path, class: "menu-link" do%>
                 <span class="menu-label">
                 <span class="menu-name">Account</span>
                 </span>
                 <span class="menu-icon">
                 <i data-feather="type"></i>
                 </span>
                 <%end%>
              </li>
              <li class="menu-item ">
                 <%=link_to admin_incomes_path, class: "menu-link" do%>
                 <span class="menu-label">
                 <span class="menu-name">Income</span>
                 </span>
                 <span class="menu-icon">
                 <i data-feather="type"></i>
                 </span>
                 <%end%>
              </li>
              <li class="menu-item ">
                 <%=link_to admin_expenses_path, class: "menu-link" do%>
                 <span class="menu-label">
                 <span class="menu-name">Expense</span>
                 </span>
                 <span class="menu-icon">
                 <i data-feather="type"></i>
                 </span>
                 <%end%>
              </li>
            </ul>
         </li>
         <li class="menu-item">
            <%=link_to edit_admin_setting_path(1), class: "menu-link" do%>
            <span class="menu-label">
            <span class="menu-name">Setting</span>
            </span>
            <span class="menu-icon">
            <i data-feather="settings"></i>
            </span>
            <%end%>
         </li>
      </ul>
   </div>
</aside>
