<header class="admin-header">
   <a href="#" class="sidebar-toggle" data-toggleclass="sidebar-open" data-target="body"></a>
   <nav class=" mr-auto my-auto">
      <ul class="nav align-items-center">
         <li class="nav-item">
            <a class="nav-link  " data-target="#siteSearchModal" data-toggle="modal" href="#">
            <i class=" mdi mdi-magnify mdi-24px align-middle"></i>
            </a>
         </li>
      </ul>
   </nav>
   <nav class=" ml-auto">
      <ul class="nav align-items-center">
         <li class="nav-item dropdown ">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               <div class="avatar avatar-sm avatar-online">
                  <span class="avatar-title rounded-circle bg-dark"><%=current_admin.username[0].capitalize%></span>
               </div>
            </a>
            <div class="dropdown-menu  dropdown-menu-right">
               <a class="dropdown-item" href="#">
               Add Account
               </a>
               <a class="dropdown-item" href="#">
               Reset Password</a>
               <a class="dropdown-item" href="#">
               Help
               </a>
               <div class="dropdown-divider"></div>
               <a class="dropdown-item" href="#">
               </a>
               <%=link_to destroy_admin_session_path, method: :delete, class: "dropdown-item" do%>
               Logout
               <%end%>
            </div>
         </li>
      </ul>
   </nav>
</header>
