<!DOCTYPE html>
<html>
   <head>
      <%if yield(:title).present?%>
      <title>
         <%= yield(:title)%>
      </title>
      <%else%>
      <title><%= "Dashboard | panhara.work"%></title>
      <%end%>
      <%if yield(:meta_description).present?%>
      <meta name="description" content="<%= yield(:meta_description)%>">
      <%else%>
      <meta name="description" content="Hello! My name is Chhouk Tit Panhara. I am a web designer and developer, and I'm very passionate and dedicated to my work. With 4 years experience as a web designer and development, I have acquired the skills and knowledge necessary to make your project a success.">
      <%end%>
      <%= csrf_meta_tags %>
      <meta charset="utf-8" />
      <link rel="icon" type="image/x-icon" href="/img/logo/title.png" />
      <link href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
      <link rel="stylesheet" href='https://cdnjs.cloudflare.com/ajax/libs/authy-form-helpers/2.3/form.authy.min.css'>
      <%= stylesheet_link_tag    'front_end_application', media: 'all', 'data-turbolinks-track': 'reload' %>
   </head>
   <body>
      <div class="panhara_tm_wrapper_all">
         <div id="panhara_tm_popup_blog">
            <div class="container">
               <div class="inner_popup scrollable"></div>
            </div>
            <span class="close">
            <a href="#"></a>
            </span>
         </div>
         <%if params[:params].present?%>
         <%=render "shared/nav2"%>
         <%else%>
         <%=render "applications/nav"%>
         <%end%>
         <%= yield %>
      </div>
      <a class="panhara_tm_totop" href="#">
      <i class="fa fa-angle-up"></i>
      </a>
      <%= javascript_include_tag 'front_end_application', 'data-turbolinks-track': 'reload' %>
      <%=custom_flash_message%>
      <script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/authy-form-helpers/2.3/form.authy.min.js'></script>
   </body>
</html>
