<div class="jumbo-page">
   <main class="">
      <div class="container-fluid">
         <div class="row ">
            <div class="col-lg-4  bg-white">
               <div class="row align-items-center m-h-100">
                  <div class="mx-auto col-md-8">
                     <div class="p-b-20 text-center">
                        <a href="/">
                           <p>
                              <img src="/images/logo.png" width="80" alt="">
                           </p>
                           <p class="admin-brand-content">
                              Panhara.work
                           </p>
                        </a>
                     </div>
                     <h3 class="text-center p-b-20 fw-400">Verify Your Message Code Here</h3>
                     <div class="needs-validation">
                        <%= form_tag users_verify_path do %>
                        <div class="form-row">
                           <div class="form-group floating-label col-md-12">
                              <%= label_tag :code, "Verification Code:" %>
                              <%= text_field_tag :token, '', class: "form-control", placeholder: "Verify Code" %>
                           </div>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block btn-lg">Verify Code</button>
                        <%end%>
                        <br>
                        <%= form_tag users_resend_path do %>
                        <button type="submit" class="btn btn-primary btn-block btn-lg">Resend code</button>
                        <% end %>
                     </div>
                     <p class="text-right p-t-10">
                        <%=link_to "Already verified please sign in!", sign_up_path, class: "text-underline"%>
                     </p>
                  </div>
               </div>
            </div>
            <div class="col-lg-8 d-none d-md-block bg-cover" style="background-image: url('/images/login.svg');">
            </div>
         </div>
      </div>
   </main>
</div>
